Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

♻️ refactor: simplify organization detail page architecture
  sources/web/src/routes/organizations/:id/Fiche.tsx
  sources/web/src/routes/organizations/:id/context.ts
  sources/web/src/routes/organizations/:id/get_organization_by_id.query.ts
  sources/web/src/routes/organizations/:id/index.test.ts
  sources/web/src/routes/organizations/:id/index.tsx
  sources/web/src/routes/organizations/:id/page.tsx
Labels: scope: organizations, scope: routes

♻️ refactor: simplify organization detail page architecture (#1198)
  sources/web/src/routes/organizations/:id/Fiche.tsx
  sources/web/src/routes/organizations/:id/context.ts
  sources/web/src/routes/organizations/:id/get_organization_by_id.query.ts
  sources/web/src/routes/organizations/:id/index.test.ts
  sources/web/src/routes/organizations/:id/index.tsx
  sources/web/src/routes/organizations/:id/page.tsx
Labels: scope: organizations, scope: routes

🔧 refactor: migrate /users/:id/organizations/ to handler-based data loading
  sources/web/src/queries/organizations/GetOrganizationsByUserId.ts
  sources/web/src/queries/organizations/index.ts
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/organizations/context.tsx
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.ts
  sources/web/src/routes/users/:id/organizations/index.test.ts
  sources/web/src/routes/users/:id/organizations/index.tsx
Labels: scope: routes, scope: users

🔧 refactor: migrate /users/:id/organizations/ to handler-based data loading (#1199)
  sources/web/src/queries/organizations/GetOrganizationsByUserId.ts
  sources/web/src/queries/organizations/index.ts
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/organizations/context.tsx
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.ts
  sources/web/src/routes/users/:id/organizations/index.test.ts
  sources/web/src/routes/users/:id/organizations/index.tsx
Labels: scope: routes, scope: users

🔧 refactor: migrate /users/:id/moderations/ to handler-based data loading
  sources/web/src/queries/moderations/GetModerationsByUserId.ts
  sources/web/src/queries/moderations/index.ts
  sources/web/src/routes/users/:id/moderations/Table.tsx
  sources/web/src/routes/users/:id/moderations/context.tsx
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.ts
  sources/web/src/routes/users/:id/moderations/index.test.ts
  sources/web/src/routes/users/:id/moderations/index.tsx
Labels: scope: routes, scope: users

🔧 refactor: migrate /users/:id/moderations/ to handler-based data loading (#1200)
  sources/web/src/queries/moderations/GetModerationsByUserId.ts
  sources/web/src/queries/moderations/index.ts
  sources/web/src/routes/users/:id/moderations/Table.tsx
  sources/web/src/routes/users/:id/moderations/context.tsx
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.ts
  sources/web/src/routes/users/:id/moderations/index.test.ts
  sources/web/src/routes/users/:id/moderations/index.tsx
Labels: scope: routes, scope: users

↗️ [patch](deps): bump @proconnect-gouv/proconnect.identite.database from 0.0.0 to 0.1.0
  bun.lock
  e2e/bun.lock
  e2e/package.json
  sources/web/src/queries/moderations/GetModerationWithDetails.test.ts
  sources/web/src/queries/moderations/UpdateModerationById.test.ts
  sources/web/src/queries/moderations/UpdateModerationById.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_duplicate_moderations.query.test.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.test.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes, scope: users

↗️ Update @proconnect-gouv/proconnect.identite.database" package
  bun.lock
  sources/identite-proconnect/package.json
Labels: none

↗️ [patch](deps): bump @proconnect-gouv/proconnect.identite.database from 0.0.0 to 0.1.0 (#1201)
  bun.lock
  e2e/bun.lock
  e2e/package.json
  sources/identite-proconnect/package.json
  sources/web/src/queries/moderations/GetModerationWithDetails.test.ts
  sources/web/src/queries/moderations/UpdateModerationById.test.ts
  sources/web/src/queries/moderations/UpdateModerationById.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_duplicate_moderations.query.test.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.test.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes, scope: users

♻️ refactor: centralize moderation status and improve comment handling
  e2e/features/moderations/accept_blocking_moderation.feature
  e2e/features/moderations/handle_duplicate_requests.feature
  e2e/features/moderations/reject_blocking_moderation.feature
  hyyypertool.code-workspace
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/identite-proconnect/src/index.ts
  sources/moderations/src/build_moderation_update.ts
  sources/moderations/src/comment_message.ts
  sources/web/src/lib/moderations/comment_message.ts
  sources/web/src/lib/moderations/usecase/GetModerationHeader.ts
  sources/web/src/lib/moderations/usecase/mark_moderation_as.ts
  sources/web/src/queries/moderations/UpdateModerationById.test.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/get_duplicate_moderations.query.test.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_duplicate_moderations.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_moderation_tickets.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.test.ts
  sources/web/src/ui/moderations/Header/Header.test.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/ui/moderations/Header/__snapshots__/Header.test.tsx.snap
Labels: :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

♻️ refactor: centralize moderation status and improve comment handling (#1202)
  e2e/features/moderations/accept_blocking_moderation.feature
  e2e/features/moderations/handle_duplicate_requests.feature
  e2e/features/moderations/reject_blocking_moderation.feature
  hyyypertool.code-workspace
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/identite-proconnect/src/index.ts
  sources/moderations/src/build_moderation_update.ts
  sources/moderations/src/comment_message.ts
  sources/web/src/lib/moderations/comment_message.ts
  sources/web/src/lib/moderations/usecase/GetModerationHeader.ts
  sources/web/src/lib/moderations/usecase/mark_moderation_as.ts
  sources/web/src/queries/moderations/UpdateModerationById.test.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/get_duplicate_moderations.query.test.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_duplicate_moderations.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_moderation_tickets.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.test.ts
  sources/web/src/ui/moderations/Header/Header.test.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/ui/moderations/Header/__snapshots__/Header.test.tsx.snap
Labels: :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

♻️ refactor: migrate moderation detail page to feature-first structure
  sources/web/src/queries/moderations/GetModerationWithDetails.ts
  sources/web/src/queries/organizations/GetOrganizationById.test.ts
  sources/web/src/queries/organizations/GetOrganizationById.ts
  sources/web/src/routes/moderations/:id/AboutOrganization.tsx
  sources/web/src/routes/moderations/:id/ModerationExchanges.tsx
  sources/web/src/routes/moderations/:id/context.ts
  sources/web/src/routes/moderations/:id/get_organization_by_id.query.ts
  sources/web/src/routes/moderations/:id/index.test.ts
  sources/web/src/routes/moderations/:id/index.tsx
  sources/web/src/routes/moderations/:id/page.tsx
Labels: scope: moderations, scope: routes

♻️ refactor: migrate moderation detail page to feature-first structure (#1209)
  sources/web/src/queries/moderations/GetModerationWithDetails.ts
  sources/web/src/queries/organizations/GetOrganizationById.test.ts
  sources/web/src/queries/organizations/GetOrganizationById.ts
  sources/web/src/routes/moderations/:id/AboutOrganization.tsx
  sources/web/src/routes/moderations/:id/ModerationExchanges.tsx
  sources/web/src/routes/moderations/:id/context.ts
  sources/web/src/routes/moderations/:id/get_organization_by_id.query.ts
  sources/web/src/routes/moderations/:id/index.test.ts
  sources/web/src/routes/moderations/:id/index.tsx
  sources/web/src/routes/moderations/:id/page.tsx
Labels: scope: moderations, scope: routes

♻️ refactor: rename App_Env to AppEnv for consistent naming convention
  sources/core/src/config/env.ts
  sources/core/src/config/index.ts
Labels: scope: core

♻️ refactor: migrate error imports from @~/core/error to #src/errors
  sources/core/src/error/index.ts
  sources/web/src/lib/moderations/usecase/CreateAndSendEmailToUser.test.ts
  sources/web/src/lib/moderations/usecase/CreateAndSendEmailToUser.ts
  sources/web/src/lib/moderations/usecase/GetModerationHeader.ts
  sources/web/src/lib/moderations/usecase/RespondToTicket.ts
  sources/web/src/lib/moderations/usecase/SendRejectedMessageToUser.ts
  sources/web/src/lib/organizations/usecase/GetFicheOrganizationById.ts
  sources/web/src/lib/users/usecase/GetUserInfo.ts
  sources/web/src/queries/moderations/GetModerationById.ts
  sources/web/src/queries/moderations/GetModerationWithUser.ts
  sources/web/src/queries/users/GetMember.ts
Labels: scope: core

♻️ refactor: migrate HTTPError from @~/core/error to #src/errors
  sources/core/src/error/index.ts
  sources/identite-proconnect/src/fetch.ts
  sources/web/src/lib/moderations/usecase/GetZammadFromTicketId.ts
  sources/web/src/lib/zammad/fetch.ts
Labels: scope: core

♻️ refactor: remove deprecated @~/core/error module and update imports
  bun.lock
  sources/core/package.json
  sources/core/src/error/index.ts
  sources/web/src/lib/organizations/usecase/AddAuthorizedDomain.test.ts
  sources/web/src/lib/organizations/usecase/AddAuthorizedDomain.ts
Labels: scope: core

refactor: remove env dependency from identite-proconnect SDK via dependency injection
  sources/identite-proconnect/src/fetch.ts
  sources/identite-proconnect/src/index.ts
Labels: none

refactor: extract app config factory function for dependency injection
  sources/core/src/config/index.ts
Labels: scope: core

♻️ refactor: improve dev workflow and API type generation
  hyyypertool.code-workspace
  sources/web/package.json
  sources/web/src/routes.d.ts
Labels: none

♻️ refactor: improve dev workflow and API type generation (#1211)
  hyyypertool.code-workspace
  sources/web/package.json
  sources/web/src/routes.d.ts
Labels: none

✨ Create domains deliverability page
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/main.tsx
  sources/web/src/routes/domains-deliverability/context.ts
  sources/web/src/routes/domains-deliverability/index.tsx
  sources/web/src/routes/domains-deliverability/page.tsx
  sources/web/src/routes/index.ts
Labels: scope: routes

✨ Create AddProblematicDomain section
  sources/web/src/routes/domains-deliverability/AddDomain.tsx
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/domains-deliverability/context.ts
  sources/web/src/routes/domains-deliverability/index.tsx
  sources/web/src/routes/domains-deliverability/page.tsx
Labels: scope: routes

🧪 Add tests
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/delivrability-domain/delivrability-email-domain.feature
  sources/identite-proconnect/src/database/testing/index.ts
  sources/web/src/routes/domains-deliverability/AddDomain.tsx
  sources/web/src/routes/domains-deliverability/index.test.ts
Labels: :traffic_light: e2e, scope: routes

✨ Update context
  sources/web/src/routes/domains-deliverability/context.ts
Labels: scope: routes

🗃️ Create datas, insert & delete
  sources/identite-proconnect/src/database/seed/delete.ts
  sources/identite-proconnect/src/database/seed/email_deliverability_whitelist.ts
  sources/identite-proconnect/src/database/seed/insert.ts
Labels: none

✨ Create array with delete action
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/domains-deliverability/index.tsx
  sources/web/src/routes/domains-deliverability/page.tsx
Labels: scope: routes

↗️ Update routes.d.ts
  sources/web/src/layouts/main.tsx
  sources/web/src/routes.d.ts
  sources/web/src/routes/domains-deliverability/AddDomain.tsx
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/domains-deliverability/index.tsx
Labels: scope: routes

✨ Create domains deliverability page (#1155)
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/delivrability-domain/delivrability-email-domain.feature
  sources/identite-proconnect/src/database/seed/delete.ts
  sources/identite-proconnect/src/database/seed/email_deliverability_whitelist.ts
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/identite-proconnect/src/database/testing/index.ts
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/main.tsx
  sources/web/src/routes.d.ts
  sources/web/src/routes/domains-deliverability/AddDomain.tsx
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/domains-deliverability/context.ts
  sources/web/src/routes/domains-deliverability/index.test.ts
  sources/web/src/routes/domains-deliverability/index.tsx
  sources/web/src/routes/domains-deliverability/page.tsx
  sources/web/src/routes/index.ts
Labels: :traffic_light: e2e, scope: routes

✨ release-it-changeset-plugin
  .release-it-changeset/fist.md
  README.md
  bun.lock
  package.json
  packages/release-it-changeset-plugin/README.md
  packages/release-it-changeset-plugin/package.json
  packages/release-it-changeset-plugin/src/index.test.ts
  packages/release-it-changeset-plugin/src/index.ts
  packages/release-it-changeset-plugin/src/types/conventional-changelog.d.ts
  packages/release-it-changeset-plugin/src/types/release-it.d.ts
  packages/release-it-changeset-plugin/tsconfig.json
Labels: :memo: documentation

🧹 remove testing export from ui barrel file
  sources/web/src/ui/index.ts
Labels: scope: ui

♻️ refactor(domains-deliverability): migrate to feature-first pattern - handler loads data, components receive props
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/domains-deliverability/context.ts
  sources/web/src/routes/domains-deliverability/get_email_deliverability_whitelist.query.ts
  sources/web/src/routes/domains-deliverability/index.tsx
  sources/web/src/routes/domains-deliverability/page.tsx
Labels: scope: routes

♻️ refactor(domains-deliverability): migrate to feature-first pattern - handler loads data, components receive props (#1220)
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/domains-deliverability/context.ts
  sources/web/src/routes/domains-deliverability/get_email_deliverability_whitelist.query.ts
  sources/web/src/routes/domains-deliverability/index.tsx
  sources/web/src/routes/domains-deliverability/page.tsx
Labels: scope: routes

♻️ migrate all zod imports to zod/v4
  sources/core/src/config/env.ts
  sources/core/src/schema/index.ts
  sources/core/src/schema/z_coerce_boolean.ts
  sources/core/src/schema/z_email_domain.ts
  sources/core/src/schema/z_empty_string_to_undefined.ts
  sources/core/src/schema/z_username.ts
  sources/identite-proconnect/src/database/email_domain.ts
  sources/moderations/src/comment_message.ts
  sources/web/src/config/env.ts
  sources/web/src/htmx/index.ts
  sources/web/src/lib/crisp/index.ts
  sources/web/src/lib/moderations/Moderation_Type.ts
  sources/web/src/lib/moderations/event.ts
  sources/web/src/lib/moderations/schema/rejected.form.ts
  sources/web/src/lib/moderations/schema/validate.form.ts
  sources/web/src/lib/organizations/event.ts
  sources/web/src/lib/zammad/const.ts
  sources/web/src/lib/zammad/is_zammad_ticket.ts
  sources/web/src/middleware/config/set_config.test.ts
  sources/web/src/routes/assets/zammad/index.ts
  sources/web/src/routes/auth/index.ts
  sources/web/src/routes/domains-deliverability/context.ts
  sources/web/src/routes/domains-deliverability/index.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/index.tsx
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/organizations/:id/domains/context.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
  sources/web/src/routes/organizations/:id/members/index.tsx
  sources/web/src/routes/organizations/leaders/index.tsx
  sources/web/src/routes/users/:id/organizations/context.tsx
Labels: scope: core, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: users

♻️ migrate all zod imports to zod/v4 (#1221)
  sources/core/src/config/env.ts
  sources/core/src/schema/index.ts
  sources/core/src/schema/z_coerce_boolean.ts
  sources/core/src/schema/z_email_domain.ts
  sources/core/src/schema/z_empty_string_to_undefined.ts
  sources/core/src/schema/z_username.ts
  sources/identite-proconnect/src/database/email_domain.ts
  sources/moderations/src/comment_message.ts
  sources/web/src/config/env.ts
  sources/web/src/htmx/index.ts
  sources/web/src/lib/crisp/index.ts
  sources/web/src/lib/moderations/Moderation_Type.ts
  sources/web/src/lib/moderations/event.ts
  sources/web/src/lib/moderations/schema/rejected.form.ts
  sources/web/src/lib/moderations/schema/validate.form.ts
  sources/web/src/lib/organizations/event.ts
  sources/web/src/lib/zammad/const.ts
  sources/web/src/lib/zammad/is_zammad_ticket.ts
  sources/web/src/middleware/config/set_config.test.ts
  sources/web/src/routes/assets/zammad/index.ts
  sources/web/src/routes/auth/index.ts
  sources/web/src/routes/domains-deliverability/context.ts
  sources/web/src/routes/domains-deliverability/index.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/index.tsx
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/organizations/:id/domains/context.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
  sources/web/src/routes/organizations/:id/members/index.tsx
  sources/web/src/routes/organizations/leaders/index.tsx
  sources/web/src/routes/users/:id/organizations/context.tsx
Labels: scope: core, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: users

♻️ go crazy for 2026
  bin/build.ts
  bun.lock
  bunfig.toml
  package.json
  sources/config/happydom/package.json
  sources/web/package.json
  sources/web/src/routes/welcome/ScrollingTitleWall.tsx
  sources/web/src/routes/welcome/Titles.tsx
  sources/web/src/routes/welcome/_client/hyyypertitle.ts
  sources/web/src/routes/welcome/index.tsx
Labels: scope: routes

♻️ refactor(crisp): migrate to singleton dependency injector pattern
  sources/web/src/middleware/context/context.ts
  sources/web/src/middleware/crisp/index.test.ts
  sources/web/src/middleware/crisp/index.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/:id/email/index.tsx
  sources/web/src/routes/moderations/:id/procedures_context.ts
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/:id/index.tsx
Labels: scope: middleware, scope: moderations, scope: routes, scope: users

♻️ refactor(crisp): migrate to singleton dependency injector pattern (#1224)
  sources/web/src/middleware/context/context.ts
  sources/web/src/middleware/crisp/index.test.ts
  sources/web/src/middleware/crisp/index.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/:id/email/index.tsx
  sources/web/src/routes/moderations/:id/procedures_context.ts
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/:id/index.tsx
Labels: scope: middleware, scope: moderations, scope: routes, scope: users

:bookmark: release 2025.11.2
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✍️ Fix little coquille
  sources/web/src/routes/moderations/:id/mark_as_validated.ts
Labels: scope: moderations, scope: routes
