Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

📝 docs: use a fixed list of allowed users [skip ci] (#1344)
  .release-it-changeset/150912139_feature
Labels: none

📝 docs: Update changeset command format in README
  README.md
Labels: :memo: documentation

dependabot: exclude @proconnect-gouv/* from cooldown
  .github/dependabot.yml
Labels: :construction_worker: CI

dependabot: make prettier happy
  .github/dependabot.yml
Labels: :construction_worker: CI

dependabot: make prettier happy (#1353)
  .github/dependabot.yml
Labels: :construction_worker: CI

compatibility update
  e2e/features/organizations/member_actions.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/identite-proconnect/src/types/index.ts
  sources/web/src/lib/moderations/schema/validate.form.ts
  sources/web/src/queries/moderations/GetModerationWithUser.ts
  sources/web/src/queries/users/UpdateUserByIdInOrganization.test.ts
  sources/web/src/queries/users/UpdateUserByIdInOrganization.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
  sources/web/src/routes/organizations/:id/members/Table.tsx
Labels: :traffic_light: e2e, scope: organizations, scope: routes

📝 add a changeset
  .release-it-changeset/224907331_bug
Labels: none

⚡ fix lagging script by removing wild intalls
  e2e/package.json
  hyyypertool.code-workspace
  package.json
  sources/web/package.json
Labels: :traffic_light: e2e

⚡ fix lagging script by removing wild intalls (#1356)
  e2e/package.json
  hyyypertool.code-workspace
  package.json
  sources/web/package.json
Labels: :traffic_light: e2e

:bookmark: release 2026.1.4
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 missing extension on changeset files [skip ci]
  .release-it-changeset/150912139_feature.md
  .release-it-changeset/224907331_bug.md
Labels: :memo: documentation

🐛 missing extension on changeset files [skip ci] (#1357)
  .release-it-changeset/150912139_feature.md
  .release-it-changeset/224907331_bug.md
Labels: :memo: documentation

:bookmark: release 2026.1.5
  .release-it-changeset/150912139_feature.md
  .release-it-changeset/224907331_bug.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

📝 refine the release it changeset examples [skip ci]
  README.md
  packages/release-it-changeset-plugin/README.md
Labels: :memo: documentation

📝 refine the release it changeset examples [skip ci] (#1358)
  README.md
  packages/release-it-changeset-plugin/README.md
Labels: :memo: documentation

🧪 reintroduce hx_url unit tests
  sources/web/src/urls/hx_urls.test.ts
Labels: none

♻️ refactor hx_urls to be synchronous and consolidate with urls
  sources/web/src/layouts/main.tsx
  sources/web/src/middleware/auth/NotAuthorized.tsx
  sources/web/src/routes/auth/index.ts
  sources/web/src/routes/domains-deliverability/AddDomain.tsx
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/moderations/:id/ModerationExchanges.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/not-found.tsx
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/organizations/:id/not-found.tsx
  sources/web/src/routes/organizations/:id/page.tsx
  sources/web/src/routes/organizations/domains/index.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/leaders/index.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/moderations/Table.tsx
  sources/web/src/routes/users/:id/not-found.tsx
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/routes/users/index.tsx
  sources/web/src/routes/users/page.tsx
  sources/web/src/routes/welcome/index.tsx
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/DomainsByOrganization/DomainsByOrganization.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/ui/moderations/OrganizationsByUser/OrganizationsByUser.tsx
  sources/web/src/ui/moderations/UsersByOrganization/UsersByOrganization.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/organizations/info/Investigation.tsx
  sources/web/src/ui/users/About/About.tsx
  sources/web/src/urls/hx_urls.test.ts
  sources/web/src/urls/hx_urls.ts
  sources/web/src/urls/index.ts
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

♻️ refactor urls to be synchronous and consolidate with hx_urls
  sources/web/src/layouts/main.tsx
  sources/web/src/middleware/auth/NotAuthorized.tsx
  sources/web/src/routes/auth/index.ts
  sources/web/src/routes/domains-deliverability/AddDomain.tsx
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/moderations/:id/ModerationExchanges.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/not-found.tsx
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/organizations/:id/not-found.tsx
  sources/web/src/routes/organizations/:id/page.tsx
  sources/web/src/routes/organizations/domains/index.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/leaders/index.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/moderations/Table.tsx
  sources/web/src/routes/users/:id/not-found.tsx
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/routes/users/index.tsx
  sources/web/src/routes/users/page.tsx
  sources/web/src/routes/welcome/index.tsx
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/DomainsByOrganization/DomainsByOrganization.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/ui/moderations/OrganizationsByUser/OrganizationsByUser.tsx
  sources/web/src/ui/moderations/UsersByOrganization/UsersByOrganization.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/organizations/info/Investigation.tsx
  sources/web/src/ui/users/About/About.tsx
  sources/web/src/urls/index.ts
  sources/web/src/urls/urls.test.ts
  sources/web/src/urls/urls.ts
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

🧪 reintroduce hx_url unit tests (#1359)
  sources/web/src/routes/domains-deliverability/AddDomain.tsx
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/moderations/:id/ModerationExchanges.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/organizations/:id/page.tsx
  sources/web/src/routes/organizations/domains/index.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/leaders/index.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/:id/moderations/Table.tsx
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/routes/users/page.tsx
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/DomainsByOrganization/DomainsByOrganization.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/ui/moderations/OrganizationsByUser/OrganizationsByUser.tsx
  sources/web/src/ui/moderations/UsersByOrganization/UsersByOrganization.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/organizations/info/Investigation.tsx
  sources/web/src/ui/users/About/About.tsx
  sources/web/src/urls/hx_urls.ts
  sources/web/src/urls/index.ts
  sources/web/src/urls/urls.test.ts
  sources/web/src/urls/urls.ts
Labels: scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

✨ add franceconnect section
  .release-it-changeset/440002518_feature.md
  e2e/features/users/raphael_alpha.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/routes/users/:id/get_franceconnect_by_user_id.query.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/page.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: routes, scope: users

🐛 allow username to be null
  .release-it-changeset/339360438_bug.md
  sources/core/src/schema/z_username.test.ts
  sources/core/src/schema/z_username.ts
Labels: :memo: documentation, scope: core

✨ add franceconnect section (#1360)
  .release-it-changeset/440002518_feature.md
  e2e/features/users/raphael_alpha.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/routes/users/:id/get_franceconnect_by_user_id.query.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/page.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: routes, scope: users

🐛 allow username to be null (#1361)
  .release-it-changeset/339360438_bug.md
  sources/core/src/schema/z_username.test.ts
  sources/core/src/schema/z_username.ts
Labels: :memo: documentation, scope: core

:bookmark: release 2026.1.6
  .release-it-changeset/339360438_bug.md
  .release-it-changeset/440002518_feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

force zod@4.3.6 in lockfile
  bun.lock
Labels: none

🐛 use safeParse for verification type in members table
  sources/web/src/routes/organizations/:id/members/Table.tsx
Labels: scope: organizations, scope: routes

🐛 use safeParse for verification type in members table (#1362)
  sources/web/src/routes/organizations/:id/members/Table.tsx
Labels: scope: organizations, scope: routes

📝 add release note for verification type fix
  .release-it-changeset/1770033664-bug.md
Labels: :memo: documentation

📝 add release note for verification type fix (#1363)
  .release-it-changeset/1770033664-bug.md
Labels: :memo: documentation

:bookmark: release 2026.2.0
  .release-it-changeset/1770033664-bug.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 fix deforestation workflow permissions and scheduled run behavior
  .github/workflows/release_cron.yaml
Labels: :construction_worker: CI

🐛 fix deforestation workflow permissions and scheduled run behavior (#1364)
  .github/workflows/release_cron.yaml
Labels: :construction_worker: CI

🐛 restore verified_by_coop_mediation_numerique action
  .release-it-changeset/936778798_bug.md
  e2e/features/organizations/member_actions.feature
  sources/web/src/routes/organizations/:id/members/Table.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: organizations, scope: routes

🐛 restore verified_by_coop_mediation_numerique action (#1369)
  .release-it-changeset/936778798_bug.md
  e2e/features/organizations/member_actions.feature
  sources/web/src/routes/organizations/:id/members/Table.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: organizations, scope: routes

:bookmark: release 2026.2.1
  .release-it-changeset/936778798_bug.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ add ordre_professionnel_domain verification type on accepted moderation
  .release-it-changeset/224336696+feature.md
  e2e/features/moderations/select_verification_type.feature
  sources/web/src/ui/moderations/Actions/TagInput.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: ui

✨ add ordre_professionnel_domain verification type on accepted moderation (#1370)
  .release-it-changeset/224336696+feature.md
  e2e/features/moderations/select_verification_type.feature
  sources/web/src/ui/moderations/Actions/TagInput.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: ui

💄 format the gherkin files with prettier
  bun.lock
  e2e/features/auth/connexion.feature
  e2e/features/delivrability-domain/delivrability-email-domain.feature
  e2e/features/moderations/accept_blocking_moderation.feature
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/moderations/filter_by_moderator.feature
  e2e/features/moderations/handle_big_organization.feature
  e2e/features/moderations/handle_duplicate_requests.feature
  e2e/features/moderations/manage_external_domain.feature
  e2e/features/moderations/manage_internal_domain.feature
  e2e/features/moderations/reject_blocking_moderation.feature
  e2e/features/moderations/reprocess_completed_moderation.feature
  e2e/features/moderations/select_verification_type.feature
  e2e/features/moderations/validate_similar_moderations.feature
  e2e/features/moderations/verify_domain.feature
  e2e/features/organizations/dinum.feature
  e2e/features/organizations/member_actions.feature
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael_alpha.feature
  e2e/features/users/raphael_beta.feature
  package.json
Labels: :traffic_light: e2e

💄 format the gherkin files with prettier (#1371)
  bun.lock
  e2e/features/auth/connexion.feature
  e2e/features/delivrability-domain/delivrability-email-domain.feature
  e2e/features/moderations/accept_blocking_moderation.feature
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/moderations/filter_by_moderator.feature
  e2e/features/moderations/handle_big_organization.feature
  e2e/features/moderations/handle_duplicate_requests.feature
  e2e/features/moderations/manage_external_domain.feature
  e2e/features/moderations/manage_internal_domain.feature
  e2e/features/moderations/reject_blocking_moderation.feature
  e2e/features/moderations/reprocess_completed_moderation.feature
  e2e/features/moderations/select_verification_type.feature
  e2e/features/moderations/validate_similar_moderations.feature
  e2e/features/moderations/verify_domain.feature
  e2e/features/organizations/dinum.feature
  e2e/features/organizations/member_actions.feature
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael_alpha.feature
  e2e/features/users/raphael_beta.feature
  package.json
Labels: :traffic_light: e2e

:bookmark: release 2026.2.2
  .release-it-changeset/224336696+feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation
