Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

🐛 moderations: set status to reopened when reprocessing (#1440)
  .release-it-changeset/1772193853-reprocess-moderation-statut-reopened.md
  sources/web/src/routes/moderations/:id/reprocess/index.test.ts
  sources/web/src/routes/moderations/:id/reprocess/index.ts
Labels: :memo: documentation, scope: moderations, scope: routes

:bookmark: release 2026.2.13
  .release-it-changeset/1772193853-reprocess-moderation-statut-reopened.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🚥 e2e(moderations): test automatic domain verification for weak member links
  e2e/features/moderations/manage_internal_domain.feature
  e2e/features/moderations/select_verification_type.feature
  sources/identite-proconnect/src/database/seed/insert.ts
Labels: :traffic_light: e2e

🐛 update the moderation ticket if created at processed
  .release-it-changeset/598701084+refacto.md
  sources/web/src/lib/organizations/usecase/AddVerifiedDomain.test.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
Labels: :memo: documentation, scope: moderations, scope: routes

🐛 update the moderation ticket if created at processed (#1442)
  .release-it-changeset/598701084+refacto.md
  sources/web/src/lib/organizations/usecase/AddVerifiedDomain.test.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
Labels: :memo: documentation, scope: moderations, scope: routes

:bookmark: release 2026.3.0
  .release-it-changeset/598701084+refacto.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 revert to visible hide prefix on filters
  .release-it-changeset/733614644_bug.md
  sources/web/src/routes/moderations/page.tsx
Labels: :memo: documentation, scope: moderations, scope: routes

🐛 revert to visible hide prefix on filters (#1443)
  .release-it-changeset/733614644_bug.md
  sources/web/src/routes/moderations/page.tsx
Labels: :memo: documentation, scope: moderations, scope: routes

🐛 restore Crisp moderator identity on notifications
  .release-it-changeset/1772465827-crisp-operator-identity.md
  sources/web/src/lib/crisp/api.ts
  sources/web/src/lib/moderations/usecase/send_crisp_notification.ts
  sources/web/src/routes/moderations/:id/rejected/index.test.ts
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/moderations/:id/rejected/mark_as_rejected.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
Labels: :memo: documentation, scope: moderations, scope: routes

🐛 restore Crisp moderator identity on notifications (#1444)
  .release-it-changeset/1772465827-crisp-operator-identity.md
  sources/web/src/lib/crisp/api.ts
  sources/web/src/lib/moderations/usecase/send_crisp_notification.ts
  sources/web/src/routes/moderations/:id/rejected/index.test.ts
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/moderations/:id/rejected/mark_as_rejected.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
Labels: :memo: documentation, scope: moderations, scope: routes

:bookmark: release 2026.3.1
  .release-it-changeset/1772465827-crisp-operator-identity.md
  .release-it-changeset/733614644_bug.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 linked member updated when patching email domain
  .release-it-changeset/1772471981-patch-domaine-met-a-jour-membres.md
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/identite-proconnect/src/database/seed/users/jeanyeshack.ts
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/src/routes/organizations/:id/page.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: organizations, scope: routes

🐛 linked member updated when patching email domain (#1446)
  .release-it-changeset/1772471981-patch-domaine-met-a-jour-membres.md
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/identite-proconnect/src/database/seed/users/jeanyeshack.ts
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/src/routes/organizations/:id/page.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: organizations, scope: routes

:bookmark: release 2026.3.2
  .release-it-changeset/1772471981-patch-domaine-met-a-jour-membres.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🚮 officialy remove @~/core
  bin/package.json
  bin/tsconfig.json
  bun.lock
  hyyypertool.code-workspace
  package.json
  sources/core/package.json
  sources/core/src/config/env.ts
  sources/core/src/config/index.ts
  sources/core/src/index.ts
  sources/core/src/schema/index.ts
  sources/core/src/schema/z_email_domain.test.ts
  sources/core/src/schema/z_email_domain.ts
  sources/core/src/schema/z_empty_string_to_undefined.ts
  sources/core/src/schema/z_username.test.ts
  sources/core/src/schema/z_username.ts
  sources/core/tsconfig.json
  sources/identite-proconnect/package.json
  sources/identite-proconnect/tsconfig.json
  sources/moderations/package.json
  sources/moderations/tsconfig.json
  sources/web/package.json
  sources/web/tsconfig.json
Labels: scope: core

🚮 officialy remove @~/organizations
  CONTRIBUTING.md
  bun.lock
  package.json
  sources/organizations/package.json
  sources/organizations/tsconfig.json
  sources/web/package.json
  sources/web/tsconfig.json
Labels: :memo: documentation

📝 docs: align CONTRIBUTING.md with actual codebase patterns
  .github/workflows/e2e.yml
  CONTRIBUTING.md
  hyyypertool.code-workspace
  mocks/docker-compose.mocks.yaml
  mocks/identite.proconnect.gouv.fr/mockserverInitialization.json
  sources/web/src/layouts/main.tsx
  sources/web/src/routes/assets/zammad/index.ts
  sources/web/src/routes/auth/index.ts
  sources/web/src/routes/domains-deliverability/index.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/index.tsx
  sources/web/src/routes/moderations/:id/email/index.tsx
  sources/web/src/routes/moderations/:id/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/src/routes/organizations/:id/index.tsx
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/organizations/:id/members/index.tsx
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.ts
  sources/web/src/routes/organizations/domains/index.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/index.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/moderations/index.tsx
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/organizations/context.tsx
  sources/web/src/routes/users/:id/organizations/index.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/routes/users/page.tsx
  sources/web/src/ui/users/About/About.tsx
  sources/web/src/ui/users/Investigation/Investigation.tsx
Labels: :construction_worker: CI, :memo: documentation, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

🚮 remove zammad integration
  .env
  .release-it-changeset/1772469440-suppression-zammad.md
  e2e/features/moderations/handle_duplicate_requests.feature
  e2e/features/moderations/reject_blocking_moderation.feature
  mocks/api.crisp.chat/mockserverInitialization.json
  sources/web/src/config/env.ts
  sources/web/src/lib/moderations/usecase/GetZammadFromTicketId.ts
  sources/web/src/lib/moderations/usecase/index.ts
  sources/web/src/lib/zammad/const.ts
  sources/web/src/lib/zammad/fetch.ts
  sources/web/src/lib/zammad/get_zammad_attachment.ts
  sources/web/src/lib/zammad/get_zammad_mail.ts
  sources/web/src/lib/zammad/index.ts
  sources/web/src/lib/zammad/is_zammad_ticket.ts
  sources/web/src/lib/zammad/types.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/assets/index.ts
  sources/web/src/routes/assets/zammad/index.test.ts
  sources/web/src/routes/assets/zammad/index.ts
  sources/web/src/routes/error.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/get_moderation_tickets.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_user_by_id.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.test.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.tsx
  sources/web/src/routes/moderations/:id/email/Message.tsx
  sources/web/src/routes/moderations/:id/email/Zammad.tsx
  sources/web/src/routes/moderations/:id/email/index.tsx
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/readyz/index.ts
  sources/web/src/ui/moderations/FindCorrespondingEmail/FindCorrespondingEmail.tsx
  sources/web/src/ui/zammad/components/OpenInZammad.tsx
  sources/web/src/ui/zammad/components/SearchInZammad.tsx
  sources/web/src/ui/zammad/components/index.ts
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

🚮 remove zammad integration (#1445)
  .env
  .release-it-changeset/1772469440-suppression-zammad.md
  e2e/features/moderations/handle_duplicate_requests.feature
  e2e/features/moderations/reject_blocking_moderation.feature
  mocks/api.crisp.chat/mockserverInitialization.json
  sources/web/src/config/env.ts
  sources/web/src/lib/moderations/usecase/GetZammadFromTicketId.ts
  sources/web/src/lib/moderations/usecase/index.ts
  sources/web/src/lib/zammad/const.ts
  sources/web/src/lib/zammad/fetch.ts
  sources/web/src/lib/zammad/get_zammad_attachment.ts
  sources/web/src/lib/zammad/get_zammad_mail.ts
  sources/web/src/lib/zammad/index.ts
  sources/web/src/lib/zammad/is_zammad_ticket.ts
  sources/web/src/lib/zammad/types.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/assets/index.ts
  sources/web/src/routes/assets/zammad/index.test.ts
  sources/web/src/routes/assets/zammad/index.ts
  sources/web/src/routes/error.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/get_moderation_tickets.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_user_by_id.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.test.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.tsx
  sources/web/src/routes/moderations/:id/email/Message.tsx
  sources/web/src/routes/moderations/:id/email/Zammad.tsx
  sources/web/src/routes/moderations/:id/email/index.tsx
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/readyz/index.ts
  sources/web/src/ui/moderations/FindCorrespondingEmail/FindCorrespondingEmail.tsx
  sources/web/src/ui/zammad/components/OpenInZammad.tsx
  sources/web/src/ui/zammad/components/SearchInZammad.tsx
  sources/web/src/ui/zammad/components/index.ts
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

✨ add `withLink` prop to `About` organization component
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/ui/organizations/info/About.tsx
Labels: scope: moderations, scope: organizations, scope: routes, scope: ui

✨ Add tranche_effectifs_unite_legale to organization component
  sources/identite-proconnect/src/database/seed/organizations/abracadabra.ts
  sources/web/src/lib/organizations/usecase/GetFicheOrganizationById.ts
  sources/web/src/queries/moderations/GetModerationWithDetails.ts
  sources/web/src/routes/moderations/:id/get_organization_by_id.query.ts
  sources/web/src/routes/organizations/:id/get_organization_by_id.query.ts
  sources/web/src/ui/organizations/info/About.tsx
Labels: scope: moderations, scope: organizations, scope: routes, scope: ui

💄 Add margin bottom to InactiveWarning for better display
  sources/web/src/ui/organizations/info/InactiveWarning.tsx
Labels: scope: organizations, scope: ui

🧪 Update tests
  e2e/features/organizations/dinum.feature
  sources/web/src/queries/moderations/GetModerationWithDetails.test.ts
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/__snapshots__/InactiveWarning.test.tsx.snap
Labels: :traffic_light: e2e, scope: organizations, scope: ui

✨ Add tranche_effectifs_unite_legale to organization component (#1449)
  e2e/features/organizations/dinum.feature
  sources/identite-proconnect/src/database/seed/organizations/abracadabra.ts
  sources/web/src/lib/organizations/usecase/GetFicheOrganizationById.ts
  sources/web/src/queries/moderations/GetModerationWithDetails.test.ts
  sources/web/src/queries/moderations/GetModerationWithDetails.ts
  sources/web/src/routes/moderations/:id/get_organization_by_id.query.ts
  sources/web/src/routes/organizations/:id/get_organization_by_id.query.ts
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/organizations/info/InactiveWarning.tsx
  sources/web/src/ui/organizations/info/__snapshots__/InactiveWarning.test.tsx.snap
Labels: :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui

⚰️ Delete dead url sirene.fr
  e2e/features/organizations/dinum.feature
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
Labels: :traffic_light: e2e, scope: organizations, scope: ui

✨ Separates title from component
  .release-it-changeset/1772706124-feature.md
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/organizations/:id/Fiche.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/users/About/About.tsx
Labels: :memo: documentation, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

⚰️ Delete dead url sirene.fr (#1450)
  e2e/features/organizations/dinum.feature
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
Labels: :traffic_light: e2e, scope: organizations, scope: ui

Update .release-it-changeset/1772706124-feature.md
  .release-it-changeset/1772706124-feature.md
Labels: :memo: documentation

✨ Separates title from component (#1473)
  .release-it-changeset/1772706124-feature.md
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/organizations/:id/Fiche.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/users/About/About.tsx
Labels: :memo: documentation, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

♻️ refactor(config): reorganize configuration and middleware structure
  bin/src/bun/index.ts
  bin/src/node/index.ts
  bin/src/node/instrument.ts
  sources/web/src/config/env.ts
  sources/web/src/config/index.ts
  sources/web/src/html/ClientScript.tsx
  sources/web/src/layouts/root.ts
  sources/web/src/middleware/auth/NotAuthorized.tsx
  sources/web/src/middleware/auth/authorized.ts
  sources/web/src/middleware/cache/cache_immutable.ts
  sources/web/src/middleware/config/set_config.test.ts
  sources/web/src/middleware/config/set_config.ts
  sources/web/src/middleware/context/context.ts
  sources/web/src/middleware/crisp/index.ts
  sources/web/src/middleware/session/hyyypersession.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/assets/config.ts
  sources/web/src/routes/assets/index.ts
  sources/web/src/routes/assets/rewrite.ts
  sources/web/src/routes/auth/agentconnect.ts
  sources/web/src/routes/auth/index.test.ts
  sources/web/src/routes/auth/index.ts
  sources/web/src/routes/domains-deliverability/index.test.ts
  sources/web/src/routes/error.tsx
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/:id/email/index.tsx
  sources/web/src/routes/moderations/:id/index.tsx
  sources/web/src/routes/moderations/:id/not-found.tsx
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/not-found.tsx
  sources/web/src/routes/organizations/:id/index.tsx
  sources/web/src/routes/organizations/:id/not-found.tsx
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/routes/organizations/leaders/index.tsx
  sources/web/src/routes/readyz/index.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/not-found.tsx
  sources/web/src/routes/welcome/index.tsx
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: users

♻️ refactor(config): reorganize configuration and middleware structure (#1474)
  bin/src/bun/index.ts
  bin/src/node/index.ts
  bin/src/node/instrument.ts
  sources/web/src/config/env.ts
  sources/web/src/config/index.ts
  sources/web/src/html/ClientScript.tsx
  sources/web/src/layouts/root.ts
  sources/web/src/middleware/auth/NotAuthorized.tsx
  sources/web/src/middleware/auth/authorized.ts
  sources/web/src/middleware/cache/cache_immutable.ts
  sources/web/src/middleware/config/set_config.test.ts
  sources/web/src/middleware/config/set_config.ts
  sources/web/src/middleware/context/context.ts
  sources/web/src/middleware/crisp/index.ts
  sources/web/src/middleware/session/hyyypersession.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/assets/config.ts
  sources/web/src/routes/assets/index.ts
  sources/web/src/routes/assets/rewrite.ts
  sources/web/src/routes/auth/agentconnect.ts
  sources/web/src/routes/auth/index.test.ts
  sources/web/src/routes/auth/index.ts
  sources/web/src/routes/domains-deliverability/index.test.ts
  sources/web/src/routes/error.tsx
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/:id/email/index.tsx
  sources/web/src/routes/moderations/:id/index.tsx
  sources/web/src/routes/moderations/:id/not-found.tsx
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/not-found.tsx
  sources/web/src/routes/organizations/:id/index.tsx
  sources/web/src/routes/organizations/:id/not-found.tsx
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/routes/organizations/leaders/index.tsx
  sources/web/src/routes/readyz/index.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/not-found.tsx
  sources/web/src/routes/welcome/index.tsx
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: users

add updated_by and remove the god role as default
  .env
  bin/src/bun/index.ts
  bin/src/node/index.ts
  sources/hyyyperbase/.gitignore
  sources/hyyyperbase/README.md
  sources/hyyyperbase/bin/migrate.ts
  sources/hyyyperbase/bin/seed.ts
  sources/hyyyperbase/migrations/0001_wealthy_deathstrike.sql
  sources/hyyyperbase/migrations/meta/0001_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
  sources/hyyyperbase/src/as_user.test.ts
  sources/hyyyperbase/src/as_user.ts
  sources/hyyyperbase/src/index.ts
  sources/hyyyperbase/src/policies.test.ts
  sources/hyyyperbase/src/schema.ts
  sources/hyyyperbase/src/seed_admins.ts
  sources/hyyyperbase/src/testing/users.ts
  sources/web/src/config/admin_emails.ts
  sources/web/src/config/env.ts
  sources/web/src/config/index.ts
  sources/web/src/middleware/auth/authorized.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/page.tsx
Labels: :memo: documentation, scope: middleware, scope: moderations, scope: routes

🩹 (hyyyperbase) trim README, use as_god in seed, fix Tx type
  sources/hyyyperbase/README.md
  sources/hyyyperbase/bin/seed.ts
  sources/hyyyperbase/src/as_user.ts
Labels: :memo: documentation

♻️ (middleware) simplify set_hyyyper_pg to accept pre-created drizzle
  sources/web/src/middleware/context/context.ts
  sources/web/src/middleware/hyyyperbase/set_hyyyperbase.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/readyz/index.ts
Labels: scope: middleware, scope: routes

🛂 (auth) dual authorization via env ALLOWED_USERS + hyyyperbase users
  sources/web/src/middleware/auth/authorized.test.ts
  sources/web/src/middleware/auth/authorized.ts
  sources/web/src/middleware/auth/authorized.tsx
  sources/web/src/middleware/auth/index.ts
  sources/web/src/middleware/auth/vip_list.guard.test.ts
  sources/web/src/middleware/auth/vip_list.guard.tsx
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/search-moderated-by.client.tsx
Labels: scope: middleware, scope: moderations, scope: routes

✨ (moderations) populate moderator filter from DB + env
  sources/web/src/routes/moderations/get_moderators_list.query.test.ts
  sources/web/src/routes/moderations/get_moderators_list.query.ts
Labels: scope: moderations, scope: routes

♻️ (config) restore origin/main env bindings pattern
  sources/web/src/config/env.ts
  sources/web/src/config/index.ts
  sources/web/src/middleware/auth/authorized.tsx
  sources/web/src/middleware/config/set_config.ts
  sources/web/src/middleware/crisp/index.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/readyz/index.ts
Labels: scope: middleware, scope: routes

✨ (hyyyyperbase) add as_god to bypass authorization in tests
  sources/hyyyperbase/src/as_user.test.ts
  sources/hyyyperbase/src/as_user.ts
  sources/hyyyperbase/src/index.ts
  sources/web/src/middleware/auth/authorized.tsx
Labels: scope: middleware

chore: make prettier happy
  sources/hyyyperbase/bin/seed.ts
  sources/web/src/routes/readyz/index.ts
Labels: scope: routes

chore: make typescript happy
  bun.lock
Labels: none
