Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

test(moderations): add route test for processed
  sources/web/src/routes/moderations/:id/processed.test.ts
Labels: scope: moderations, scope: routes

fix(moderations): use simpler type assertion in validate test
  sources/web/src/routes/moderations/:id/validate.test.ts
Labels: scope: moderations, scope: routes

fix(moderations): correct typo in mark_moderation_as_rejected
  sources/web/src/lib/moderations/usecase/index.ts
  sources/web/src/lib/moderations/usecase/mark_moderation_as_rejected.ts
  sources/web/src/routes/moderations/:id/mark_as_processed.ts
Labels: scope: moderations, scope: routes

fix(organizations): correct typo in get_organization_domains
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/domains/context.ts
  sources/web/src/routes/organizations/:id/domains/get_organization_domains.ts
Labels: scope: organizations, scope: routes

refactor(moderations): inline usecase logic into wrappers
  sources/web/src/lib/moderations/usecase/ReprocessModerationById.test.ts
  sources/web/src/lib/moderations/usecase/ReprocessModerationById.ts
  sources/web/src/lib/moderations/usecase/mark_moderation_as_rejected.ts
  sources/web/src/routes/moderations/:id/mark_as_processed.ts
  sources/web/src/routes/moderations/:id/mark_as_reprocessed.ts
  sources/web/src/routes/moderations/:id/mark_as_validated.ts
Labels: scope: moderations, scope: routes

refactor(moderations): move pure logic to @~/moderations domain package
  bun.lock
  package.json
  sources/moderations/package.json
  sources/moderations/src/build_moderation_update.test.ts
  sources/moderations/src/build_moderation_update.ts
  sources/moderations/src/comment_message.ts
  sources/moderations/tsconfig.json
  sources/web/package.json
  sources/web/src/lib/moderations/index.ts
  sources/web/src/routes/moderations/:id/mark_as_processed.ts
  sources/web/src/routes/moderations/:id/mark_as_validated.ts
Labels: scope: moderations, scope: routes

refactor(moderations): extract pure logic to build_moderation_update
  sources/web/src/lib/moderations/build_moderation_update.test.ts
  sources/web/src/lib/moderations/build_moderation_update.ts
  sources/web/src/lib/moderations/index.ts
  sources/web/src/lib/moderations/usecase/index.ts
  sources/web/src/routes/moderations/:id/mark_as_processed.ts
  sources/web/src/routes/moderations/:id/mark_as_validated.ts
Labels: scope: moderations, scope: routes

♻️ refactor(moderations): extract reprocess logic to thin wrapper (#1182)
  bun.lock
  package.json
  sources/moderations/package.json
  sources/moderations/src/build_moderation_update.test.ts
  sources/moderations/src/build_moderation_update.ts
  sources/moderations/src/comment_message.ts
  sources/moderations/tsconfig.json
  sources/web/package.json
  sources/web/src/lib/moderations/usecase/ReprocessModerationById.test.ts
  sources/web/src/lib/moderations/usecase/ReprocessModerationById.ts
  sources/web/src/lib/moderations/usecase/index.ts
  sources/web/src/lib/moderations/usecase/mark_moderatio_as_rejected.ts
  sources/web/src/routes/moderations/:id/mark_as_processed.ts
  sources/web/src/routes/moderations/:id/mark_as_rejected.ts
  sources/web/src/routes/moderations/:id/mark_as_reprocessed.ts
  sources/web/src/routes/moderations/:id/mark_as_validated.ts
  sources/web/src/routes/moderations/:id/processed.test.ts
  sources/web/src/routes/moderations/:id/processed.ts
  sources/web/src/routes/moderations/:id/rejected.ts
  sources/web/src/routes/moderations/:id/reprocess.test.ts
  sources/web/src/routes/moderations/:id/reprocess.ts
  sources/web/src/routes/moderations/:id/validate.test.ts
  sources/web/src/routes/moderations/:id/validate.ts
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/domains/context.ts
  sources/web/src/routes/organizations/:id/domains/get_organization_domains.ts
Labels: scope: moderations, scope: organizations, scope: routes

📝 docs: add file naming grammar and feature-first organization guidelines
  CONTRIBUTING.md
  package.json
Labels: :memo: documentation

📝 docs: add file naming grammar and feature-first organization guidelines (#1183)
  CONTRIBUTING.md
  package.json
Labels: :memo: documentation

♻️ refactor: migrate moderation routes to feature-first structure
  sources/web/src/routes/moderations/:id/processed/index.ts
  sources/web/src/routes/moderations/:id/processed/mark-as-processed.workflow.ts
  sources/web/src/routes/moderations/:id/processed/processed.router.ts
  sources/web/src/routes/moderations/:id/processed/workflow.test.ts
  sources/web/src/routes/moderations/:id/reprocess/index.ts
  sources/web/src/routes/moderations/:id/reprocess/mark-as-reprocessed.workflow.ts
  sources/web/src/routes/moderations/:id/reprocess/reprocess.router.ts
  sources/web/src/routes/moderations/:id/reprocess/workflow.test.ts
Labels: scope: moderations, scope: routes

📝 refactor: simplify moderation routes structure
  CONTRIBUTING.md
Labels: :memo: documentation

♻️ refactor: simplify moderation routes structure
  sources/web/src/routes/moderations/:id/processed/index.test.ts
  sources/web/src/routes/moderations/:id/processed/index.ts
  sources/web/src/routes/moderations/:id/processed/mark-as-processed.workflow.ts
  sources/web/src/routes/moderations/:id/processed/processed.router.ts
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/moderations/:id/rejected/mark-as-rejected.workflow.ts
  sources/web/src/routes/moderations/:id/rejected/rejected.router.ts
  sources/web/src/routes/moderations/:id/reprocess/index.test.ts
  sources/web/src/routes/moderations/:id/reprocess/index.ts
  sources/web/src/routes/moderations/:id/reprocess/mark-as-reprocessed.workflow.ts
  sources/web/src/routes/moderations/:id/reprocess/reprocess.router.ts
Labels: scope: moderations, scope: routes

♻️ refactor: extract database queries from moderation UI components
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/context.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get-duplicate-users.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get-moderation-tickets.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get-moderation.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.test.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.tsx
  sources/web/src/routes/moderations/:id/email/index.test.ts
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/moderations/:id/rejected/rejected.router.ts
Labels: scope: moderations, scope: routes

♻️ refactor: migrate moderation email feature to feature-first structure
  CONTRIBUTING.md
  sources/web/src/queries/moderations/GetDuplicateModerations.ts
  sources/web/src/queries/moderations/GetModerationForEmail.ts
  sources/web/src/queries/moderations/index.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/find_duplicate_users.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_duplicate_moderations.query.test.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_duplicate_moderations.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_moderation.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_moderation_tickets.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.tsx
  sources/web/src/routes/moderations/:id/email/Message.tsx
  sources/web/src/routes/moderations/:id/email/Zammad.tsx
  sources/web/src/routes/moderations/:id/email/find_moderation_for_email.query.test.ts
  sources/web/src/routes/moderations/:id/email/find_moderation_for_email.query.ts
  sources/web/src/routes/moderations/:id/email/index.tsx
  sources/web/src/routes/moderations/:id/email/page/context.ts
  sources/web/src/routes/moderations/:id/email/page/index.tsx
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/moderations/:id/rejected/mark_as_rejected.workflow.ts
Labels: :memo: documentation, scope: moderations, scope: routes

♻️ refactor: migrate moderation routes to feature-first structure (#1184)
  sources/web/src/queries/moderations/GetDuplicateModerations.ts
  sources/web/src/queries/moderations/GetModerationForEmail.ts
  sources/web/src/queries/moderations/index.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/context.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/find_duplicate_users.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_duplicate_moderations.query.test.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_duplicate_moderations.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_moderation.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_moderation_tickets.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.test.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.tsx
  sources/web/src/routes/moderations/:id/email/Message.tsx
  sources/web/src/routes/moderations/:id/email/Zammad.tsx
  sources/web/src/routes/moderations/:id/email/find_moderation_for_email.query.test.ts
  sources/web/src/routes/moderations/:id/email/find_moderation_for_email.query.ts
  sources/web/src/routes/moderations/:id/email/index.test.ts
  sources/web/src/routes/moderations/:id/email/index.tsx
  sources/web/src/routes/moderations/:id/email/page/context.ts
  sources/web/src/routes/moderations/:id/email/page/index.tsx
  sources/web/src/routes/moderations/:id/mark_as_processed.ts
  sources/web/src/routes/moderations/:id/processed/index.test.ts
  sources/web/src/routes/moderations/:id/processed/index.ts
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/moderations/:id/rejected/mark_as_rejected.workflow.ts
  sources/web/src/routes/moderations/:id/reprocess.ts
  sources/web/src/routes/moderations/:id/reprocess/index.test.ts
  sources/web/src/routes/moderations/:id/reprocess/index.ts
Labels: scope: moderations, scope: routes

🔧 fix: replace htmx onclick syntax with native onclick handlers
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/domaines/Page.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/page.tsx
Labels: scope: moderations, scope: organizations, scope: routes, scope: users

🔧 dev: add hot reload for bun-html-live-reload
  bin/src/bun/index.ts
Labels: none

🔧 feat: add Alpine.js integration to root layout
  bun.lock
  package.json
  sources/web/package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
Labels: none

🔧 feat: add Alpine.js integration to root layout (#1185)
  bun.lock
  package.json
  sources/web/package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
Labels: none

🔧 fix: replace htmx onclick syntax with native onclick handlers (#1186)
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/domaines/Page.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/page.tsx
Labels: scope: moderations, scope: organizations, scope: routes, scope: users

🔧 dev: add hot reload for bun-html-live-reload (#1187)
  bin/src/bun/index.ts
Labels: none

refactor: restructure domains route and rename test files
  sources/web/src/queries/organizations/GetUnverifiedDomains.ts
  sources/web/src/queries/organizations/index.ts
  sources/web/src/routes/organizations/domaines/context.ts
  sources/web/src/routes/organizations/domaines/index.tsx
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.test.ts
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.ts
  sources/web/src/routes/organizations/domains/index.test.ts
  sources/web/src/routes/organizations/domains/index.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/index.tsx
  sources/web/src/routes/users/index.test.ts
Labels: scope: organizations, scope: routes, scope: users

refactor: restructure domains route and rename test files (#1188)
  sources/web/src/queries/organizations/GetUnverifiedDomains.ts
  sources/web/src/queries/organizations/index.ts
  sources/web/src/routes/organizations/domaines/context.ts
  sources/web/src/routes/organizations/domaines/index.tsx
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.test.ts
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.ts
  sources/web/src/routes/organizations/domains/index.test.ts
  sources/web/src/routes/organizations/domains/index.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/index.tsx
  sources/web/src/routes/users/index.test.ts
Labels: scope: organizations, scope: routes, scope: users

✨ feat: refactor moderation page with JSX context pattern
  sources/web/src/routes/moderations/:id/ModerationContext.tsx
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/ui/users/About/About.tsx
Labels: scope: moderations, scope: routes, scope: ui, scope: users

🔧 refactor: migrate domains feature to pure props pattern
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/domains/context.ts
  sources/web/src/routes/organizations/:id/domains/get_organization_domains.query.ts
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
Labels: scope: moderations, scope: organizations, scope: routes

🔧 refactor: migrate domains feature to pure props pattern (#1190)
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/domains/context.ts
  sources/web/src/routes/organizations/:id/domains/get_organization_domains.query.ts
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
Labels: scope: moderations, scope: organizations, scope: routes

✨ refactor: migrate /organizations/:id/members/ to feature-first structure
  sources/web/src/queries/users/GetUsersByOrganizationId.ts
  sources/web/src/queries/users/index.ts
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/organizations/:id/members/context.ts
  sources/web/src/routes/organizations/:id/members/get_users_by_organization.query.ts
  sources/web/src/routes/organizations/:id/members/index.test.ts
  sources/web/src/routes/organizations/:id/members/index.tsx
Labels: scope: organizations, scope: routes

✨ refactor: migrate /organizations/:id/members/ to feature-first structure (#1191)
  sources/web/src/queries/users/GetUsersByOrganizationId.ts
  sources/web/src/queries/users/index.ts
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/organizations/:id/members/context.ts
  sources/web/src/routes/organizations/:id/members/get_users_by_organization.query.ts
  sources/web/src/routes/organizations/:id/members/index.test.ts
  sources/web/src/routes/organizations/:id/members/index.tsx
Labels: scope: organizations, scope: routes

♻️ refactor: extract users list query and simplify context
  sources/web/src/routes/organizations/domains/index.tsx
  sources/web/src/routes/users/context.ts
  sources/web/src/routes/users/get_users_list.query.ts
  sources/web/src/routes/users/index.tsx
  sources/web/src/routes/users/page.tsx
Labels: scope: organizations, scope: routes, scope: users

♻️ refactor: extract users list query and simplify context (#1192)
  sources/web/src/routes/organizations/domains/index.tsx
  sources/web/src/routes/users/context.ts
  sources/web/src/routes/users/get_users_list.query.ts
  sources/web/src/routes/users/index.tsx
  sources/web/src/routes/users/page.tsx
Labels: scope: organizations, scope: routes, scope: users

♻️ refactor organizations list to use query-first pattern
  sources/web/src/routes/organizations/:id/index.test.ts
  sources/web/src/routes/organizations/context.ts
  sources/web/src/routes/organizations/get_organizations_list.query.ts
  sources/web/src/routes/organizations/index.tsx
  sources/web/src/routes/organizations/page.tsx
Labels: scope: organizations, scope: routes

♻️ refactor organizations list to use query-first pattern (#1193)
  sources/web/src/routes/organizations/:id/index.test.ts
  sources/web/src/routes/organizations/context.ts
  sources/web/src/routes/organizations/get_organizations_list.query.ts
  sources/web/src/routes/organizations/index.tsx
  sources/web/src/routes/organizations/page.tsx
Labels: scope: organizations, scope: routes

♻️ refactor: simplify user detail page architecture
  sources/web/src/queries/users/GetUserById.test.ts
  sources/web/src/queries/users/GetUserById.ts
  sources/web/src/routes/users/:id/context.ts
  sources/web/src/routes/users/:id/get_authenticators_by_user_id.query.ts
  sources/web/src/routes/users/:id/get_user_by_id.query.ts
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/page.tsx
Labels: scope: routes, scope: users

♻️ refactor: simplify user detail page architecture (#1194)
  sources/web/src/queries/users/GetUserById.test.ts
  sources/web/src/queries/users/GetUserById.ts
  sources/web/src/routes/users/:id/context.ts
  sources/web/src/routes/users/:id/get_authenticators_by_user_id.query.ts
  sources/web/src/routes/users/:id/get_user_by_id.query.ts
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/page.tsx
Labels: scope: routes, scope: users

♻️ refactor: simplify GetUserById query function signature
  sources/web/src/queries/users/GetUserById.test.ts
  sources/web/src/queries/users/GetUserById.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/get_user_by_id.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.tsx
  sources/web/src/routes/users/:id/get_user_by_id.query.ts
Labels: scope: moderations, scope: routes, scope: users

♻️ refactor: simplify GetUserById query function signature (#1195)
  sources/web/src/queries/users/GetUserById.test.ts
  sources/web/src/queries/users/GetUserById.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/get_user_by_id.query.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.tsx
  sources/web/src/routes/users/:id/get_user_by_id.query.ts
Labels: scope: moderations, scope: routes, scope: users

♻️ refactor moderations list to feature-first structure
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/index.test.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
Labels: scope: moderations, scope: routes

♻️ refactor: simplify moderations list query function signature
  sources/web/src/queries/moderations/GetModerationsList.ts
  sources/web/src/queries/moderations/index.ts
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/index.test.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
Labels: scope: moderations, scope: routes

♻️ refactor: simplify moderations list query function signature (#1197)
  sources/web/src/queries/moderations/GetModerationsList.ts
  sources/web/src/queries/moderations/index.ts
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/index.test.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
Labels: scope: moderations, scope: routes

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"
