Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

✨ filter moderations by decision status (is:accepted/rejected/reopened) (#1594)
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/index.test.ts
  sources/web/src/routes/moderations/parse_q.test.ts
  sources/web/src/routes/moderations/parse_q.ts
  sources/web/src/ui/moderations/Filter/search-bar.test.ts
  sources/web/src/ui/moderations/Filter/search-bar.ts
Labels: scope: moderations, scope: routes, scope: ui

💄 use text xl on response type detail input title
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.tsx
Labels: scope: moderations, scope: ui

💄 use alpha order on response type list
  sources/web/src/routes/response-templates/get_response_templates.query.ts
Labels: scope: routes

💄 use text xl on response type detail input title (#1595)
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.tsx
Labels: scope: moderations, scope: ui

💄 use alpha order on response type list (#1596)
  sources/web/src/routes/response-templates/get_response_templates.query.ts
Labels: scope: routes

💄 avoid submiting empty content
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.test.tsx
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.tsx
Labels: scope: moderations, scope: ui

💄 avoid submiting empty content (#1597)
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.test.tsx
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.tsx
Labels: scope: moderations, scope: ui

🐛 use reason id as selector
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/:id/rejected/get_response_template.query.ts
  sources/web/src/routes/moderations/:id/rejected/get_response_template_by_label.query.ts
  sources/web/src/routes/moderations/:id/rejected/index.test.ts
  sources/web/src/routes/moderations/:id/rejected/index.tsx
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/ResponseMessageSelector.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.test.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
Labels: scope: moderations, scope: routes, scope: ui

🐛 use reason id as selector (#1599)
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/:id/rejected/get_response_template.query.ts
  sources/web/src/routes/moderations/:id/rejected/get_response_template_by_label.query.ts
  sources/web/src/routes/moderations/:id/rejected/index.test.ts
  sources/web/src/routes/moderations/:id/rejected/index.tsx
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/ResponseMessageSelector.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.test.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
Labels: scope: moderations, scope: routes, scope: ui

✨ response-templates: add delete action
  sources/web/src/routes.d.ts
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/index.test.ts
  sources/web/src/routes/response-templates/index.tsx
Labels: scope: routes

✨ response-templates: add delete action (#1600)
  sources/web/src/routes.d.ts
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/index.test.ts
  sources/web/src/routes/response-templates/index.tsx
Labels: scope: routes

:bookmark: release 2026.5.3
  CHANGELOG.md
  package.json
Labels: :memo: documentation

💄 Improves dark mode and adds missing accents
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/page.tsx
  sources/web/src/ui/callout/index.ts
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.tsx
  sources/web/src/ui/tabs/index.ts
Labels: scope: moderations, scope: routes, scope: ui

🔖 Add release it changeset
  .release-it-changeset/1778513234-feature.md
Labels: :memo: documentation

🐛 seed: fix glob silently skipping 6 response templates
  .release-it-changeset/1778591728-fix-seed-glob-response-templates.md
  sources/hyyyperbase/bin/seed/0000_response_types/lib.test.ts
  sources/hyyyperbase/bin/seed/0000_response_types/lib.ts
Labels: :memo: documentation

🐛 seed: fix glob silently skipping 6 response templates
  .release-it-changeset/1778591765-fix-cache-control-assets.md
  sources/hyyyperbase/bin/seed/0000_response_types/lib.test.ts
  sources/hyyyperbase/bin/seed/0000_response_types/lib.ts
Labels: :memo: documentation

💄 Improves dark mode and adds missing accents (#1598)
  .release-it-changeset/1778513234-feature.md
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/page.tsx
  sources/web/src/ui/callout/index.ts
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.tsx
  sources/web/src/ui/tabs/index.ts
Labels: :memo: documentation, scope: moderations, scope: routes, scope: ui

🐛 seed: fix glob silently skipping 6 response templates (#1602)
  .release-it-changeset/1778591728-fix-seed-glob-response-templates.md
  sources/hyyyperbase/bin/seed/0000_response_types/lib.test.ts
  sources/hyyyperbase/bin/seed/0000_response_types/lib.ts
Labels: :memo: documentation

🐛 cache: fix immutable middleware never setting cache-control header (#1601)
  .release-it-changeset/1778591765-fix-cache-control-assets.md
Labels: :memo: documentation

:bookmark: release 2026.5.4
  .release-it-changeset/1778513234-feature.md
  .release-it-changeset/1778591728-fix-seed-glob-response-templates.md
  .release-it-changeset/1778591765-fix-cache-control-assets.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 cache: fix immutable middleware never setting cache-control header
  sources/web/src/middleware/cache/cache_immutable.ts
Labels: scope: middleware

📝 add release note for cache-control assets fix
  .release-it-changeset/1778597520-fix-cache-control-assets.md
Labels: :memo: documentation

🐛 cache: fix immutable middleware never setting cache-control header (#1603)
  .release-it-changeset/1778597520-fix-cache-control-assets.md
  sources/web/src/middleware/cache/cache_immutable.ts
Labels: :memo: documentation, scope: middleware

:bookmark: release 2026.5.5
  .release-it-changeset/1778597520-fix-cache-control-assets.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ moderations: add column sort with SortHeaderIsland
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/parse_q.ts
  sources/web/src/ui/moderations/Filter/SortHeaderIsland.tsx
  sources/web/src/ui/moderations/Filter/index.ts
  sources/web/src/ui/moderations/Filter/search-bar.test.ts
  sources/web/src/ui/moderations/Filter/search-bar.ts
  sources/web/src/ui/moderations/Filter/sort-header.client.tsx
Labels: scope: moderations, scope: routes, scope: ui

♿️ layout: add skip to content link
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/main.tsx
Labels: none

♿️ e2e: rewrite tab navigation using skip link and tabUntilFocused
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/tab_navigation.feature
Labels: :traffic_light: e2e

✨ moderations: add column sort with SortHeaderIsland (#1604)
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/tab_navigation.feature
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/main.tsx
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/parse_q.ts
  sources/web/src/ui/moderations/Filter/SortHeaderIsland.tsx
  sources/web/src/ui/moderations/Filter/index.ts
  sources/web/src/ui/moderations/Filter/search-bar.test.ts
  sources/web/src/ui/moderations/Filter/search-bar.ts
  sources/web/src/ui/moderations/Filter/sort-header.client.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

♻️ island: auto-load nonce from request context
  sources/web/src/layouts/main.tsx
  sources/web/src/lib/create-island/factory.test.tsx
  sources/web/src/lib/create-island/factory.tsx
  sources/web/src/middleware/nonce/index.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/ui/button/components/CopyButtonIsland.tsx
  sources/web/src/ui/moderations/Actions/ResponseMessageSelector.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/testing/index.ts
  sources/web/src/ui/users/About/About.tsx
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

✨ moderations: add column sort with SortHeaderIsland (2)
  .release-it-changeset/1778667336-moderations-tri-colonnes.md
Labels: :memo: documentation

♻️ island: auto-load nonce from request context (#1605)
  sources/web/src/layouts/main.tsx
  sources/web/src/lib/create-island/factory.test.tsx
  sources/web/src/lib/create-island/factory.tsx
  sources/web/src/middleware/nonce/index.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/ui/button/components/CopyButtonIsland.tsx
  sources/web/src/ui/moderations/Actions/ResponseMessageSelector.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/testing/index.ts
  sources/web/src/ui/users/About/About.tsx
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

⚰️ mocks: remove support.etalab.gouv.fr MockServer
  mocks/docker-compose.mocks.yaml
  mocks/support.etalab.gouv.fr/mockserverInitialization.json
Labels: none

✨ moderations: add column sort with SortHeaderIsland (2) (#1606)
  .release-it-changeset/1778667336-moderations-tri-colonnes.md
Labels: :memo: documentation

⚰️ mocks: remove support.etalab.gouv.fr MockServer (#1607)
  mocks/docker-compose.mocks.yaml
  mocks/support.etalab.gouv.fr/mockserverInitialization.json
Labels: none

✨ mocks: replace agentconnect MockServer with dev route
  .env
  .github/workflows/e2e.yml
  mocks/auth.agentconnect.gouv.fr/mockserverInitialization.json
  mocks/docker-compose.mocks.yaml
  sources/web/src/routes/___dev___/auth.agentconnect.gouv.fr/index.tsx
Labels: :construction_worker: CI, scope: routes

🔥 e2e: remove agentconnect docker reset step from connexion feature
  e2e/features/auth/connexion.feature
  sources/web/src/routes/___dev___/auth.agentconnect.gouv.fr/index.tsx
Labels: :traffic_light: e2e, scope: routes

🔒 auth: add CSRF state protection to logout flow
  sources/web/src/middleware/session/SessionContext.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/auth/index.ts
Labels: scope: middleware, scope: routes

✨ mocks: replace agentconnect MockServer with dev route (#1608)
  .env
  .github/workflows/e2e.yml
  e2e/features/auth/connexion.feature
  mocks/auth.agentconnect.gouv.fr/mockserverInitialization.json
  mocks/docker-compose.mocks.yaml
  sources/web/src/middleware/session/SessionContext.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/___dev___/auth.agentconnect.gouv.fr/index.tsx
  sources/web/src/routes/auth/index.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: middleware, scope: routes

🧹 mock: replace api.crisp.chat MockServer with ___dev___ Hono route
  .env
  e2e/cypress.config.ts
  e2e/cypress/support/step_definitions/mockserver.ts
  e2e/features/moderations/accept_blocking_moderation.feature
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/moderations/reject_blocking_moderation.feature
  e2e/features/moderations/verify_domain.feature
  mocks/api.crisp.chat/mockserverInitialization.json
  mocks/docker-compose.mocks.yaml
  sources/web/src/routes.d.ts
  sources/web/src/routes/___dev___/api.crisp.chat/index.ts
  sources/web/src/routes/___dev___/index.ts
Labels: :traffic_light: e2e, scope: routes

♻️ api.crisp.chat: verify notifications via Crisp API, not MockServer
  e2e/cypress.config.ts
  e2e/cypress/support/step_definitions/mockserver.ts
  e2e/features/moderations/accept_blocking_moderation.feature
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/moderations/reject_blocking_moderation.feature
  e2e/features/moderations/verify_domain.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/___dev___/api.crisp.chat/index.ts
Labels: :traffic_light: e2e, scope: routes
