Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

✨ organizations: add bulk SIRET organization creation
  sources/web/src/lib/organizations/index.ts
  sources/web/src/lib/organizations/parse_sirets.test.ts
  sources/web/src/lib/organizations/parse_sirets.ts
  sources/web/src/lib/organizations/usecase/GetOrganizationInfo.ts
  sources/web/src/lib/organizations/usecase/index.ts
  sources/web/src/middleware/fetch/set_fetch.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/___dev___/entreprise.api.gouv.fr/index.ts
  sources/web/src/routes/organizations/:id/index.tsx
  sources/web/src/routes/organizations/:id/page.tsx
  sources/web/src/routes/organizations/index.tsx
  sources/web/src/routes/organizations/new/index.test.ts
  sources/web/src/routes/organizations/new/index.tsx
  sources/web/src/routes/organizations/new/page.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/ui/connect/index.ts
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/organizations/info/OrganizationInfoErrorAlert.tsx
  sources/web/src/ui/organizations/info/index.ts
  sources/web/src/ui/tailwind.dsfr.css
Labels: scope: middleware, scope: organizations, scope: routes, scope: ui

Update Node.js version in package.json
  package.json
Labels: none

Update Node.js version in package.json (#1771)
  package.json
Labels: none

⬆️ update to bun 1.3.24
  package.json
Labels: none

✨ organizations: add bulk SIRET organization creation (#1762)
  sources/web/src/lib/organizations/index.ts
  sources/web/src/lib/organizations/parse_sirets.test.ts
  sources/web/src/lib/organizations/parse_sirets.ts
  sources/web/src/lib/organizations/usecase/GetOrganizationInfo.ts
  sources/web/src/lib/organizations/usecase/index.ts
  sources/web/src/middleware/fetch/set_fetch.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/___dev___/entreprise.api.gouv.fr/index.ts
  sources/web/src/routes/organizations/:id/index.tsx
  sources/web/src/routes/organizations/:id/page.tsx
  sources/web/src/routes/organizations/index.tsx
  sources/web/src/routes/organizations/new/index.test.ts
  sources/web/src/routes/organizations/new/index.tsx
  sources/web/src/routes/organizations/new/page.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/ui/connect/index.ts
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/organizations/info/OrganizationInfoErrorAlert.tsx
  sources/web/src/ui/organizations/info/index.ts
  sources/web/src/ui/tailwind.dsfr.css
Labels: scope: middleware, scope: organizations, scope: routes, scope: ui

:bookmark: release 2026.9.0
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ Function GetDomains returns approved email domains
  sources/web/src/queries/organizations/GetDomains.ts
Labels: none

🔖 Add release it changeset
  .release-it-changeset/1788384990-feature.md
Labels: :memo: documentation

✨ Function GetDomains returns approved email domains (#1782)
  .release-it-changeset/1788384990-feature.md
  sources/web/src/queries/organizations/GetDomains.ts
Labels: :memo: documentation

🔧 add nix flake for sudoless dev shell
  .github/dependabot.yml
  README.md
  flake.lock
  flake.nix
Labels: :construction_worker: CI, :memo: documentation

⬆️ bump cypress pin to 15.21.1 in flake
  flake.nix
Labels: none

🔧 add nix flake for sudoless dev shell (#1783)
  .github/dependabot.yml
  README.md
  flake.lock
  flake.nix
Labels: :construction_worker: CI, :memo: documentation

🧪 try cypress 16
  e2e/bun.lock
  e2e/cypress.config.ts
  e2e/cypress/support/step_definitions/mockserver.ts
  e2e/package.json
  flake.nix
Labels: :traffic_light: e2e

🐛 fix Cypress 16 breakage: option visibility, Electron deprecation
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/team/acces_equipe.feature
  e2e/features/team/gestion_equipe.feature
  e2e/package.json
  flake.nix
Labels: :traffic_light: e2e

🧪 try cypress 16 (#1786)
  e2e/bun.lock
  e2e/cypress.config.ts
  e2e/cypress/support/step_definitions/mockserver.ts
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/team/acces_equipe.feature
  e2e/features/team/gestion_equipe.feature
  e2e/package.json
  flake.nix
Labels: :traffic_light: e2e

:bookmark: release 2026.9.1
  .release-it-changeset/1788384990-feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

⬆️ Bump hono from 4.13.2 to 4.13.7
  bin/package.json
  bun.lock
  package.json
  packages/hono-slotify/package.json
  sources/config/typescript/package.json
  sources/identite-proconnect/package.json
  sources/web/package.json
  sources/web/src/routes.d.ts
Labels: none

🐛 fix render_html escaping strings after hono jsx render change
  sources/web/src/ui/testing/index.ts
Labels: scope: ui

⬆️ update to bun 1.3.24 (#1772)
  package.json
Labels: none

⬆️ bump bun to 1.4.2
  bun.lock
  flake.nix
  package.json
Labels: none

⬆️ bump bun to 1.4.2 (#1790)
  bun.lock
  flake.nix
  package.json
Labels: none

update snapshots
  sources/web/src/queries/moderations/RemoveUserFromOrganization.test.ts
  sources/web/src/queries/organizations/DeleteDomainById.test.ts
Labels: none

♻ extract DSFR tailwind theme into its own workspace package
  bun.lock
  packages/tailwind-dsfr/package.json
  packages/tailwind-dsfr/theme.css
  sources/web/package.json
  sources/web/src/ui/tailwind.css
Labels: scope: ui

♻ extract DSFR tailwind theme into its own workspace package (#1791)
  bun.lock
  packages/tailwind-dsfr/package.json
  packages/tailwind-dsfr/theme.css
  sources/web/package.json
  sources/web/src/ui/tailwind.css
Labels: scope: ui

⬆️ bump @proconnect-gouv/* dependencies
  bun.lock
  e2e/package.json
  sources/identite-proconnect/package.json
  sources/identite-proconnect/src/sdk/index.ts
  sources/web/package.json
  sources/web/src/queries/users/UpdateUserByIdInOrganization.test.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
  sources/web/src/routes/organizations/:id/members/get_users_by_organization.query.ts
Labels: :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes

📝 add release note for @proconnect-gouv/* dependency bump
  .release-it-changeset/1757865600-bump-proconnect-gouv-deps.md
  e2e/bun.lock
  sources/identite-proconnect/src/sdk/index.ts
  sources/web/src/routes/organizations/:id/members/get_users_by_organization.query.ts
Labels: :memo: documentation, :traffic_light: e2e, scope: organizations, scope: routes

⬆️ bump @proconnect-gouv/* dependencies (#1792)
  .release-it-changeset/1757865600-bump-proconnect-gouv-deps.md
  bun.lock
  e2e/bun.lock
  e2e/package.json
  sources/identite-proconnect/package.json
  sources/identite-proconnect/src/sdk/index.ts
  sources/web/package.json
  sources/web/src/queries/users/UpdateUserByIdInOrganization.test.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
  sources/web/src/routes/organizations/:id/members/get_users_by_organization.query.ts
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes

:bookmark: release 2026.9.2
  .release-it-changeset/1757865600-bump-proconnect-gouv-deps.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 fall back to new Crisp conversation on stale ticket_id
  sources/web/src/lib/moderations/usecase/send_crisp_notification.test.ts
  sources/web/src/lib/moderations/usecase/send_crisp_notification.ts
  sources/web/src/routes/moderations/:id/rejected/index.tsx
  sources/web/src/routes/moderations/:id/validate/index.ts
Labels: scope: moderations, scope: routes

🐛 fall back to new Crisp conversation on stale ticket_id (#1800)
  sources/web/src/lib/moderations/usecase/send_crisp_notification.test.ts
  sources/web/src/lib/moderations/usecase/send_crisp_notification.ts
  sources/web/src/routes/moderations/:id/rejected/index.tsx
  sources/web/src/routes/moderations/:id/validate/index.ts
Labels: scope: moderations, scope: routes

:bookmark: release 2026.9.3
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ Add bunwright e2e test harness, migrate moderation_list off Cypress
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  bun.lock
  e2e/features/moderations/moderation_list.feature
  package.json
  patches/bunwright@0.3.2.patch
  sources/web/package.json
  sources/web/src/htmx/index.ts
  sources/web/src/router/index.ts
  sources/web/src/routes/assets/index.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
  sources/web/src/testing/index.ts
  sources/web/src/testing/router.ts
  sources/web/src/ui/moderations/DomainsByOrganization/DomainsByOrganization.tsx
  sources/web/src/ui/moderations/UsersByOrganization/UsersByOrganization.tsx
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

✨ Add bunwright e2e test harness, migrate moderation_list off Cypress (#1801)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  bun.lock
  e2e/features/moderations/moderation_list.feature
  package.json
  patches/bunwright@0.3.2.patch
  sources/web/package.json
  sources/web/src/htmx/index.ts
  sources/web/src/router/index.ts
  sources/web/src/routes/assets/index.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
  sources/web/src/testing/index.ts
  sources/web/src/testing/router.ts
  sources/web/src/ui/moderations/DomainsByOrganization/DomainsByOrganization.tsx
  sources/web/src/ui/moderations/UsersByOrganization/UsersByOrganization.tsx
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

🐛 Patch bunwright selector resolver: permanent miss-cache and text: wrapper shadowing
  patches/bunwright@0.3.2.patch
Labels: none

♻️ Move the bunwright e2e harness and reused step definitions into #src/testing
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
  sources/web/src/testing/feature.ts
  sources/web/src/testing/index.ts
  sources/web/src/testing/router.ts
Labels: scope: moderations, scope: routes

✨ Port accept_blocking_moderation.feature to bunwright
  e2e/features/moderations/accept_blocking_moderation.feature
  sources/web/src/routes/moderations/accept_blocking_moderation.feature.test.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes

✨ Port add_external_member.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/add_external_member.feature
  sources/web/src/routes/moderations/add_external_member.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

🐛 Raise the feature-test per-test budget to 30s
  package.json
Labels: none

♻️ Drop unused expect import
  sources/web/src/routes/moderations/add_external_member.feature.test.ts
Labels: scope: moderations, scope: routes

✨ Migrate remaining Cucumber scenarios to bunwright (#1802)
  .github/workflows/e2e.yml
  e2e/features/moderations/accept_blocking_moderation.feature
  e2e/features/moderations/add_external_member.feature
  package.json
  patches/bunwright@0.3.2.patch
  sources/web/src/routes/moderations/accept_blocking_moderation.feature.test.ts
  sources/web/src/routes/moderations/add_external_member.feature.test.ts
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
  sources/web/src/testing/feature.ts
  sources/web/src/testing/index.ts
  sources/web/src/testing/router.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes
