Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

✨ Port add_internal_member.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/add_internal_member.feature
  sources/web/src/routes/moderations/add_internal_member.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

🎨 fix missing newline at eof in add_internal_member.feature.test.ts
  sources/web/src/routes/moderations/add_internal_member.feature.test.ts
Labels: scope: moderations, scope: routes

🐛 re-resolve selector on every bunwright waitFor poll tick
  patches/bunwright@0.3.2.patch
Labels: none

✨ make banatic base url configurable
  sources/web/src/config/env.ts
  sources/web/src/lib/organizations/usecase/GetBanaticUrl.test.ts
  sources/web/src/lib/organizations/usecase/GetBanaticUrl.ts
  sources/web/src/routes/moderations/:id/index.tsx
  sources/web/src/routes/organizations/:id/index.tsx
Labels: scope: moderations, scope: organizations, scope: routes

✅ mock external api fetches in feature test harness
  sources/web/src/testing/router.ts
Labels: none

⚡️ run feature tests across workers with bun test --parallel
  package.json
Labels: none

🐛 re-resolve bunwright selectors on every use
  patches/bunwright@0.3.2.patch
Labels: none

✨ add playwright-style locators and web-first assertions to feature tests
  sources/web/src/testing/feature.ts
Labels: none

✅ migrate moderation feature tests to playwright-style assertions
  sources/web/src/routes/moderations/accept_blocking_moderation.feature.test.ts
  sources/web/src/routes/moderations/add_external_member.feature.test.ts
  sources/web/src/routes/moderations/add_internal_member.feature.test.ts
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
  sources/web/src/testing/feature.ts
Labels: scope: moderations, scope: routes

🐛 make the processed-moderation search actually filter in feature tests
  sources/web/src/routes/moderations/accept_blocking_moderation.feature.test.ts
  sources/web/src/routes/moderations/add_external_member.feature.test.ts
  sources/web/src/routes/moderations/add_internal_member.feature.test.ts
  sources/web/src/testing/feature.ts
Labels: scope: moderations, scope: routes

✨ Port add_internal_member.feature to bunwright (#1803)
  .github/workflows/e2e.yml
  e2e/features/moderations/add_internal_member.feature
  package.json
  patches/bunwright@0.3.2.patch
  sources/web/src/config/env.ts
  sources/web/src/lib/organizations/usecase/GetBanaticUrl.test.ts
  sources/web/src/lib/organizations/usecase/GetBanaticUrl.ts
  sources/web/src/routes/moderations/:id/index.tsx
  sources/web/src/routes/moderations/accept_blocking_moderation.feature.test.ts
  sources/web/src/routes/moderations/add_internal_member.feature.test.ts
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
  sources/web/src/routes/organizations/:id/index.tsx
  sources/web/src/testing/feature.ts
  sources/web/src/testing/router.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes

✨ let search_moderations run without a row to wait for
  sources/web/src/testing/feature.ts
Labels: none

✨ port filter_by_moderator.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/filter_by_moderator.feature
  sources/web/src/routes/moderations/filter_by_moderator.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port filter_by_service_provider.feature to bunwright
  e2e/features/moderations/filter_by_service_provider.feature
  sources/web/src/routes/moderations/filter_by_service_provider.feature.test.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes

🐛 retry bunwright waits while a navigation is still in flight
  patches/bunwright@0.3.2.patch
  sources/web/src/testing/feature.ts
Labels: none

✨ port handle_big_organization.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/handle_big_organization.feature
  sources/web/src/routes/moderations/handle_big_organization.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port handle_duplicate_requests.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/handle_duplicate_requests.feature
  sources/web/src/routes/moderations/handle_duplicate_requests.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port manage_external_domain.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/manage_external_domain.feature
  sources/web/src/routes/moderations/manage_external_domain.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port reprocess_completed_moderation.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/reprocess_completed_moderation.feature
  sources/web/src/routes/moderations/reprocess_completed_moderation.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

🐛 focus inputs before typing in bunwright, and fill by replacing
  patches/bunwright@0.3.2.patch
  sources/web/src/testing/feature.ts
Labels: none

🐛 retry bunwright waits while a navigation is still in flight
  patches/bunwright@0.3.2.patch
  sources/web/src/testing/feature.ts
Labels: none

✨ let search_moderations run without a row to wait for
  sources/web/src/testing/feature.ts
Labels: none

📝 document which e2e suite a new scenario belongs in
  README.md
Labels: :memo: documentation

🐛 Fix bunwright typing and navigation races in feature tests (#1805)
  README.md
  patches/bunwright@0.3.2.patch
  sources/web/src/testing/feature.ts
Labels: :memo: documentation

✨ port manage_internal_domain.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/manage_internal_domain.feature
  sources/web/src/routes/moderations/manage_internal_domain.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port manage_external_domain.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/manage_external_domain.feature
  sources/web/src/routes/moderations/manage_external_domain.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port reprocess_completed_moderation.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/reprocess_completed_moderation.feature
  sources/web/src/routes/moderations/reprocess_completed_moderation.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port handle_duplicate_requests.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/handle_duplicate_requests.feature
  sources/web/src/routes/moderations/handle_duplicate_requests.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port handle_big_organization.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/handle_big_organization.feature
  sources/web/src/routes/moderations/handle_big_organization.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port moderation_detail.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/moderation_detail.feature
  sources/web/src/routes/moderations/moderation_detail.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port filter_by_service_provider.feature to bunwright
  e2e/features/moderations/filter_by_service_provider.feature
  sources/web/src/routes/moderations/filter_by_service_provider.feature.test.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes

✨ port filter_by_moderator.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/filter_by_moderator.feature
  sources/web/src/routes/moderations/filter_by_moderator.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port tab_navigation.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/tab_navigation.feature
  sources/web/src/routes/moderations/tab_navigation.feature.test.ts
  sources/web/src/testing/feature.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port verify_domain.feature to bunwright
  .github/workflows/e2e.yml
  e2e/features/moderations/verify_domain.feature
  sources/web/src/routes/moderations/verify_domain.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port manage_internal_domain.feature to bunwright (#1811)
  .github/workflows/e2e.yml
  e2e/features/moderations/manage_internal_domain.feature
  sources/web/src/routes/moderations/manage_internal_domain.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

🐛 run feature tests sequentially again
  package.json
Labels: none

✨ port handle_duplicate_requests.feature to bunwright (#1809)
  .github/workflows/e2e.yml
  e2e/features/moderations/handle_duplicate_requests.feature
  sources/web/src/routes/moderations/handle_duplicate_requests.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port verify_domain.feature to bunwright (#1815)
  .github/workflows/e2e.yml
  e2e/features/moderations/verify_domain.feature
  sources/web/src/routes/moderations/verify_domain.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port filter_by_service_provider.feature to bunwright (#1807)
  e2e/features/moderations/filter_by_service_provider.feature
  sources/web/src/routes/moderations/filter_by_service_provider.feature.test.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes

✨ port reprocess_completed_moderation.feature to bunwright (#1813)
  .github/workflows/e2e.yml
  e2e/features/moderations/reprocess_completed_moderation.feature
  sources/web/src/routes/moderations/reprocess_completed_moderation.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"
