Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

✨ Add member dates to organization members table
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/organizations/:id/members/get_users_by_organization.query.ts
  sources/web/src/ui/hx_table/Foot.tsx
Labels: scope: organizations, scope: routes, scope: ui

📝 Add release changeset for members table dates feature
  .release-it-changeset/members-table-dates.md
Labels: :memo: documentation

style: make prettier happy
  sources/web/src/ui/hx_table/Foot.tsx
Labels: scope: ui

✨ Add member dates to organization members table (#1283)
  .release-it-changeset/members-table-dates.md
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/organizations/:id/members/get_users_by_organization.query.ts
  sources/web/src/ui/hx_table/Foot.tsx
Labels: :memo: documentation, scope: organizations, scope: routes, scope: ui

:bookmark: release 2026.1.0
  .release-it-changeset/members-table-dates.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🔒 Update lockfile for hono 4.11.4
  bun.lock
Labels: none

style: make prettier happy
  CHANGELOG.md
Labels: :memo: documentation

⬆️ Bump hono from 4.10.6 to 4.11.4 (#1291)
  CHANGELOG.md
  bin/package.json
  bun.lock
  package.json
  packages/hono-slotify/package.json
  sources/config/typescript/package.json
  sources/core/package.json
  sources/identite-proconnect/package.json
  sources/web/package.json
Labels: :memo: documentation

🔧 Add prettier formatting hook to release process
  package.json
  packages/release-it-changeset-plugin/src/index.ts
Labels: none

🔧 Add prettier formatting hook to release process (#1292)
  package.json
  packages/release-it-changeset-plugin/src/index.ts
Labels: none

💄 Use DSFR icon size utility classes instead of CSS variable
  .release-it-changeset/fix-dsfr-icon-size-utility.md
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
Labels: :memo: documentation, scope: moderations, scope: routes

chore(lock): update lockfile
  bun.lock
Labels: none

✅ add missing e2e tests to workflow
  .github/workflows/e2e.yml
Labels: :construction_worker: CI

⬆️ Align root preact version with web workspace
  bun.lock
  package.json
Labels: none

✅ add missing e2e tests to workflow (#1295)
  .github/workflows/e2e.yml
Labels: :construction_worker: CI

✨ moderations: add moderated by filter
  .github/workflows/e2e.yml
  .release-it-changeset/filter-by-moderator.md
  e2e/features/moderations/filter_by_moderator.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/moderations/SearchModeratedByIsland.tsx
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/moderations/filter-signals.client.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
  sources/web/src/routes/moderations/search-moderated-by.client.tsx
Labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, scope: moderations, scope: routes

🚮 did the bun team fixed the duplicat export issue
  sources/config/bun-plugin-client-scripts/dedupe-exports.test.ts
  sources/config/bun-plugin-client-scripts/dedupe-exports.ts
  sources/config/bun-plugin-client-scripts/index.ts
Labels: none

🚮 did the bun team fixed the duplicat export issue (#1306)
  sources/config/bun-plugin-client-scripts/dedupe-exports.test.ts
  sources/config/bun-plugin-client-scripts/dedupe-exports.ts
  sources/config/bun-plugin-client-scripts/index.ts
Labels: none

💄 Use DSFR icon size utility classes instead of CSS variable (#1294)
  .release-it-changeset/fix-dsfr-icon-size-utility.md
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
Labels: :memo: documentation, scope: moderations, scope: routes

✨ moderations: add moderated by filter (#1293)
  .github/workflows/e2e.yml
  .release-it-changeset/filter-by-moderator.md
  e2e/features/moderations/filter_by_moderator.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/moderations/SearchModeratedByIsland.tsx
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/moderations/filter-signals.client.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
  sources/web/src/routes/moderations/search-moderated-by.client.tsx
Labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, scope: moderations, scope: routes

:bookmark: release 2026.1.1
  .release-it-changeset/filter-by-moderator.md
  .release-it-changeset/fix-dsfr-icon-size-utility.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 eye icon bug with siblings checkbox
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
Labels: scope: moderations, scope: routes

🪧 main is the new default branch
  .github/workflows/buildpack.yml
  README.md
Labels: :construction_worker: CI, :memo: documentation

🐛 eye icon bug with siblings checkbox (#1316)
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
Labels: scope: moderations, scope: routes

:bookmark: release 2026.1.2
  CHANGELOG.md
  package.json
Labels: :memo: documentation

:lipstick: improve commentaire section readability with opacity levels
  .release-it-changeset/comment-history-opacity.md
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
Labels: :memo: documentation, scope: moderations, scope: routes, scope: ui

:lipstick: improve commentaire section readability with opacity levels (#1317)
  .release-it-changeset/comment-history-opacity.md
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
Labels: :memo: documentation, scope: moderations, scope: routes, scope: ui

↗️ (deps): bump @proconnect-gouv/proconnect.identite.database from 1.1.0
  bun.lock
  e2e/bun.lock
  e2e/package.json
  sources/identite-proconnect/package.json
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/lib/users/usecase/CountUserMemberships.test.ts
  sources/web/src/lib/users/usecase/SuggestSameUserEmails.test.ts
  sources/web/src/queries/moderations/RemoveUserFromOrganization.test.ts
  sources/web/src/queries/organizations/CountOrganizationMembers.test.ts
  sources/web/src/queries/organizations/GetOrganizationMember.test.ts
  sources/web/src/queries/users/CountGmailMembers.test.ts
  sources/web/src/queries/users/GetMember.test.ts
  sources/web/src/queries/users/UpdateUserByIdInOrganization.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.test.ts
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/organizations/index.test.ts
Labels: :traffic_light: e2e, scope: organizations, scope: routes, scope: users

↗️ (deps): bump @proconnect-gouv/proconnect.identite.database from 1.1.0 (#1327)
  bun.lock
  e2e/bun.lock
  e2e/package.json
  sources/identite-proconnect/package.json
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/lib/users/usecase/CountUserMemberships.test.ts
  sources/web/src/lib/users/usecase/SuggestSameUserEmails.test.ts
  sources/web/src/queries/moderations/RemoveUserFromOrganization.test.ts
  sources/web/src/queries/organizations/CountOrganizationMembers.test.ts
  sources/web/src/queries/organizations/GetOrganizationMember.test.ts
  sources/web/src/queries/users/CountGmailMembers.test.ts
  sources/web/src/queries/users/GetMember.test.ts
  sources/web/src/queries/users/UpdateUserByIdInOrganization.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.test.ts
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/organizations/index.test.ts
Labels: :traffic_light: e2e, scope: organizations, scope: routes, scope: users

:bookmark: release 2026.1.3
  .release-it-changeset/comment-history-opacity.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

ensure to use zod 4
  bun.lock
Labels: none

remove custom z_coerce_boolean for z.stringbool()
  sources/core/src/schema/index.ts
  sources/core/src/schema/z_coerce_boolean.ts
  sources/web/src/lib/moderations/schema/validate.form.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
Labels: scope: core, scope: organizations, scope: routes

update import as zod v4 is default now
  sources/core/src/config/env.ts
  sources/core/src/schema/index.ts
  sources/core/src/schema/z_coerce_boolean.ts
  sources/core/src/schema/z_email_domain.ts
  sources/core/src/schema/z_empty_string_to_undefined.ts
  sources/core/src/schema/z_username.ts
  sources/identite-proconnect/src/database/email_domain.ts
  sources/identite-proconnect/src/types/index.ts
  sources/moderations/src/comment_message.ts
  sources/web/src/config/env.ts
  sources/web/src/htmx/index.ts
  sources/web/src/lib/crisp/index.ts
  sources/web/src/lib/moderations/Moderation_Type.ts
  sources/web/src/lib/moderations/comment_message.ts
  sources/web/src/lib/moderations/event.ts
  sources/web/src/lib/moderations/schema/rejected.form.ts
  sources/web/src/lib/moderations/schema/validate.form.ts
  sources/web/src/lib/organizations/event.ts
  sources/web/src/lib/zammad/const.ts
  sources/web/src/lib/zammad/is_zammad_ticket.ts
  sources/web/src/middleware/config/set_config.test.ts
  sources/web/src/routes/assets/zammad/index.ts
  sources/web/src/routes/auth/index.ts
  sources/web/src/routes/domains-deliverability/context.ts
  sources/web/src/routes/domains-deliverability/index.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/index.tsx
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/organizations/:id/domains/context.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
  sources/web/src/routes/organizations/:id/members/index.tsx
  sources/web/src/routes/organizations/leaders/index.tsx
  sources/web/src/routes/users/:id/organizations/context.tsx
Labels: scope: core, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: users

try not failing fast with default max parallel
  .github/workflows/e2e.yml
Labels: :construction_worker: CI

add_domain should stay optional
  hyyypertool.code-workspace
  sources/web/src/lib/moderations/schema/validate.form.ts
Labels: none

chore(deps): bump hono from 4.11.4 to 4.11.7
  bin/package.json
  bun.lock
  package.json
  packages/hono-slotify/package.json
  sources/config/typescript/package.json
  sources/core/package.json
  sources/identite-proconnect/package.json
  sources/web/package.json
  sources/web/src/routes.d.ts
Labels: none

chore(deps): bump hono from 4.11.4 to 4.11.7 (#1339)
  bin/package.json
  bun.lock
  package.json
  packages/hono-slotify/package.json
  sources/config/typescript/package.json
  sources/core/package.json
  sources/identite-proconnect/package.json
  sources/web/package.json
  sources/web/src/routes.d.ts
Labels: none

✨ use a fixed list of allowed users
  .env
  bin/.env
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/filter_by_moderator.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/search-moderated-by.client.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: routes

✨ use a fixed list of allowed users (#1307)
  .env
  bin/.env
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/filter_by_moderator.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/search-moderated-by.client.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: routes

📝 docs: use a fixed list of allowed users [skip ci]
  .release-it-changeset/150912139_feature
Labels: none

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"
