Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

🛂 restrict DB writes to admin and moderator roles
  sources/web/src/middleware/auth/authorized.tsx
  sources/web/src/middleware/auth/index.ts
  sources/web/src/routes/moderations/:id/index.tsx
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
  sources/web/src/routes/response-templates/index.tsx
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes

🛂 hide edit UI from visitors
  e2e/features/organizations/member_actions.feature
  e2e/features/security/visitor_read_only.feature
  sources/web/src/routes/moderations/:id/index.tsx
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/organizations/:id/members/context.ts
  sources/web/src/routes/organizations/:id/members/index.tsx
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/routes/response-templates/page.tsx
  sources/web/src/ui/moderations/Actions/Actions.client.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui

✅ use roles.enum and add visitor unit tests
  sources/web/src/middleware/auth/authorized.tsx
  sources/web/src/routes/moderations/:id/index.test.ts
  sources/web/src/routes/moderations/:id/index.tsx
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/organizations/:id/members/index.test.ts
  sources/web/src/routes/organizations/:id/members/index.tsx
  sources/web/src/routes/response-templates/index.test.ts
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/routes/response-templates/page.tsx
  sources/web/src/ui/moderations/Actions/Actions.client.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui

♻️ extract components to avoid is_editor indentation
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/ui/moderations/Actions/Actions.client.tsx
Labels: scope: moderations, scope: routes, scope: ui

🩹 fix member :user_id tests to use authorized() + moderator
  .release-it-changeset/1782395397-hide-edit-ui-visitors.md
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
Labels: :memo: documentation, scope: organizations, scope: routes

🛂 restrict DB writes to admin and moderator roles (#1695)
  .release-it-changeset/1782395397-hide-edit-ui-visitors.md
  e2e/features/organizations/member_actions.feature
  e2e/features/security/visitor_read_only.feature
  sources/web/src/middleware/auth/authorized.tsx
  sources/web/src/middleware/auth/index.ts
  sources/web/src/routes/moderations/:id/index.test.ts
  sources/web/src/routes/moderations/:id/index.tsx
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/organizations/:id/members/context.ts
  sources/web/src/routes/organizations/:id/members/index.test.ts
  sources/web/src/routes/organizations/:id/members/index.tsx
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/index.test.ts
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/routes/response-templates/page.tsx
  sources/web/src/ui/moderations/Actions/Actions.client.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui

:bookmark: release 2026.6.7
  .release-it-changeset/1782395397-hide-edit-ui-visitors.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🛂 Hide editor actions from visitors
  .github/workflows/e2e.yml
  .release-it-changeset/247388145_bug.md
  e2e/features/delivrability-domain/delivrability-email-domain.feature
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  e2e/features/security/visitor_read_only.feature
  sources/web/src/routes/domains-deliverability/AddDomain.tsx
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/domains-deliverability/index.tsx
  sources/web/src/routes/domains-deliverability/page.tsx
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/page.tsx
Labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, scope: organizations, scope: routes, scope: users

🛂 Hide editor actions from visitors (#1696)
  .github/workflows/e2e.yml
  .release-it-changeset/247388145_bug.md
  e2e/features/delivrability-domain/delivrability-email-domain.feature
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  e2e/features/security/visitor_read_only.feature
  sources/web/src/routes/domains-deliverability/AddDomain.tsx
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/domains-deliverability/index.tsx
  sources/web/src/routes/domains-deliverability/page.tsx
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/page.tsx
Labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, scope: organizations, scope: routes, scope: users

🛂 Hide reprocess button from visitors
  .release-it-changeset/1782485208-hide-reprocess-for-visitors.md
  e2e/features/security/visitor_read_only.feature
  sources/web/src/routes/moderations/:id/index.test.ts
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/ui/moderations/Header/Header.test.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

🛂 Hide reprocess button from visitors (#1697)
  .release-it-changeset/1782485208-hide-reprocess-for-visitors.md
  e2e/features/security/visitor_read_only.feature
  sources/web/src/routes/moderations/:id/index.test.ts
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/ui/moderations/Header/Header.test.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

💚 Fix e2e config for Cypress 15.17 ESM loading
  e2e/bun.lock
  e2e/cypress.config.ts
  e2e/package.json
Labels: :traffic_light: e2e

✨ Add bun-webview-dsl with Scenario + htmx-aware actions
  packages/bun-webview-dsl/package.json
  packages/bun-webview-dsl/src/index.test.ts
  packages/bun-webview-dsl/src/index.ts
  packages/bun-webview-dsl/tsconfig.json
  sources/web/package.json
  sources/web/tsconfig.json
Labels: none

✨ Migrate moderation_list cypress feature to bun-webview-dsl
  bun.lock
  e2e/features/moderations/moderation_list.feature
  packages/bun-webview-dsl/src/index.ts
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes

✨ Migrate moderation_detail cypress feature to bun-webview-dsl
  e2e/features/moderations/moderation_detail.feature
  sources/web/src/routes/moderations/moderation_detail.feature.test.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes

✨ Extend bun-webview-dsl + migrate moderations feature tests
  packages/bun-webview-dsl/src/index.test.ts
  packages/bun-webview-dsl/src/index.ts
  sources/web/src/routes/assets/index.feature.test.ts
  sources/web/src/routes/assets/index.ts
  sources/web/src/routes/assets/rewrite.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/handle_big_organization.feature.test.ts
  sources/web/src/routes/moderations/handle_duplicate_requests.feature.test.ts
  sources/web/src/routes/moderations/manage_external_domain.feature.test.ts
  sources/web/src/routes/moderations/moderation_detail.feature.test.ts
  sources/web/src/routes/moderations/reprocess_completed_moderation.feature.test.ts
  sources/web/src/routes/moderations/select_verification_type.feature.test.ts
  sources/web/src/routes/moderations/validate_similar_moderations.feature.test.ts
Labels: scope: moderations, scope: routes

:bookmark: release 2026.6.8
  .release-it-changeset/1782485208-hide-reprocess-for-visitors.md
  .release-it-changeset/247388145_bug.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

♻️ Extract shared test server setup into testing/router.ts
  sources/web/src/routes/moderations/handle_big_organization.feature.test.ts
  sources/web/src/routes/moderations/handle_duplicate_requests.feature.test.ts
  sources/web/src/routes/moderations/manage_external_domain.feature.test.ts
  sources/web/src/routes/moderations/moderation_detail.feature.test.ts
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
  sources/web/src/routes/moderations/reprocess_completed_moderation.feature.test.ts
  sources/web/src/routes/moderations/select_verification_type.feature.test.ts
  sources/web/src/routes/moderations/validate_similar_moderations.feature.test.ts
  sources/web/src/testing/index.ts
  sources/web/src/testing/router.ts
Labels: scope: moderations, scope: routes

♻️ Unify route declarations via shared #src/router
  sources/web/src/router/index.ts
  sources/web/src/routes/index.ts
  sources/web/src/testing/router.ts
Labels: scope: routes

👷 Split feature tests from unit tests in CI
  .github/workflows/ci.yml
  package.json
Labels: :construction_worker: CI

✨ Add CDP-based network idle detection to test DSL
  packages/bun-webview-dsl/src/index.test.ts
  packages/bun-webview-dsl/src/index.ts
  sources/web/src/htmx/index.ts
  sources/web/src/routes/assets/index.feature.test.ts
  sources/web/src/testing/router.ts
  sources/web/src/ui/moderations/DomainsByOrganization/DomainsByOrganization.tsx
  sources/web/src/ui/moderations/UsersByOrganization/UsersByOrganization.tsx
Labels: scope: moderations, scope: routes, scope: ui

🎨 Sort imports across test files and router
  packages/bun-webview-dsl/src/index.ts
  sources/web/src/router/index.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/handle_big_organization.feature.test.ts
  sources/web/src/routes/moderations/handle_duplicate_requests.feature.test.ts
  sources/web/src/routes/moderations/moderation_detail.feature.test.ts
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
  sources/web/src/routes/moderations/reprocess_completed_moderation.feature.test.ts
  sources/web/src/routes/moderations/select_verification_type.feature.test.ts
  sources/web/src/routes/moderations/validate_similar_moderations.feature.test.ts
  sources/web/src/testing/router.ts
Labels: scope: moderations, scope: routes

🚚 Move DSL tests to feature test suite
  package.json
  packages/bun-webview-dsl/src/index.feature.test.ts
Labels: none

✨ Add bun-webview-dsl with Scenario + htmx-aware actions
  bun.lock
  packages/bun-webview-dsl/package.json
  packages/bun-webview-dsl/src/index.test.ts
  packages/bun-webview-dsl/src/index.ts
  packages/bun-webview-dsl/tsconfig.json
  sources/web/package.json
  sources/web/tsconfig.json
Labels: none

✨ Migrate moderation_list cypress feature to bun-webview-dsl
  e2e/features/moderations/moderation_list.feature
  packages/bun-webview-dsl/src/index.ts
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes

✨ Migrate moderation_detail cypress feature to bun-webview-dsl
  e2e/features/moderations/moderation_detail.feature
  sources/web/src/routes/moderations/moderation_detail.feature.test.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes

👷 Split feature tests from unit tests in CI
  .github/workflows/ci.yml
  package.json
Labels: :construction_worker: CI

🎨 Sort imports across test files and router
  packages/bun-webview-dsl/src/index.ts
  sources/web/src/router/index.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/handle_big_organization.feature.test.ts
  sources/web/src/routes/moderations/handle_duplicate_requests.feature.test.ts
  sources/web/src/routes/moderations/moderation_detail.feature.test.ts
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
  sources/web/src/routes/moderations/reprocess_completed_moderation.feature.test.ts
  sources/web/src/routes/moderations/select_verification_type.feature.test.ts
  sources/web/src/routes/moderations/validate_similar_moderations.feature.test.ts
  sources/web/src/testing/router.ts
Labels: scope: moderations, scope: routes

✨ Add CDP-based network idle detection to test DSL
  packages/bun-webview-dsl/src/index.test.ts
  packages/bun-webview-dsl/src/index.ts
  sources/web/src/htmx/index.ts
  sources/web/src/routes/assets/index.feature.test.ts
  sources/web/src/testing/router.ts
  sources/web/src/ui/moderations/DomainsByOrganization/DomainsByOrganization.tsx
  sources/web/src/ui/moderations/UsersByOrganization/UsersByOrganization.tsx
Labels: scope: moderations, scope: routes, scope: ui

♻️ Unify route declarations via shared #src/router
  sources/web/src/router/index.ts
  sources/web/src/routes/index.ts
  sources/web/src/testing/router.ts
Labels: scope: routes

✨ Extend bun-webview-dsl + migrate moderations feature tests
  packages/bun-webview-dsl/src/index.test.ts
  packages/bun-webview-dsl/src/index.ts
  sources/web/src/routes/assets/index.feature.test.ts
  sources/web/src/routes/assets/index.ts
  sources/web/src/routes/assets/rewrite.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/handle_big_organization.feature.test.ts
  sources/web/src/routes/moderations/handle_duplicate_requests.feature.test.ts
  sources/web/src/routes/moderations/manage_external_domain.feature.test.ts
  sources/web/src/routes/moderations/moderation_detail.feature.test.ts
  sources/web/src/routes/moderations/reprocess_completed_moderation.feature.test.ts
  sources/web/src/routes/moderations/select_verification_type.feature.test.ts
  sources/web/src/routes/moderations/validate_similar_moderations.feature.test.ts
Labels: scope: moderations, scope: routes

♻️ Extract shared test server setup into testing/router.ts
  sources/web/src/routes/moderations/handle_big_organization.feature.test.ts
  sources/web/src/routes/moderations/handle_duplicate_requests.feature.test.ts
  sources/web/src/routes/moderations/manage_external_domain.feature.test.ts
  sources/web/src/routes/moderations/moderation_detail.feature.test.ts
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
  sources/web/src/routes/moderations/reprocess_completed_moderation.feature.test.ts
  sources/web/src/routes/moderations/select_verification_type.feature.test.ts
  sources/web/src/routes/moderations/validate_similar_moderations.feature.test.ts
  sources/web/src/testing/index.ts
  sources/web/src/testing/router.ts
Labels: scope: moderations, scope: routes

🚨 Address bot review findings in webview DSL
  packages/bun-webview-dsl/src/index.feature.test.ts
  packages/bun-webview-dsl/src/index.ts
Labels: none

🚚 Move DSL tests to feature test suite
  package.json
  packages/bun-webview-dsl/src/index.feature.test.ts
Labels: none

👷 Add emoji flair to CI workflow steps
  .github/workflows/ci.yml
Labels: :construction_worker: CI

👷 Split monolithic CI job into parallel jobs
  .github/workflows/ci.yml
  packages/bun-webview-dsl/src/index.ts
Labels: :construction_worker: CI

🐛 Fix feature-test exclusion glob in test:unit
  package.json
Labels: none

🐛 Fix text matching, idle race and silent misses in DSL
  packages/bun-webview-dsl/src/index.ts
Labels: none

🐛 Drop per-step DB reset in select_verification_type
  packages/bun-webview-dsl/src/index.ts
  sources/web/src/routes/moderations/select_verification_type.feature.test.ts
Labels: scope: moderations, scope: routes

👷 build before feature test
  .github/workflows/ci.yml
Labels: :construction_worker: CI

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"
