Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

✍️ Fix little coquille (#1225)
  sources/web/src/routes/moderations/:id/mark_as_validated.ts
Labels: scope: moderations, scope: routes

✨ add query parameter plugin for Vite-style imports
  bin/build.ts
  bin/tsconfig.json
  bun.lock
  bunfig.toml
  sources/config/bun-plugin-query/index.d.ts
  sources/config/bun-plugin-query/index.ts
  sources/config/bun-plugin-query/package.json
  sources/config/bun-plugin-query/query-params.d.ts
  sources/config/bun-plugin-query/tsconfig.json
  sources/web/package.json
  sources/web/src/lib/alpine/ClipboardScript.tsx
  sources/web/src/lib/alpine/clipboard.ts
  sources/web/src/lib/alpine/index.ts
  sources/web/src/routes/users/:id/page.tsx
Labels: scope: routes, scope: users

📦 add bun-plugin-query to root package devDependencies
  bun.lock
  bunfig.toml
  package.json
Labels: none

🗺️ add /src/ importmap for built client scripts
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
Labels: none

🔗 add /src/ static asset route for built client scripts
  sources/web/src/routes/assets/index.ts
Labels: scope: routes

🔨 build clipboard.ts to .js and fix plugin path transformation
  bin/build.ts
  sources/config/bun-plugin-query/index.ts
Labels: none

🚀 auto-build-client-scripts: implement auto-discovery and build plugin
  bin/build.ts
  bin/package.json
  bin/tsconfig.json
  bun.lock
  bunfig.toml
  package.json
  packages/hono-slotify/src/indext.test.tsx
  sources/config/bun-plugin-client-scripts/index.ts
  sources/config/bun-plugin-client-scripts/package.json
  sources/config/bun-plugin-client-scripts/tsconfig.json
  sources/config/bun-plugin-query/index.d.ts
  sources/config/bun-plugin-query/index.ts
  sources/config/bun-plugin-query/package.json
  sources/config/bun-plugin-query/query-params.d.ts
  sources/config/bun-plugin-query/tsconfig.json
  sources/web/package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/nprogress.client.ts
  sources/web/src/layouts/root.ts
  sources/web/src/lib/alpine/ClipboardScript.tsx
  sources/web/src/lib/alpine/clipboard.client.ts
  sources/web/src/lib/alpine/index.ts
  sources/web/src/routes/welcome/hyyypertitle.client.ts
  sources/web/src/routes/welcome/index.tsx
  sources/web/src/ui/button/scripts/copy_text_content_to_clipboard.client.test.tsx
  sources/web/src/ui/button/scripts/copy_value_to_clipboard.client.test.tsx
  sources/web/src/ui/button/scripts/disable_until_htmx:afterOnLoad.client.test.tsx
  sources/web/src/ui/menu/components/scripts/hide_on_click_elsewere.client.test.tsx
  sources/web/tsconfig.json
Labels: scope: routes, scope: ui

🚀 client-scripts: implement auto-discovery, build plugin, and dev orchestration
  bin/build.ts
  bin/bunfig.toml
  bin/dev.ts
  bin/package.json
  bin/src/bun/index.ts
  bunfig.toml
  package.json
  sources/config/bun-plugin-client-scripts/index.ts
  sources/web/src/html/ClientScript.tsx
  sources/web/src/html/index.ts
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/main.tsx
  sources/web/src/layouts/nprogress.client.ts
  sources/web/src/layouts/root.test.tsx
  sources/web/src/layouts/root.ts
  sources/web/src/lib/alpine/ClipboardScript.tsx
  sources/web/src/lib/alpine/alpine-init.client.ts
  sources/web/src/lib/alpine/clipboard.client.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/welcome/index.tsx
Labels: scope: routes

🧹 refactor: consolidate happydom dependency in web package and simplify test setup
  bin/build.ts
  bin/bunfig.toml
  bun.lock
  bunfig.toml
  package.json
  sources/config/bun-plugin-test-projects/index.ts
  sources/config/bun-plugin-test-projects/package.json
  sources/config/bun-plugin-test-projects/tsconfig.json
  sources/config/happydom/package.json
  sources/config/happydom/register.ts
  sources/config/happydom/tsconfig.json
  sources/web/package.json
  sources/web/src/ui/button/scripts/copy_text_content_to_clipboard.client.test.tsx
  sources/web/src/ui/button/scripts/copy_value_to_clipboard.client.test.tsx
  sources/web/src/ui/button/scripts/disable_until_htmx:afterOnLoad.client.test.tsx
  sources/web/src/ui/menu/components/scripts/hide_on_click_elsewere.client.test.tsx
Labels: scope: ui

🧹 refactor: streamline client scripts build process and simplify plugin architecture
  bin/dev.ts
  bin/src/bun/index.ts
  sources/config/bun-plugin-client-scripts/index.ts
  sources/web/src/html/ClientScript.tsx
Labels: none

chore(lock): update lockfile
  bun.lock
  e2e/bun.lock
Labels: :traffic_light: e2e

✨ Add FranceConnect reset button
  sources/web/src/routes.d.ts
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/page.tsx
Labels: scope: routes, scope: users

✨ Add FranceConnect reset button (#1228)
  sources/web/src/routes.d.ts
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/page.tsx
Labels: scope: routes, scope: users

🔧 refactor: migrate moderation page from hyperscript to Alpine.js
  sources/web/src/routes/moderations/:id/page.tsx
Labels: scope: moderations, scope: routes

🔧 refactor: migrate moderation page from hyperscript to Alpine.js (#1229)
  sources/web/src/routes/moderations/:id/page.tsx
Labels: scope: moderations, scope: routes

✨ add live reload functionality for development
  bin/dev.ts
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
  sources/web/src/routes/__dev__/live-reload.client.ts
  sources/web/src/routes/__dev__/reload.tsx
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/page.tsx
Labels: scope: moderations, scope: routes

✨ add live reload functionality for development (#1230)
  bin/dev.ts
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
  sources/web/src/routes/__dev__/live-reload.client.ts
  sources/web/src/routes/__dev__/reload.tsx
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/page.tsx
Labels: scope: moderations, scope: routes

♻️ Consolidate clipboard to CopyButton component
  sources/web/src/lib/alpine/ClipboardScript.tsx
  sources/web/src/lib/alpine/alpine-init.client.ts
  sources/web/src/lib/alpine/clipboard.client.ts
  sources/web/src/lib/alpine/index.ts
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/ui/button/components/__snapshots__/copy.test.tsx.snap
  sources/web/src/ui/button/components/copy.client.test.tsx
  sources/web/src/ui/button/components/copy.test.tsx
  sources/web/src/ui/button/components/copy.tsx
  sources/web/src/ui/button/scripts/copy_text_content_to_clipboard.client.test.tsx
  sources/web/src/ui/button/scripts/copy_text_content_to_clipboard.ts
  sources/web/src/ui/button/scripts/copy_value_to_clipboard.client.test.tsx
  sources/web/src/ui/button/scripts/copy_value_to_clipboard.ts
  sources/web/src/ui/button/scripts/index.ts
  sources/web/src/ui/organizations/info/__snapshots__/About.test.tsx.snap
Labels: scope: organizations, scope: routes, scope: ui, scope: users

Delete sources/web/src/lib/alpine/index.ts
  sources/web/src/lib/alpine/index.ts
Labels: none

🐛 correct the live reload hell
  bin/package.json
  bin/src/bun/index.ts
  bun.lock
  sources/web/src/routes/__dev__/live-reload.client.ts
Labels: scope: routes

🐛 correct the live reload hell (#1232)
  bin/package.json
  bin/src/bun/index.ts
  bun.lock
  sources/web/src/routes/__dev__/live-reload.client.ts
Labels: scope: routes

♻️ Consolidate clipboard to CopyButton component
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/ui/button/components/__snapshots__/copy.test.tsx.snap
  sources/web/src/ui/button/components/copy.client.test.tsx
  sources/web/src/ui/button/components/copy.test.tsx
  sources/web/src/ui/button/components/copy.tsx
  sources/web/src/ui/organizations/info/__snapshots__/About.test.tsx.snap
Labels: scope: organizations, scope: routes, scope: ui, scope: users

♻️ Consolidate clipboard to CopyButton component (#1231)
  sources/web/src/lib/alpine/ClipboardScript.tsx
  sources/web/src/lib/alpine/alpine-init.client.ts
  sources/web/src/lib/alpine/clipboard.client.ts
  sources/web/src/lib/alpine/index.ts
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/ui/button/components/copy.client.test.tsx
  sources/web/src/ui/button/components/copy.tsx
  sources/web/src/ui/button/scripts/copy_text_content_to_clipboard.client.test.tsx
  sources/web/src/ui/button/scripts/copy_text_content_to_clipboard.ts
  sources/web/src/ui/button/scripts/copy_value_to_clipboard.client.test.tsx
  sources/web/src/ui/button/scripts/copy_value_to_clipboard.ts
  sources/web/src/ui/button/scripts/index.ts
  sources/web/src/ui/organizations/info/__snapshots__/About.test.tsx.snap
Labels: scope: organizations, scope: routes, scope: ui, scope: users

🐛 buggy back button
  sources/web/src/layouts/root.ts
  sources/web/src/lib/alpine/alpine-init.client.ts
  sources/web/src/lib/alpine/alpine_start.client.ts
  sources/web/src/routes/moderations/:id/page.tsx
Labels: scope: moderations, scope: routes

♻️ use PenguinUI like toast container
  sources/web/src/layouts/main.tsx
  sources/web/src/lib/alpine/alpine_start.client.ts
  sources/web/src/lib/alpine/htmx-notifications.client.ts
  sources/web/src/lib/alpine/notifications.client.ts
  sources/web/src/ui/button/components/copy.tsx
  sources/web/src/ui/notifications/NotificationContainer.tsx
  sources/web/src/ui/notifications/index.ts
Labels: scope: ui

✨ add Preact notification system with reliable test isolation
  bun.lock
  package.json
  sources/web/src/ui/notifications/index.ts
  sources/web/src/ui/notifications/notifications.client.test.tsx
  sources/web/src/ui/notifications/notifications.client.tsx
Labels: scope: ui

✨ add NotificationIsland with inline mount script
  bin/dev.ts
  bun.lock
  bunfig.toml
  package.json
  sources/web/package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/main.test.tsx
  sources/web/src/layouts/main.tsx
  sources/web/src/layouts/root.ts
  sources/web/src/lib/alpine/alpine_start.client.ts
  sources/web/src/ui/button/components/CopyButtonIsland.tsx
  sources/web/src/ui/button/components/copy.client.test.tsx
  sources/web/src/ui/button/components/copy.client.tsx
  sources/web/src/ui/button/components/copy.tsx
  sources/web/src/ui/button/components/index.ts
  sources/web/src/ui/notifications/NotificationContainer.tsx
  sources/web/src/ui/notifications/NotificationIsland.tsx
  sources/web/src/ui/notifications/index.ts
  sources/web/src/ui/notifications/notifications.client.test.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/organizations/info/__snapshots__/About.test.tsx.snap
  sources/web/src/ui/users/About/About.tsx
Labels: scope: organizations, scope: ui, scope: users

✨ add Preact notification system with reliable test isolation (#1234)
  bin/dev.ts
  bun.lock
  bunfig.toml
  package.json
  sources/web/package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/main.test.tsx
  sources/web/src/layouts/main.tsx
  sources/web/src/layouts/root.ts
  sources/web/src/lib/alpine/alpine_start.client.ts
  sources/web/src/lib/alpine/htmx-notifications.client.ts
  sources/web/src/lib/alpine/notifications.client.ts
  sources/web/src/ui/button/components/CopyButtonIsland.tsx
  sources/web/src/ui/button/components/copy.client.test.tsx
  sources/web/src/ui/button/components/copy.client.tsx
  sources/web/src/ui/button/components/copy.tsx
  sources/web/src/ui/button/components/index.ts
  sources/web/src/ui/notifications/NotificationIsland.tsx
  sources/web/src/ui/notifications/index.ts
  sources/web/src/ui/notifications/notifications.client.test.tsx
  sources/web/src/ui/notifications/notifications.client.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/organizations/info/__snapshots__/About.test.tsx.snap
  sources/web/src/ui/users/About/About.tsx
Labels: scope: organizations, scope: ui, scope: users

♻️ use preact notif system for htmx events
  bun.lock
  bunfig.toml
  package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
  sources/web/src/lib/alpine/alpine_start.client.ts
  sources/web/src/lib/alpine/htmx-notifications.client.ts
  sources/web/src/lib/alpine/notifications.client.ts
  sources/web/src/lib/htmx.client.ts
  sources/web/src/ui/index.ts
  sources/web/src/ui/toast/components/ToasterContainer.tsx
  sources/web/src/ui/toast/components/index.ts
  sources/web/src/ui/toast/index.ts
Labels: scope: ui

♻️ use preact notif system for htmx events (#1235)
  bun.lock
  bunfig.toml
  package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
  sources/web/src/lib/alpine/alpine_start.client.ts
  sources/web/src/lib/alpine/htmx-notifications.client.ts
  sources/web/src/lib/alpine/notifications.client.ts
  sources/web/src/lib/htmx.client.ts
  sources/web/src/ui/index.ts
  sources/web/src/ui/toast/components/ToasterContainer.tsx
  sources/web/src/ui/toast/components/index.ts
  sources/web/src/ui/toast/index.ts
Labels: scope: ui

🔧 refactor: replace console.log with consola.trace for better logging
  sources/web/src/routes/__dev__/reload.tsx
Labels: scope: routes

♻️ use preact moderation filter
  bun.lock
  bunfig.toml
  sources/config/bun-plugin-client-scripts/index.ts
  sources/web/package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/lib/create-island/index.test.tsx
  sources/web/src/lib/create-island/index.tsx
  sources/web/src/routes/moderations/ProcessedCheckboxIsland.tsx
  sources/web/src/routes/moderations/SearchEmailIsland.tsx
  sources/web/src/routes/moderations/SearchSiretIsland.tsx
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
  sources/web/src/routes/moderations/search-email.client.tsx
  sources/web/src/routes/moderations/search-siret.client.tsx
  sources/web/src/ui/button/components/CopyButtonIsland.tsx
  sources/web/src/ui/notifications/NotificationIsland.tsx
Labels: scope: moderations, scope: routes, scope: ui

♻️ use preact moderation filter (#1236)
  bun.lock
  bunfig.toml
  sources/config/bun-plugin-client-scripts/index.ts
  sources/web/package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/lib/create-island/index.test.tsx
  sources/web/src/lib/create-island/index.tsx
  sources/web/src/routes/moderations/ProcessedCheckboxIsland.tsx
  sources/web/src/routes/moderations/SearchEmailIsland.tsx
  sources/web/src/routes/moderations/SearchSiretIsland.tsx
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
  sources/web/src/routes/moderations/search-email.client.tsx
  sources/web/src/routes/moderations/search-siret.client.tsx
  sources/web/src/ui/button/components/CopyButtonIsland.tsx
  sources/web/src/ui/notifications/NotificationIsland.tsx
Labels: scope: moderations, scope: routes, scope: ui

🐛 add retry button if we have an fetching leader error
  sources/web/src/middleware/fetch/index.ts
  sources/web/src/middleware/fetch/set_fetch.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/routes/organizations/leaders/index.tsx
Labels: scope: middleware, scope: organizations, scope: routes

🐛 add retry button if we have an fetching leader error (#1237)
  sources/web/src/middleware/fetch/index.ts
  sources/web/src/middleware/fetch/set_fetch.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/routes/organizations/leaders/index.tsx
Labels: scope: middleware, scope: organizations, scope: routes

🐛 add preact/jsx-runtime in production
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
Labels: none

🐛 add preact/jsx-runtime in production (#1238)
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
Labels: none

🐛 add duplicate export on bun splitting build fix
  .github/workflows/e2e.yml
  bin/build.ts
  bin/dev.ts
  bun.lock
  sources/config/bun-plugin-client-scripts/dedupe-exports.test.ts
  sources/config/bun-plugin-client-scripts/dedupe-exports.ts
  sources/config/bun-plugin-client-scripts/index.ts
  sources/config/bun-plugin-client-scripts/package.json
  sources/web/src/routes/moderations/filter-signals.client.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
  sources/web/src/routes/moderations/search-email.client.tsx
  sources/web/src/routes/moderations/search-siret.client.tsx
Labels: :construction_worker: CI, scope: moderations, scope: routes

🐛 add duplicate export on bun splitting build fix (#1239)
  .github/workflows/e2e.yml
  bin/build.ts
  bin/dev.ts
  bun.lock
  sources/config/bun-plugin-client-scripts/dedupe-exports.test.ts
  sources/config/bun-plugin-client-scripts/dedupe-exports.ts
  sources/config/bun-plugin-client-scripts/index.ts
  sources/config/bun-plugin-client-scripts/package.json
  sources/web/src/routes/moderations/filter-signals.client.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
  sources/web/src/routes/moderations/search-email.client.tsx
  sources/web/src/routes/moderations/search-siret.client.tsx
Labels: :construction_worker: CI, scope: moderations, scope: routes

chore(lock): update lockfile
  e2e/bun.lock
Labels: :traffic_light: e2e
