Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

Revert "chore(dependabot): use enable-beta-ecosystems"
  .github/dependabot.yml
Labels: :construction_worker: CI

🔧 refactor: remove build:tsc script and inline tsc command
  package.json
Labels: none

🔧 refactor: remove build:tsc script and inline tsc command (#1249)
  package.json
Labels: none

chore(dependabot): update package ecosystem to bun
  .github/dependabot.yml
Labels: :construction_worker: CI

🔧 fix: improve type safety and error handling across codebase
  sources/config/bun-plugin-client-scripts/dedupe-exports.test.ts
  sources/config/bun-plugin-client-scripts/dedupe-exports.ts
  sources/config/typescript/base/tsconfig.json
  sources/core/src/schema/z_email_domain.ts
  sources/identite-proconnect/src/database/seed/captus.ts
  sources/identite-proconnect/src/database/seed/organizations/bosch_france.ts
  sources/identite-proconnect/src/database/seed/organizations/bosch_rexroth.ts
  sources/identite-proconnect/src/database/seed/organizations/commune_de_pompierre.ts
  sources/identite-proconnect/src/database/seed/organizations/yes_we_hack.ts
  sources/identite-proconnect/src/database/seed/troll.ts
  sources/identite-proconnect/src/database/seed/unicorn.ts
  sources/identite-proconnect/src/database/seed/users/mariebon.ts
  sources/identite-proconnect/src/database/seed/zombie.ts
  sources/web/src/lib/organizations/usecase/RemoveDomainEmailById.test.ts
  sources/web/src/lib/users/usecase/CountUserMemberships.ts
  sources/web/src/queries/organizations/CountOrganizationMembers.ts
  sources/web/src/queries/organizations/GetDomainCount.ts
  sources/web/src/queries/organizations/GetOrganizationMembersCount.ts
  sources/web/src/queries/organizations/GetOrganizationsList.ts
  sources/web/src/queries/users/GetUsersList.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/members/get_users_by_organization.query.ts
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.test.ts
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.ts
  sources/web/src/routes/organizations/get_organizations_list.query.ts
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.ts
  sources/web/src/routes/users/get_users_list.query.ts
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/ui/users/About/About.tsx
  sources/web/src/ui/users/Investigation/Investigation.tsx
Labels: scope: core, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

✨ feat: add prettier formatting to CI pipeline and apply code formatting
  .github/workflows/ci.yml
  .prettierignore
  CHANGELOG.md
  e2e/cypress.config.ts
  package.json
  sources/web/src/lib/create-island/index.test.tsx
  sources/web/src/lib/create-island/index.tsx
  sources/web/src/lib/moderations/context/rejected.ts
  sources/web/src/lib/moderations/usecase/GetCripsFromSessionId.ts
  sources/web/src/lib/moderations/usecase/ValidateSimilarModerations.ts
  sources/web/src/lib/moderations/usecase/member_join_organization.ts
  sources/web/src/lib/users/usecase/ResetMFA.ts
  sources/web/src/lib/users/usecase/ResetPassword.ts
  sources/web/src/lib/zammad/types.ts
  sources/web/src/routes/moderations/:id/ModerationExchanges.tsx
  sources/web/src/routes/moderations/:id/email/Message.tsx
  sources/web/src/routes/moderations/:id/mark_as_validated.ts
  sources/web/src/routes/moderations/:id/processed/index.ts
  sources/web/src/routes/moderations/:id/reprocess/index.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
  sources/web/src/routes/organizations/:id/members/index.tsx
  sources/web/src/routes/organizations/context.ts
  sources/web/src/routes/readyz/index.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.ts
  sources/web/src/ui/button/components/copy.client.tsx
  sources/web/src/ui/button/components/index.ts
  sources/web/src/ui/crisp/Message/index.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/SendNotification.tsx
  sources/web/src/ui/moderations/Actions/context.ts
  sources/web/src/ui/moderations/Actions/responses/user_with_existing_pc_account.test.tsx
  sources/web/src/ui/moderations/Crisp/Crisp.tsx
  sources/web/src/ui/moderations/DomainsByOrganization/DomainsByOrganization.tsx
  sources/web/src/ui/moderations/OrganizationsByUser/OrganizationsByUser.tsx
  sources/web/src/ui/moderations/UsersByOrganization/UsersByOrganization.tsx
  sources/web/src/ui/organizations/info/About.tsx
Labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

✨ feat: add prettier formatting to CI pipeline and apply code formatting (#1265)
  .github/workflows/ci.yml
  .prettierignore
  CHANGELOG.md
  e2e/cypress.config.ts
  package.json
  sources/web/src/lib/create-island/index.test.tsx
  sources/web/src/lib/create-island/index.tsx
  sources/web/src/lib/moderations/context/rejected.ts
  sources/web/src/lib/moderations/usecase/GetCripsFromSessionId.ts
  sources/web/src/lib/moderations/usecase/ValidateSimilarModerations.ts
  sources/web/src/lib/moderations/usecase/member_join_organization.ts
  sources/web/src/lib/users/usecase/ResetMFA.ts
  sources/web/src/lib/users/usecase/ResetPassword.ts
  sources/web/src/lib/zammad/types.ts
  sources/web/src/routes/moderations/:id/ModerationExchanges.tsx
  sources/web/src/routes/moderations/:id/email/Message.tsx
  sources/web/src/routes/moderations/:id/mark_as_validated.ts
  sources/web/src/routes/moderations/:id/processed/index.ts
  sources/web/src/routes/moderations/:id/reprocess/index.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
  sources/web/src/routes/organizations/:id/members/index.tsx
  sources/web/src/routes/organizations/context.ts
  sources/web/src/routes/readyz/index.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.ts
  sources/web/src/ui/button/components/copy.client.tsx
  sources/web/src/ui/button/components/index.ts
  sources/web/src/ui/crisp/Message/index.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/SendNotification.tsx
  sources/web/src/ui/moderations/Actions/context.ts
  sources/web/src/ui/moderations/Actions/responses/user_with_existing_pc_account.test.tsx
  sources/web/src/ui/moderations/Crisp/Crisp.tsx
  sources/web/src/ui/moderations/DomainsByOrganization/DomainsByOrganization.tsx
  sources/web/src/ui/moderations/OrganizationsByUser/OrganizationsByUser.tsx
  sources/web/src/ui/moderations/UsersByOrganization/UsersByOrganization.tsx
  sources/web/src/ui/organizations/info/About.tsx
Labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

✨ release-it-changeset-plugin
  .release-it-changeset/fist.md
  README.md
  bun.lock
  package.json
  packages/release-it-changeset-plugin/README.md
  packages/release-it-changeset-plugin/package.json
  packages/release-it-changeset-plugin/src/index.test.ts
  packages/release-it-changeset-plugin/src/index.ts
  packages/release-it-changeset-plugin/src/types/conventional-changelog.d.ts
  packages/release-it-changeset-plugin/src/types/release-it.d.ts
  packages/release-it-changeset-plugin/tsconfig.json
Labels: :memo: documentation

✨ release-it-changeset-plugin
  .release-it-changeset/fist.md
  README.md
  bun.lock
  package.json
  packages/release-it-changeset-plugin/README.md
  packages/release-it-changeset-plugin/package.json
  packages/release-it-changeset-plugin/src/index.test.ts
  packages/release-it-changeset-plugin/src/index.ts
  packages/release-it-changeset-plugin/src/types/conventional-changelog.d.ts
  packages/release-it-changeset-plugin/src/types/release-it.d.ts
  packages/release-it-changeset-plugin/tsconfig.json
Labels: :memo: documentation

✨ release-it-changeset-plugin (#1266)
  .release-it-changeset/fist.md
  README.md
  bun.lock
  package.json
  packages/release-it-changeset-plugin/README.md
  packages/release-it-changeset-plugin/package.json
  packages/release-it-changeset-plugin/src/index.test.ts
  packages/release-it-changeset-plugin/src/index.ts
  packages/release-it-changeset-plugin/src/types/conventional-changelog.d.ts
  packages/release-it-changeset-plugin/src/types/release-it.d.ts
  packages/release-it-changeset-plugin/tsconfig.json
Labels: :memo: documentation

✨ feat: extract release-it plugin types and add gitmoji changelog plugin
  bun.lock
  package.json
  packages/release-it-changeset-plugin/src/index.ts
  packages/release-it-changeset-plugin/src/types/conventional-changelog.d.ts
  packages/release-it-gitmoji-changelog-plugin/README.md
  packages/release-it-gitmoji-changelog-plugin/package.json
  packages/release-it-gitmoji-changelog-plugin/src/index.test.ts
  packages/release-it-gitmoji-changelog-plugin/src/index.ts
  packages/release-it-gitmoji-changelog-plugin/tsconfig.json
  packages/release-it-plugin-types/README.md
  packages/release-it-plugin-types/package.json
  packages/release-it-plugin-types/src/index.d.ts
Labels: :memo: documentation

🐛 Fixes a title that was displayed twice after an action
  sources/web/src/routes/domains-deliverability/page.tsx
Labels: scope: routes

🐛 Fixes a title that was displayed twice after an action (#1268)
  sources/web/src/routes/domains-deliverability/page.tsx
Labels: scope: routes

✨ feat: extract release-it plugin types and add gitmoji changelog plugin (#1267)
  bun.lock
  package.json
  packages/release-it-changeset-plugin/src/index.ts
  packages/release-it-changeset-plugin/src/types/conventional-changelog.d.ts
  packages/release-it-gitmoji-changelog-plugin/README.md
  packages/release-it-gitmoji-changelog-plugin/package.json
  packages/release-it-gitmoji-changelog-plugin/src/index.test.ts
  packages/release-it-gitmoji-changelog-plugin/src/index.ts
  packages/release-it-gitmoji-changelog-plugin/tsconfig.json
  packages/release-it-plugin-types/README.md
  packages/release-it-plugin-types/package.json
  packages/release-it-plugin-types/src/index.d.ts
Labels: :memo: documentation

Revert "✨ feat: extract release-it plugin types and add gitmoji changelog plugin (#1267)"
  bun.lock
  package.json
  packages/release-it-changeset-plugin/package.json
  packages/release-it-changeset-plugin/src/index.ts
  packages/release-it-changeset-plugin/src/types/conventional-changelog.d.ts
  packages/release-it-changeset-plugin/src/types/release-it.d.ts
  packages/release-it-gitmoji-changelog-plugin/README.md
  packages/release-it-gitmoji-changelog-plugin/package.json
  packages/release-it-gitmoji-changelog-plugin/src/index.test.ts
  packages/release-it-gitmoji-changelog-plugin/src/index.ts
  packages/release-it-gitmoji-changelog-plugin/tsconfig.json
  packages/release-it-plugin-types/README.md
  packages/release-it-plugin-types/package.json
Labels: :memo: documentation

✨ feat: extract release-it plugin types and add gitmoji changelog plugin (#1267)
  bun.lock
  package.json
  packages/release-it-changeset-plugin/src/index.ts
  packages/release-it-changeset-plugin/src/types/conventional-changelog.d.ts
  packages/release-it-gitmoji-changelog-plugin/README.md
  packages/release-it-gitmoji-changelog-plugin/package.json
  packages/release-it-gitmoji-changelog-plugin/src/index.test.ts
  packages/release-it-gitmoji-changelog-plugin/src/index.ts
  packages/release-it-gitmoji-changelog-plugin/tsconfig.json
  packages/release-it-plugin-types/README.md
  packages/release-it-plugin-types/package.json
  packages/release-it-plugin-types/src/index.d.ts
Labels: :memo: documentation

🔧 test: add deterministic date to gitmoji changelog plugin test
  packages/release-it-gitmoji-changelog-plugin/src/index.test.ts
Labels: none

🔧 fix: update release workflow and changelog formatting
  .github/workflows/release.yml
  CHANGELOG.md
Labels: :construction_worker: CI, :memo: documentation

🔧 chore(ci): add build steps for release plugins in CI workflow
  .github/workflows/release.yml
Labels: :construction_worker: CI

🔧 chore(ci): update release workflow and changelog formatting
  .github/workflows/release.yml
  CHANGELOG.md
Labels: :construction_worker: CI, :memo: documentation

:bookmark: release 2025.12.0
  CHANGELOG.md
  package.json
Labels: :memo: documentation

📝 docs: update changelog with recent changes
  CHANGELOG.md
Labels: :memo: documentation

🔧 fix: update plugin types and changelog extraction logic
  packages/release-it-gitmoji-changelog-plugin/src/index.ts
  packages/release-it-plugin-types/src/index.d.ts
Labels: none

🔧 fix: move git add to release phase and improve changeset cleanup
  packages/release-it-changeset-plugin/src/index.ts
Labels: none

:bookmark: release 2025.12.1
  .release-it-changeset/fist.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🔧 chore: add prettier formatting and improve changeset handling
  .release-it-changeset/.gitkeep
  packages/release-it-changeset-plugin/src/index.ts
  packages/release-it-gitmoji-changelog-plugin/src/index.ts
Labels: none

📝 docs: add test changeset for release-it
  .release-it-changeset/my-changes.md
Labels: :memo: documentation

:bookmark: release 2025.12.2
  .release-it-changeset/my-changes.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🔧 chore: update asset paths to use import map resolution
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/main.test.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/index.test.ts
  sources/web/src/routes/moderations/ProcessedCheckboxIsland.tsx
  sources/web/src/routes/moderations/SearchEmailIsland.tsx
  sources/web/src/routes/moderations/SearchSiretIsland.tsx
  sources/web/src/ui/button/components/CopyButtonIsland.tsx
  sources/web/src/ui/notifications/NotificationIsland.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
Labels: scope: moderations, scope: organizations, scope: routes, scope: ui

📝 docs: fix CHANGELOG.md formatting
  CHANGELOG.md
Labels: :memo: documentation

📝 docs: update README and fix asset paths
  README.md
  sources/web/src/lib/create-island/index.tsx
Labels: :memo: documentation

🔧 fix: remove debug extension from main layout snapshot
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
Labels: none

:bookmark: release 2025.12.3
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🎨 Move add domain component before to add pagination
  .release-it-changeset/move-add-domain.md
  sources/web/src/routes/domains-deliverability/page.tsx
Labels: :memo: documentation, scope: routes

🎨 Move add domain component before to add pagination (#1269)
  .release-it-changeset/move-add-domain.md
  sources/web/src/routes/domains-deliverability/page.tsx
Labels: :memo: documentation, scope: routes

:bookmark: release 2025.12.4
  .release-it-changeset/move-add-domain.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

style: make prettier happy
  CHANGELOG.md
Labels: :memo: documentation

🔒️ add cooldown option on dependabot
  .github/dependabot.yml
Labels: :construction_worker: CI

🔒️ add cooldown option on dependabot (#1278)
  .github/dependabot.yml
Labels: :construction_worker: CI

style: make prettier happy
  sources/web/src/routes/moderations/:id/email/Message.tsx
  sources/web/src/routes/moderations/:id/not-found.tsx
  sources/web/src/routes/not-found.tsx
  sources/web/src/routes/organizations/:id/Fiche.tsx
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/not-found.tsx
  sources/web/src/routes/users/:id/not-found.tsx
  sources/web/src/ui/button/index.ts
  sources/web/src/ui/crisp/Message/index.tsx
  sources/web/src/ui/menu/components/Trigger.tsx
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/Toolbar.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/table/index.ts
  sources/web/src/ui/tag/index.ts
  sources/web/src/ui/users/About/About.tsx
  sources/web/src/ui/visually_hidden/index.ts
Labels: scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users
