Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

✨ use moderation status in moderations table
  .release-it-changeset/508983623+feature.md
  sources/web/src/lib/moderations/Moderation_Type.ts
  sources/web/src/lib/moderations/index.ts
  sources/web/src/lib/moderations/moderation_type.mapper.ts
  sources/web/src/lib/moderations/types.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/badge/index.ts
  sources/web/src/ui/moderations/Actions/SendNotification.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
Labels: :memo: documentation, scope: moderations, scope: routes, scope: ui

✨ use moderation status in moderations table (#1372)
  .release-it-changeset/508983623+feature.md
  sources/web/src/lib/moderations/Moderation_Type.ts
  sources/web/src/lib/moderations/index.ts
  sources/web/src/lib/moderations/moderation_type.mapper.ts
  sources/web/src/lib/moderations/types.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/badge/index.ts
  sources/web/src/ui/moderations/Actions/SendNotification.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
Labels: :memo: documentation, scope: moderations, scope: routes, scope: ui

🐛 treat unknown moderation status as exotic moderation type
  sources/web/src/routes/moderations/page.tsx
Labels: scope: moderations, scope: routes

🐛 treat unknown moderation status as exotic moderation type (#1373)
  sources/web/src/routes/moderations/page.tsx
Labels: scope: moderations, scope: routes

:bookmark: release 2026.2.3
  .release-it-changeset/508983623+feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 typo in component name
  sources/web/src/routes/moderations/page.tsx
Labels: scope: moderations, scope: routes

🔧 update tailwind config
  bin/dev.ts
  bin/tailwind.config.js
  bun.lock
  hyyypertool.code-workspace
  sources/web/package.json
Labels: none

🔧 update tailwind config (#1380)
  bin/dev.ts
  bin/tailwind.config.js
  bun.lock
  hyyypertool.code-workspace
  sources/web/package.json
Labels: none

✨ inapp editable response template
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/main.tsx
  sources/web/src/routes.d.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/index.test.ts
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/routes/response-templates/page.tsx
  sources/web/src/ui/accordion/index.ts
  sources/web/src/ui/moderations/TemplateEditor/TemplateEditorIsland.tsx
  sources/web/src/ui/moderations/TemplateEditor/index.ts
  sources/web/src/ui/moderations/TemplateEditor/render.test.ts
  sources/web/src/ui/moderations/TemplateEditor/render.ts
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.test.tsx
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.tsx
  sources/web/src/ui/moderations/TemplateEditor/templates-loader.tsx
  sources/web/src/ui/tabs/index.ts
Labels: scope: moderations, scope: routes, scope: ui

🔧 update scripts strategy
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  CONTRIBUTING.md
  bin/build.ts
  bin/dev.ts
  bin/package.json
  bun.lock
  hyyypertool.code-workspace
  package.json
  scripts/build.ts
  scripts/db/migrate.ts
  scripts/db/seed.ts
  scripts/db/studio.ts
  scripts/dev.ts
  scripts/format.ts
  scripts/seed.ts
  scripts/studio.ts
  scripts/test.ts
  sources/config/tailwindcss/index.ts
  sources/config/tailwindcss/package.json
  sources/web/package.json
Labels: :construction_worker: CI, :memo: documentation

♻️ ui(icons): refactor icon system for universal usage
  sources/web/src/layouts/main.tsx
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
  sources/web/src/ui/button/components/copy.client.tsx
  sources/web/src/ui/icons/components/icon.tsx
  sources/web/src/ui/icons/components/index.ts
  sources/web/src/ui/icons/icons.tsx
  sources/web/src/ui/icons/index.ts
  sources/web/src/ui/icons/paths.ts
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/tailwind.css
Labels: scope: moderations, scope: routes, scope: ui

💄 ui(theme): refine tailwind typography and header styles
  sources/web/src/layouts/root.ts
  sources/web/src/routes/__dev__/design-system.tsx
  sources/web/src/ui/header/index.ts
  sources/web/src/ui/tailwind.dsfr.css
Labels: scope: routes, scope: ui

feat: add EHPAD link in Investigation actions
  sources/web/src/ui/organizations/info/Investigation.tsx
Labels: scope: organizations, scope: ui

test: update Investigation snapshot after adding EHPAD link
  sources/web/src/ui/organizations/info/__snapshots__/Investigation.test.tsx.snap
Labels: scope: organizations, scope: ui

🐛 typo in component name (#1374)
  sources/web/src/routes/moderations/page.tsx
Labels: scope: moderations, scope: routes

⏪️ e2e: revert build script to use specific database migrator
  e2e/package.json
Labels: :traffic_light: e2e

⏪️ e2e: revert build script to use specific database migrator (#1384)
  e2e/package.json
Labels: :traffic_light: e2e

📝 add a changeset
  .release-it-changeset/642540015+feature.md
Labels: :memo: documentation

feat: add EHPAD link in Investigation actions (#1383)
  .release-it-changeset/642540015+feature.md
  sources/web/src/ui/organizations/info/Investigation.tsx
  sources/web/src/ui/organizations/info/__snapshots__/Investigation.test.tsx.snap
Labels: :memo: documentation, scope: organizations, scope: ui

:bookmark: release 2026.2.4
  .release-it-changeset/642540015+feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🚥 e2e(mockserver): fix notification verification flakiness
  e2e/bun.lock
  e2e/cypress.config.ts
  e2e/cypress/support/e2e.ts
  e2e/cypress/support/step_definitions/mockserver.ts
  e2e/package.json
Labels: :traffic_light: e2e

🚥 e2e(mockserver): fix notification verification flakiness (#1392)
  e2e/bun.lock
  e2e/cypress.config.ts
  e2e/cypress/support/e2e.ts
  e2e/cypress/support/step_definitions/mockserver.ts
  e2e/package.json
Labels: :traffic_light: e2e

♻️ remove legacy force join organization
  sources/identite-proconnect/src/api/index.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
Labels: scope: organizations, scope: routes

♻️ get rid of force join from pci
  .release-it-changeset/029575174+feature.md
  sources/identite-proconnect/src/sdk/index.ts
  sources/web/src/lib/moderations/usecase/index.ts
  sources/web/src/lib/moderations/usecase/member_join_organization.ts
  sources/web/src/routes/moderations/:id/validate.ts
Labels: :memo: documentation, scope: moderations, scope: routes

♻️ remove legacy force join organization (#1393)
  .release-it-changeset/029575174+feature.md
  sources/identite-proconnect/src/api/index.ts
  sources/identite-proconnect/src/sdk/index.ts
  sources/web/src/lib/moderations/usecase/index.ts
  sources/web/src/lib/moderations/usecase/member_join_organization.ts
  sources/web/src/routes/moderations/:id/validate.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
Labels: :memo: documentation, scope: moderations, scope: organizations, scope: routes

⚡️🐛 [domains] Fix table disappearing on refresh and optimize free domain filtering
  .release-it-changeset/066277213+my-feature.md
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.ts
  sources/web/src/routes/organizations/domains/ids.attr.ts
  sources/web/src/routes/organizations/domains/index.tsx
Labels: :memo: documentation, scope: organizations, scope: routes

⚡️🐛 [domains] Fix table disappearing on refresh and optimize free domain filtering (#1404)
  .release-it-changeset/066277213+my-feature.md
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.ts
  sources/web/src/routes/organizations/domains/ids.attr.ts
  sources/web/src/routes/organizations/domains/index.tsx
Labels: :memo: documentation, scope: organizations, scope: routes

:bookmark: release 2026.2.5
  .release-it-changeset/029575174+feature.md
  .release-it-changeset/066277213+my-feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 bug on moderation of already linked members
  .release-it-changeset/689979554_bug.md
  e2e/features/moderations/add_internal_member.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/identite-proconnect/src/database/seed/organizations/bosch_rexroth.ts
  sources/identite-proconnect/src/database/seed/organizations/commune_de_pompierre.ts
  sources/identite-proconnect/src/database/seed/organizations/yes_we_hack.ts
  sources/web/src/errors/index.ts
  sources/web/src/routes/moderations/:id/validate.test.ts
  sources/web/src/routes/moderations/:id/validate.ts
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: routes

🐛 bug on moderation of already linked members (#1405)
  .release-it-changeset/689979554_bug.md
  e2e/features/moderations/add_internal_member.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/identite-proconnect/src/database/seed/organizations/bosch_rexroth.ts
  sources/identite-proconnect/src/database/seed/organizations/commune_de_pompierre.ts
  sources/identite-proconnect/src/database/seed/organizations/yes_we_hack.ts
  sources/web/src/errors/index.ts
  sources/web/src/routes/moderations/:id/validate.test.ts
  sources/web/src/routes/moderations/:id/validate.ts
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: routes

:bookmark: release 2026.2.6
  .release-it-changeset/689979554_bug.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

📈 [sentry] Early init via --import, add profiling + browser SDK
  .github/workflows/e2e.yml
  .release-it-changeset/sentry-full-instrumentation.md
  bin/dev.ts
  bin/package.json
  bin/src/node/index.ts
  bin/src/node/instrument.ts
  bun.lock
  package.json
  sources/web/package.json
  sources/web/src/config/env.ts
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
  sources/web/src/layouts/sentry.client.ts
  sources/web/src/middleware/sentry/index.ts
Labels: :construction_worker: CI, :memo: documentation, scope: middleware

📈 [sentry] Early init via --import, add profiling + browser SDK (#1406)
  .github/workflows/e2e.yml
  .release-it-changeset/sentry-full-instrumentation.md
  bin/dev.ts
  bin/package.json
  bin/src/node/index.ts
  bin/src/node/instrument.ts
  bun.lock
  package.json
  sources/web/package.json
  sources/web/src/config/env.ts
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
  sources/web/src/layouts/sentry.client.ts
  sources/web/src/middleware/sentry/index.ts
Labels: :construction_worker: CI, :memo: documentation, scope: middleware

🔥 Remove unnecessary trustedDependencies for @sentry/profiling-node
  bin/package.json
Labels: none

🔥 Remove unnecessary trustedDependencies for @sentry/profiling-node (#1407)
  bin/package.json
Labels: none

🐛 Reset page to 1 on search across paginated lists
  .release-it-changeset/fix-search-page-reset.md
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/page.tsx
Labels: :memo: documentation, scope: organizations, scope: routes, scope: users

🐛 Reset page to 1 on search across paginated lists (#1408)
  .release-it-changeset/fix-search-page-reset.md
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/page.tsx
Labels: :memo: documentation, scope: organizations, scope: routes, scope: users

:bookmark: release 2026.2.7
  .release-it-changeset/fix-search-page-reset.md
  .release-it-changeset/sentry-full-instrumentation.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

update router dts
  bun.lock
  sources/web/src/routes.d.ts
Labels: none

👮 fix used node version to 24
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .scalingo/buildpack/bin/compile
  package.json
Labels: :construction_worker: CI

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"
