Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

🐛 fix lien vers la liste des dirigeants sur annuaire-entreprises (#1847)
  .release-it-changeset/1759868400-fix-lien-dirigeants.md
  sources/web/src/ui/users/About/About.tsx
Labels: :memo: documentation, scope: ui, scope: users

:bookmark: release 2026.10.0
  .release-it-changeset/1759868400-fix-lien-dirigeants.md
  .release-it-changeset/1791215191-feature.md
  .release-it-changeset/1791379657-ajout-organisation.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

♻️ release through proconnect-gouv/release-action
  .github/workflows/release.yml
  .prettierignore
  README.md
  bun.lock
  package.json
  packages/release-it-changeset-plugin/README.md
  packages/release-it-changeset-plugin/package.json
  packages/release-it-changeset-plugin/src/index.test.ts
  packages/release-it-changeset-plugin/src/index.ts
  packages/release-it-changeset-plugin/tsconfig.json
  packages/release-it-gitmoji-changelog-plugin/README.md
  packages/release-it-gitmoji-changelog-plugin/package.json
  packages/release-it-gitmoji-changelog-plugin/src/index.test.ts
  packages/release-it-gitmoji-changelog-plugin/src/index.ts
  packages/release-it-gitmoji-changelog-plugin/tsconfig.json
  packages/release-it-plugin-types/README.md
  packages/release-it-plugin-types/package.json
  packages/release-it-plugin-types/src/index.d.ts
Labels: :construction_worker: CI, :memo: documentation

♻️ release through proconnect-gouv/release-action (#1857)
  .github/workflows/release.yml
  .prettierignore
  README.md
  bun.lock
  package.json
  packages/release-it-changeset-plugin/README.md
  packages/release-it-changeset-plugin/package.json
  packages/release-it-changeset-plugin/src/index.test.ts
  packages/release-it-changeset-plugin/src/index.ts
  packages/release-it-changeset-plugin/tsconfig.json
  packages/release-it-gitmoji-changelog-plugin/README.md
  packages/release-it-gitmoji-changelog-plugin/package.json
  packages/release-it-gitmoji-changelog-plugin/src/index.test.ts
  packages/release-it-gitmoji-changelog-plugin/src/index.ts
  packages/release-it-gitmoji-changelog-plugin/tsconfig.json
  packages/release-it-plugin-types/README.md
  packages/release-it-plugin-types/package.json
  packages/release-it-plugin-types/src/index.d.ts
Labels: :construction_worker: CI, :memo: documentation

⬆️ bump release-action to v1.1.0
  .github/workflows/release.yml
Labels: :construction_worker: CI

⬆️ bump release-action to v1.1.0 (#1859)
  .github/workflows/release.yml
Labels: :construction_worker: CI

📝 add changeset for linked release notes
  .release-it-changeset/1791453600-release-action-links.md
Labels: :memo: documentation

📝 add changeset for linked release notes (#1860)
  .release-it-changeset/1791453600-release-action-links.md
Labels: :memo: documentation

🔧 drop GitHub release comments
  .github/workflows/release.yml
  package.json
Labels: :construction_worker: CI

🔧 drop GitHub release comments (#1861)
  .github/workflows/release.yml
  package.json
Labels: :construction_worker: CI

♻️ prune release branches with release-action
  .github/workflows/prune_release_branches.yml
  .github/workflows/release_cron.yaml
Labels: :construction_worker: CI

♻️ prune release branches with release-action (#1862)
  .github/workflows/prune_release_branches.yml
  .github/workflows/release_cron.yaml
Labels: :construction_worker: CI

⬆️ bump release-action to v1.3.0
  .github/workflows/prune_release_branches.yml
  .github/workflows/release.yml
  .prettierignore
Labels: :construction_worker: CI

⬆️ bump release-action to v1.3.0 (#1864)
  .github/workflows/prune_release_branches.yml
  .github/workflows/release.yml
  .prettierignore
Labels: :construction_worker: CI

✅ port filter_by_moderator feature test to buncept
  .github/workflows/e2e.yml
  e2e/features/moderations/filter_by_moderator.feature
  sources/web/src/routes/moderations/__features__/filter_by_moderator.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✅ port filter_by_moderator feature test to buncept (#1865)
  .github/workflows/e2e.yml
  e2e/features/moderations/filter_by_moderator.feature
  sources/web/src/routes/moderations/__features__/filter_by_moderator.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✅ port manage_external_domain feature test to buncept
  .github/workflows/e2e.yml
  e2e/features/moderations/manage_external_domain.feature
  sources/web/src/routes/moderations/__features__/manage_external_domain.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✅ port moderation_detail feature test to buncept
  .github/workflows/e2e.yml
  e2e/features/moderations/moderation_detail.feature
  sources/web/src/routes/moderations/__features__/moderation_detail.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✅ port handle_big_organization feature test to buncept
  .github/workflows/e2e.yml
  e2e/features/moderations/handle_big_organization.feature
  sources/web/src/routes/moderations/__features__/handle_big_organization.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✅ port manage_external_domain feature test to buncept (#1866)
  .github/workflows/e2e.yml
  e2e/features/moderations/manage_external_domain.feature
  sources/web/src/routes/moderations/__features__/manage_external_domain.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✅ seed Pompierre with a non free-mail domain
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  sources/identite-proconnect/src/database/seed/organizations/commune_de_pompierre.ts
Labels: :traffic_light: e2e

♻️ inline scenario steps, no shared variables
  sources/web/src/routes/moderations/__features__/moderation_detail.feature.test.ts
Labels: scope: moderations, scope: routes

♻️ inline scenario steps, no shared variables
  sources/web/src/routes/moderations/__features__/handle_big_organization.feature.test.ts
Labels: scope: moderations, scope: routes

♻️ inline buncept scenario steps, no shared variables
  sources/web/src/routes/moderations/__features__/add_external_member.feature.test.ts
  sources/web/src/routes/moderations/__features__/add_internal_member.feature.test.ts
  sources/web/src/routes/moderations/__features__/filter_by_moderator.feature.test.ts
  sources/web/src/routes/moderations/__features__/filter_by_service_provider.feature.test.ts
  sources/web/src/routes/moderations/__features__/handle_duplicate_requests.feature.test.ts
  sources/web/src/routes/moderations/__features__/manage_external_domain.feature.test.ts
  sources/web/src/routes/moderations/__features__/manage_internal_domain.feature.test.ts
  sources/web/src/routes/moderations/__features__/reprocess_completed_moderation.feature.test.ts
  sources/web/src/routes/moderations/__features__/tab_navigation.feature.test.ts
  sources/web/src/routes/moderations/__features__/verify_domain.feature.test.ts
Labels: scope: moderations, scope: routes

♻️ inline buncept scenario steps, no shared variables (#1869)
  sources/web/src/routes/moderations/__features__/add_external_member.feature.test.ts
  sources/web/src/routes/moderations/__features__/add_internal_member.feature.test.ts
  sources/web/src/routes/moderations/__features__/filter_by_moderator.feature.test.ts
  sources/web/src/routes/moderations/__features__/filter_by_service_provider.feature.test.ts
  sources/web/src/routes/moderations/__features__/handle_duplicate_requests.feature.test.ts
  sources/web/src/routes/moderations/__features__/manage_external_domain.feature.test.ts
  sources/web/src/routes/moderations/__features__/manage_internal_domain.feature.test.ts
  sources/web/src/routes/moderations/__features__/reprocess_completed_moderation.feature.test.ts
  sources/web/src/routes/moderations/__features__/tab_navigation.feature.test.ts
  sources/web/src/routes/moderations/__features__/verify_domain.feature.test.ts
Labels: scope: moderations, scope: routes

✨ port moderation_detail feature test to buncept (#1867)
  .github/workflows/e2e.yml
  e2e/features/moderations/moderation_detail.feature
  sources/web/src/routes/moderations/__features__/moderation_detail.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

🐛 remove conflict markers from e2e.yml
  .github/workflows/e2e.yml
Labels: :construction_worker: CI

✨ port reject_blocking_moderation feature test to buncept
  .github/workflows/e2e.yml
  e2e/features/moderations/reject_blocking_moderation.feature
  sources/web/src/routes/moderations/__features__/reject_blocking_moderation.feature.test.ts
  sources/web/src/testing/feature.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port select_verification_type feature test to buncept
  .github/workflows/e2e.yml
  e2e/features/moderations/select_verification_type.feature
  sources/web/src/routes/moderations/__features__/select_verification_type.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port validate_similar_moderations feature test to buncept
  .github/workflows/e2e.yml
  e2e/features/moderations/validate_similar_moderations.feature
  sources/web/src/routes/moderations/__features__/validate_similar_moderations.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port dinum feature test to buncept
  e2e/features/organizations/dinum.feature
  sources/web/src/routes/organizations/__features__/dinum.feature.test.ts
Labels: :traffic_light: e2e, scope: organizations, scope: routes

✨ port handle_big_organization feature test to buncept (#1868)
  .github/workflows/e2e.yml
  e2e/features/moderations/handle_big_organization.feature
  sources/web/src/routes/moderations/__features__/handle_big_organization.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port dinum feature test to buncept (#1873)
  e2e/features/organizations/dinum.feature
  sources/web/src/routes/organizations/__features__/dinum.feature.test.ts
Labels: :traffic_light: e2e, scope: organizations, scope: routes

♻️ loop over examples instead of copying the scenario
  sources/web/src/routes/moderations/__features__/select_verification_type.feature.test.ts
Labels: scope: moderations, scope: routes

♻️ loop over examples instead of copying the scenario
  sources/web/src/routes/moderations/__features__/validate_similar_moderations.feature.test.ts
Labels: scope: moderations, scope: routes

✨ port select_verification_type feature test to buncept (#1871)
  .github/workflows/e2e.yml
  e2e/features/moderations/select_verification_type.feature
  sources/web/src/routes/moderations/__features__/select_verification_type.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port validate_similar_moderations feature test to buncept (#1872)
  .github/workflows/e2e.yml
  e2e/features/moderations/validate_similar_moderations.feature
  sources/web/src/routes/moderations/__features__/validate_similar_moderations.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port reject_blocking_moderation feature test to buncept (#1870)
  .github/workflows/e2e.yml
  e2e/features/moderations/reject_blocking_moderation.feature
  sources/web/src/routes/moderations/__features__/reject_blocking_moderation.feature.test.ts
  sources/web/src/testing/feature.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ port domains_copy_button_after_refresh feature test to buncept
  e2e/features/organizations/domains_copy_button_after_refresh.feature
  sources/web/src/routes/organizations/__features__/domains_copy_button_after_refresh.feature.test.ts
Labels: :traffic_light: e2e, scope: organizations, scope: routes

✨ add { role, name } locator to buncept
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
Labels: none
