Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

💬 Corrects typo in the automated email
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
Labels: scope: moderations, scope: routes

🔖 Add release it changeset
  .release-it-changeset/1780489294-feature.md
Labels: :memo: documentation

🔖 Add release it changeset
  .release-it-changeset/1780489665-feature.md
Labels: :memo: documentation

✨ Make member email a link to user profile (#1653)
  .release-it-changeset/1780489294-feature.md
  sources/web/src/routes/organizations/:id/members/Table.tsx
Labels: :memo: documentation, scope: organizations, scope: routes

💬 Corrects typo in the automated email (#1654)
  .release-it-changeset/1780489665-feature.md
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
Labels: :memo: documentation, scope: moderations, scope: routes

💚 e2e: increase timeout on "je clique sur le lien nommé" step
  e2e/cypress/support/step_definitions/uvv.ts
Labels: :traffic_light: e2e

🧪 Add e2e scenarios for allow_editing warning visibility
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/reject_blocking_moderation.feature
  sources/web/src/lib/moderations/schema/rejected.form.ts
  sources/web/src/routes/moderations/:id/rejected/index.test.ts
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

✨ Add end_user_reason and allow_editing fields to moderation (#1652)
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/reject_blocking_moderation.feature
  sources/web/src/lib/moderations/build_moderation_update.ts
  sources/web/src/lib/moderations/schema/rejected.form.ts
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/:id/rejected/index.test.ts
  sources/web/src/routes/moderations/:id/rejected/index.tsx
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/get_response_templates.query.ts
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/ResponseMessageSelector.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.test.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

:bookmark: release 2026.6.1
  .release-it-changeset/1780489294-feature.md
  .release-it-changeset/1780489665-feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

♻️ moderations: replace SSR modal shells with self-contained Preact islands
  sources/web/src/lib/moderations/event/index.ts
  sources/web/src/lib/moderations/schema/rejected.form.ts
  sources/web/src/lib/moderations/schema/validate.form.ts
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/response-templates/get_response_templates.query.ts
  sources/web/src/ui/moderations/Actions/AcceptForm.client.tsx
  sources/web/src/ui/moderations/Actions/AcceptFormIsland.tsx
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/AddAsMemberExternal.tsx
  sources/web/src/ui/moderations/Actions/AddAsMemberInternal.tsx
  sources/web/src/ui/moderations/Actions/AddDomain.tsx
  sources/web/src/ui/moderations/Actions/MemberAndDomainPicker.client.tsx
  sources/web/src/ui/moderations/Actions/MemberAndDomainPickerIsland.tsx
  sources/web/src/ui/moderations/Actions/RefusalForm.client.tsx
  sources/web/src/ui/moderations/Actions/RefusalFormIsland.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/ResponseMessageSelector.tsx
  sources/web/src/ui/moderations/Actions/SendNotification.tsx
  sources/web/src/ui/moderations/Actions/TagInput.tsx
  sources/web/src/ui/moderations/Actions/context.ts
  sources/web/src/ui/moderations/Actions/index.ts
  sources/web/src/ui/moderations/Actions/response-message-selector.client.test.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
  sources/web/src/ui/moderations/TemplateEditor/index.ts
  sources/web/src/ui/moderations/TemplateEditor/templates-loader.tsx
Labels: scope: moderations, scope: routes, scope: ui

🏗️ moderations: merge toolbar + modals into one ActionsIsland with shared signal
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/reject_blocking_moderation.feature
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.test.ts
  sources/web/src/ui/moderations/Actions/AcceptForm.client.test.tsx
  sources/web/src/ui/moderations/Actions/AcceptForm.client.tsx
  sources/web/src/ui/moderations/Actions/AcceptFormIsland.tsx
  sources/web/src/ui/moderations/Actions/Actions.client.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/ActionsIsland.tsx
  sources/web/src/ui/moderations/Actions/RefusalForm.client.test.tsx
  sources/web/src/ui/moderations/Actions/RefusalForm.client.tsx
  sources/web/src/ui/moderations/Actions/RefusalFormIsland.tsx
  sources/web/src/ui/moderations/Actions/Toolbar.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.test.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
  sources/web/src/ui/moderations/Actions/toolbar-modal.signal.ts
  sources/web/src/ui/moderations/TemplateEditor/templates-loader.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: routes, scope: ui, scope: users

♻️ moderations: replace SSR modal shells with self-contained Preact islands (#1627)
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/reject_blocking_moderation.feature
  sources/web/src/lib/moderations/event/index.ts
  sources/web/src/lib/moderations/schema/rejected.form.ts
  sources/web/src/lib/moderations/schema/validate.form.ts
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/response-templates/get_response_templates.query.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.test.ts
  sources/web/src/ui/moderations/Actions/AcceptForm.client.test.tsx
  sources/web/src/ui/moderations/Actions/AcceptForm.client.tsx
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/Actions.client.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/ActionsIsland.tsx
  sources/web/src/ui/moderations/Actions/AddAsMemberExternal.tsx
  sources/web/src/ui/moderations/Actions/AddAsMemberInternal.tsx
  sources/web/src/ui/moderations/Actions/AddDomain.tsx
  sources/web/src/ui/moderations/Actions/MemberAndDomainPicker.client.tsx
  sources/web/src/ui/moderations/Actions/MemberAndDomainPickerIsland.tsx
  sources/web/src/ui/moderations/Actions/RefusalForm.client.test.tsx
  sources/web/src/ui/moderations/Actions/RefusalForm.client.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/ResponseMessageSelector.tsx
  sources/web/src/ui/moderations/Actions/SendNotification.tsx
  sources/web/src/ui/moderations/Actions/TagInput.tsx
  sources/web/src/ui/moderations/Actions/Toolbar.tsx
  sources/web/src/ui/moderations/Actions/context.ts
  sources/web/src/ui/moderations/Actions/index.ts
  sources/web/src/ui/moderations/Actions/response-message-selector.client.test.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
  sources/web/src/ui/moderations/Actions/toolbar-modal.signal.ts
  sources/web/src/ui/moderations/TemplateEditor/index.ts
  sources/web/src/ui/moderations/TemplateEditor/templates-loader.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: routes, scope: ui, scope: users

update tests
  sources/web/src/queries/moderations/GetModerationById.test.ts
  sources/web/src/queries/moderations/GetModerationWithDetails.test.ts
  sources/web/src/queries/moderations/UpdateModerationById.test.ts
  sources/web/src/queries/organizations/update_domain_by_id.test.ts
  sources/web/src/queries/users/GetUsersList.test.ts
  sources/web/src/queries/users/UpdateUserByIdInOrganization.test.ts
  sources/web/src/queries/users/get_authenticators_by_user_id.test.ts
  sources/web/src/routes/domains-deliverability/index.test.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_duplicate_moderations.query.test.ts
  sources/web/src/routes/moderations/:id/reprocess/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.test.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.test.ts
Labels: scope: moderations, scope: organizations, scope: routes, scope: users

💚 hyyyperbase: close pglite after tests to fix exit code 100
  sources/hyyyperbase/src/migrator.test.ts
  sources/hyyyperbase/src/testing/index.ts
Labels: none

💚 testing: close pglite once via preload instead of per-file afterAll
  bunfig.toml
  sources/hyyyperbase/src/testing/index.ts
  test-teardown.preload.ts
Labels: none

♻️ migrator: use `await using` for the scoped pglite instance
  sources/hyyyperbase/src/migrator.test.ts
Labels: none

renames LinkTypes → LinkEnum
  sources/identite-proconnect/src/types/index.ts
Labels: none

more renaming
  sources/identite-proconnect/src/database/seed/captus.ts
  sources/identite-proconnect/src/database/seed/organizations/aldp.ts
  sources/identite-proconnect/src/database/seed/organizations/dengi.ts
  sources/identite-proconnect/src/database/seed/organizations/dinum.ts
  sources/identite-proconnect/src/database/seed/unicorn.ts
  sources/identite-proconnect/src/database/seed/zombie.ts
  sources/web/src/lib/organizations/usecase/RemoveDomainEmailById.test.ts
  sources/web/src/queries/organizations/AddVerifiedDomain.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/domains/context.ts
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.test.ts
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.ts
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.ts
Labels: scope: moderations, scope: organizations, scope: routes, scope: users

✨ about: add characteristics badges to org and user panels
  bun.lock
  sources/web/package.json
  sources/web/src/lib/organizations/usecase/GetFicheOrganizationById.ts
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/users/About/About.tsx
Labels: scope: organizations, scope: ui, scope: users

🌱 seed: sync organization fixtures with live DB data
  e2e/features/moderations/accept_blocking_moderation.feature
  e2e/features/moderations/handle_big_organization.feature
  e2e/features/moderations/select_verification_type.feature
  e2e/features/moderations/validate_similar_moderations.feature
  e2e/features/organizations/dinum.feature
  sources/identite-proconnect/src/database/seed/organizations/abracadabra.ts
  sources/identite-proconnect/src/database/seed/organizations/aldp.ts
  sources/identite-proconnect/src/database/seed/organizations/bosch_france.ts
  sources/identite-proconnect/src/database/seed/organizations/bosch_rexroth.ts
  sources/identite-proconnect/src/database/seed/organizations/commune_de_pompierre.ts
  sources/identite-proconnect/src/database/seed/organizations/dengi.ts
  sources/identite-proconnect/src/database/seed/organizations/dinum.ts
  sources/identite-proconnect/src/database/seed/organizations/sak.ts
  sources/identite-proconnect/src/database/seed/organizations/yes_we_hack.ts
Labels: :traffic_light: e2e

✨ about: extend org characteristics with diffusion, activity and siege badges
  e2e/features/organizations/dinum.feature
  sources/web/src/routes/moderations/:id/get_organization_by_id.query.ts
  sources/web/src/routes/organizations/:id/get_organization_by_id.query.ts
  sources/web/src/ui/organizations/info/About.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui

📝 add a release changeset [skip ci]
  .release-it-changeset/1781097266-about-caracteristiques-organisation.md
Labels: :memo: documentation

🧹 make prettier happy
  sources/identite-proconnect/src/database/seed/organizations/abracadabra.ts
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
Labels: scope: organizations, scope: ui

🧹 make cypress happy
  e2e/features/organizations/member_actions.feature
  e2e/features/organizations/table_pagination.feature
  e2e/features/users/raphael_beta.feature
  sources/web/src/lib/organizations/usecase/GetFicheOrganizationById.ts
  sources/web/src/ui/organizations/info/About.test.tsx
Labels: :traffic_light: e2e, scope: organizations, scope: ui

✨ about: add characteristics badges to org and user panels (#1672)
  .release-it-changeset/1781097266-about-caracteristiques-organisation.md
  bun.lock
  e2e/features/moderations/accept_blocking_moderation.feature
  e2e/features/moderations/handle_big_organization.feature
  e2e/features/moderations/select_verification_type.feature
  e2e/features/moderations/validate_similar_moderations.feature
  e2e/features/organizations/dinum.feature
  e2e/features/organizations/member_actions.feature
  e2e/features/organizations/table_pagination.feature
  e2e/features/users/raphael_beta.feature
  sources/identite-proconnect/src/database/seed/organizations/abracadabra.ts
  sources/identite-proconnect/src/database/seed/organizations/aldp.ts
  sources/identite-proconnect/src/database/seed/organizations/bosch_france.ts
  sources/identite-proconnect/src/database/seed/organizations/bosch_rexroth.ts
  sources/identite-proconnect/src/database/seed/organizations/commune_de_pompierre.ts
  sources/identite-proconnect/src/database/seed/organizations/dengi.ts
  sources/identite-proconnect/src/database/seed/organizations/dinum.ts
  sources/identite-proconnect/src/database/seed/organizations/sak.ts
  sources/identite-proconnect/src/database/seed/organizations/yes_we_hack.ts
  sources/web/package.json
  sources/web/src/lib/organizations/usecase/GetFicheOrganizationById.ts
  sources/web/src/routes/moderations/:id/get_organization_by_id.query.ts
  sources/web/src/routes/organizations/:id/get_organization_by_id.query.ts
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/users/About/About.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

:bookmark: release 2026.6.2
  .release-it-changeset/1781097266-about-caracteristiques-organisation.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ users: surface OIDC connection history on user page
  .release-it-changeset/1781107510-users-historique-connexion-oidc.md
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/identite-proconnect/src/database/seed/oidc_clients/annuaire_entreprises.ts
  sources/identite-proconnect/src/database/seed/oidc_clients/resana.ts
  sources/identite-proconnect/src/database/seed/oidc_clients/tchap.ts
  sources/identite-proconnect/src/database/seed/unicorn.ts
  sources/identite-proconnect/src/database/seed/users_oidc_clients/jean_bon.ts
  sources/identite-proconnect/src/database/seed/users_oidc_clients/raphael.ts
  sources/identite-proconnect/src/database/testing/index.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/oidc_clients/Table.tsx
  sources/web/src/routes/users/:id/oidc_clients/get_oidc_clients_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/oidc_clients/get_oidc_clients_by_user_id.query.ts
  sources/web/src/routes/users/:id/oidc_clients/index.test.ts
  sources/web/src/routes/users/:id/oidc_clients/index.tsx
  sources/web/src/routes/users/:id/page.tsx
Labels: :memo: documentation, scope: routes, scope: users

✨ users: surface OIDC connection history on user page (#1673)
  .release-it-changeset/1781107510-users-historique-connexion-oidc.md
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/identite-proconnect/src/database/seed/oidc_clients/annuaire_entreprises.ts
  sources/identite-proconnect/src/database/seed/oidc_clients/resana.ts
  sources/identite-proconnect/src/database/seed/oidc_clients/tchap.ts
  sources/identite-proconnect/src/database/seed/unicorn.ts
  sources/identite-proconnect/src/database/seed/users_oidc_clients/jean_bon.ts
  sources/identite-proconnect/src/database/seed/users_oidc_clients/raphael.ts
  sources/identite-proconnect/src/database/testing/index.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/oidc_clients/Table.tsx
  sources/web/src/routes/users/:id/oidc_clients/get_oidc_clients_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/oidc_clients/get_oidc_clients_by_user_id.query.ts
  sources/web/src/routes/users/:id/oidc_clients/index.test.ts
  sources/web/src/routes/users/:id/oidc_clients/index.tsx
  sources/web/src/routes/users/:id/page.tsx
Labels: :memo: documentation, scope: routes, scope: users

:bookmark: release 2026.6.3
  .release-it-changeset/1781107510-users-historique-connexion-oidc.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ users: paginate OIDC connection history on user page
  .release-it-changeset/1781186209-pagination-historique-connexion-oidc.md
  sources/web/src/routes.d.ts
  sources/web/src/routes/users/:id/oidc_clients/Table.tsx
  sources/web/src/routes/users/:id/oidc_clients/context.ts
  sources/web/src/routes/users/:id/oidc_clients/get_oidc_clients_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/oidc_clients/get_oidc_clients_by_user_id.query.ts
  sources/web/src/routes/users/:id/oidc_clients/index.test.ts
  sources/web/src/routes/users/:id/oidc_clients/index.tsx
  sources/web/src/routes/users/:id/page.tsx
Labels: :memo: documentation, scope: routes, scope: users

✨ users: paginate OIDC connection history on user page (#1678)
  .release-it-changeset/1781186209-pagination-historique-connexion-oidc.md
  sources/web/src/routes.d.ts
  sources/web/src/routes/users/:id/oidc_clients/Table.tsx
  sources/web/src/routes/users/:id/oidc_clients/context.ts
  sources/web/src/routes/users/:id/oidc_clients/get_oidc_clients_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/oidc_clients/get_oidc_clients_by_user_id.query.ts
  sources/web/src/routes/users/:id/oidc_clients/index.test.ts
  sources/web/src/routes/users/:id/oidc_clients/index.tsx
  sources/web/src/routes/users/:id/page.tsx
Labels: :memo: documentation, scope: routes, scope: users

:bookmark: release 2026.6.4
  .release-it-changeset/1781186209-pagination-historique-connexion-oidc.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🔧 (auth): update acr values
  sources/web/src/middleware/auth/set_userinfo.test#fixture.ts
  sources/web/src/routes/___dev___/auth.agentconnect.gouv.fr/index.tsx
  sources/web/src/routes/auth/index.ts
  sources/web/src/schema/index.ts
Labels: scope: middleware, scope: routes

🔧 (auth): update acr values (#1687)
  sources/web/src/middleware/auth/set_userinfo.test#fixture.ts
  sources/web/src/routes/___dev___/auth.agentconnect.gouv.fr/index.tsx
  sources/web/src/routes/auth/index.ts
  sources/web/src/schema/index.ts
Labels: scope: middleware, scope: routes

:bookmark: release 2026.6.5
  CHANGELOG.md
  package.json
Labels: :memo: documentation

📸 update snapshots
  sources/web/src/queries/moderations/GetModerationWithDetails.test.ts
  sources/web/src/queries/moderations/UpdateModerationById.test.ts
  sources/web/src/routes/moderations/:id/reprocess/index.test.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.test.ts
Labels: scope: moderations, scope: routes, scope: users

⬆️ e2e: bump postgres 16 → 17 and track with dependabot
  .github/dependabot.yml
  compose.yaml
  e2e/bun.lock
  e2e/package.json
Labels: :construction_worker: CI, :traffic_light: e2e

✨ hide comments section if no comment
  .release-it-changeset/1782313721-hide-comment-section-when-empt.md
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/ui/moderations/Header/__snapshots__/Header.test.tsx.snap
Labels: :memo: documentation, scope: moderations, scope: ui

✨ hide comments section if no comment (#1679)
  .release-it-changeset/1782313721-hide-comment-section-when-empt.md
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/ui/moderations/Header/__snapshots__/Header.test.tsx.snap
Labels: :memo: documentation, scope: moderations, scope: ui

:bookmark: release 2026.6.6
  .release-it-changeset/1782313721-hide-comment-section-when-empt.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation
