Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

👮 fix used node version to 24 (#1410)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .scalingo/buildpack/bin/compile
  package.json
Labels: :construction_worker: CI

🐛 island: run client script immediately instead of on DOMContentLoaded
  bin/dev.ts
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/lib/create-island/index.test.tsx
  sources/web/src/lib/create-island/index.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
Labels: scope: organizations, scope: ui

use the new EmailDomainVerificationTypes
  bin/dev.ts
  e2e/features/moderations/manage_internal_domain.feature
  sources/identite-proconnect/src/database/seed/captus.ts
  sources/identite-proconnect/src/database/seed/organizations/abracadabra.ts
  sources/identite-proconnect/src/database/seed/organizations/aldp.ts
  sources/identite-proconnect/src/database/seed/organizations/commune_de_pompierre.ts
  sources/identite-proconnect/src/database/seed/organizations/dengi.ts
  sources/identite-proconnect/src/database/seed/organizations/dinum.ts
  sources/identite-proconnect/src/database/seed/organizations/sak.ts
  sources/identite-proconnect/src/database/seed/organizations/yes_we_hack.ts
  sources/identite-proconnect/src/database/seed/unicorn.ts
  sources/web/src/lib/organizations/usecase/AddAuthorizedDomain.ts
  sources/web/src/queries/organizations/AddVerifiedDomain.ts
  sources/web/src/queries/organizations/update_domain_by_id.test.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/moderations/:id/validate.ts
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/domains/context.ts
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.test.ts
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.ts
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.ts
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/urls/urls.test.ts
  sources/web/src/urls/urls.ts
Labels: :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

use the new EmailDomainVerificationTypes
  sources/identite-proconnect/src/database/seed/zombie.ts
  sources/web/src/lib/organizations/usecase/RemoveDomainEmailById.test.ts
  sources/web/src/routes/organizations/:id/domains/index.test.ts
Labels: scope: organizations, scope: routes

📝 add a release changeset [skip ci]
  .release-it-changeset/783929141_bump.md
Labels: :memo: documentation

:bookmark: release 2026.2.8
  .release-it-changeset/783929141_bump.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

⬆️ Bump hono from 4.11.9 to 4.12.2
  bin/package.json
  bun.lock
  package.json
  packages/hono-slotify/package.json
  sources/config/typescript/package.json
  sources/core/package.json
  sources/identite-proconnect/package.json
  sources/web/package.json
Labels: none

use fast-check to cover more posibilities
  bun.lock
  sources/web/package.json
  sources/web/src/routes/moderations/:id/validate.test.ts
Labels: scope: moderations, scope: routes

✨ rename RejectedModeration_Context to RejectedModerationContext
  sources/web/src/lib/moderations/context/rejected.ts
  sources/web/src/lib/moderations/usecase/CreateAndSendEmailToUser.test.ts
  sources/web/src/lib/moderations/usecase/CreateAndSendEmailToUser.ts
  sources/web/src/lib/moderations/usecase/RespondToTicket.ts
  sources/web/src/lib/moderations/usecase/SendRejectedMessageToUser.ts
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/moderations/:id/rejected/mark_as_rejected.workflow.ts
  sources/web/src/routes/moderations/:id/validate.test.ts
Labels: scope: moderations, scope: routes

use fast-check to cover more posibilities (#1419)
  bun.lock
  sources/web/package.json
  sources/web/src/lib/moderations/context/rejected.ts
  sources/web/src/lib/moderations/usecase/CreateAndSendEmailToUser.test.ts
  sources/web/src/lib/moderations/usecase/CreateAndSendEmailToUser.ts
  sources/web/src/lib/moderations/usecase/RespondToTicket.ts
  sources/web/src/lib/moderations/usecase/SendRejectedMessageToUser.ts
  sources/web/src/routes/moderations/:id/rejected/index.ts
  sources/web/src/routes/moderations/:id/rejected/mark_as_rejected.workflow.ts
  sources/web/src/routes/moderations/:id/validate.test.ts
Labels: scope: moderations, scope: routes

🧪 add e2e test for external member validation with notification and domain
  e2e/features/moderations/add_external_member.feature
Labels: :traffic_light: e2e

🧪 add e2e test for external member validation with notification and domain (#1420)
  e2e/features/moderations/add_external_member.feature
Labels: :traffic_light: e2e

✨ Ajout des détails d'erreur dans les notifications
  sources/web/src/lib/htmx.client.ts
  sources/web/src/lib/moderations/schema/validate.form.ts
  sources/web/src/ui/notifications/notifications.client.test.tsx
  sources/web/src/ui/notifications/notifications.client.tsx
Labels: scope: ui

✨ Add error details to notifications with collapsible section
  .release-it-changeset/758499990+feature.md
  sources/web/src/lib/htmx.client.ts
  sources/web/src/ui/notifications/notifications.client.test.tsx
  sources/web/src/ui/notifications/notifications.client.tsx
Labels: :memo: documentation, scope: ui

✨ Mount islands on htmx:load for HTMX content swaps
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/organizations/domains_copy_button_after_refresh.feature
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/lib/create-island/index.test.tsx
  sources/web/src/lib/create-island/index.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
Labels: :traffic_light: e2e, scope: organizations, scope: ui

✨ Add error details to notifications with collapsible section (#1428)
  .release-it-changeset/758499990+feature.md
  sources/web/src/lib/htmx.client.ts
  sources/web/src/ui/notifications/notifications.client.test.tsx
  sources/web/src/ui/notifications/notifications.client.tsx
Labels: :memo: documentation, scope: ui

✨ Mount islands on htmx:load for HTMX content swaps (#1427)
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/organizations/domains_copy_button_after_refresh.feature
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/lib/create-island/index.test.tsx
  sources/web/src/lib/create-island/index.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
Labels: :traffic_light: e2e, scope: organizations, scope: ui

🧪 Migrate plugins that use Cypress.env()
  e2e/cypress.config.ts
Labels: :traffic_light: e2e

♿ Improve table accessibility with proper anchor links and keyboard navigation
  .github/workflows/e2e.yml
  .release-it-changeset/537912496+my-feature.md
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/accept_blocking_moderation.feature
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/moderations/handle_big_organization.feature
  e2e/features/moderations/handle_duplicate_requests.feature
  e2e/features/moderations/manage_external_domain.feature
  e2e/features/moderations/manage_internal_domain.feature
  e2e/features/moderations/reject_blocking_moderation.feature
  e2e/features/moderations/reprocess_completed_moderation.feature
  e2e/features/moderations/select_verification_type.feature
  e2e/features/moderations/tab_navigation.feature
  e2e/features/moderations/validate_similar_moderations.feature
  e2e/features/moderations/verify_domain.feature
  e2e/features/organizations/dinum.feature
  e2e/features/organizations/member_actions.feature
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael_alpha.feature
  e2e/features/users/raphael_beta.feature
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/:id/moderations/Table.tsx
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/page.tsx
Labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: users

♿ Improve table accessibility with proper anchor links and keyboard navigation (#1429)
  .github/workflows/e2e.yml
  .release-it-changeset/537912496+my-feature.md
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/accept_blocking_moderation.feature
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/moderations/handle_big_organization.feature
  e2e/features/moderations/handle_duplicate_requests.feature
  e2e/features/moderations/manage_external_domain.feature
  e2e/features/moderations/manage_internal_domain.feature
  e2e/features/moderations/reject_blocking_moderation.feature
  e2e/features/moderations/reprocess_completed_moderation.feature
  e2e/features/moderations/select_verification_type.feature
  e2e/features/moderations/tab_navigation.feature
  e2e/features/moderations/validate_similar_moderations.feature
  e2e/features/moderations/verify_domain.feature
  e2e/features/organizations/dinum.feature
  e2e/features/organizations/member_actions.feature
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael_alpha.feature
  e2e/features/users/raphael_beta.feature
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/:id/moderations/Table.tsx
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/page.tsx
Labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: users

:bookmark: release 2026.2.9
  .release-it-changeset/537912496+my-feature.md
  .release-it-changeset/758499990+feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 fix(htmx): load debug script in non-production environments
  .release-it-changeset/000482789-ix-htmx-load-debug-script-in-non-production-environments.md
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
Labels: :memo: documentation

🐛 fix(htmx): load debug script in non-production environments (#1430)
  .release-it-changeset/000482789-ix-htmx-load-debug-script-in-non-production-environments.md
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
Labels: :memo: documentation

🐛 fix(htmx): remove hx-include for non-existent DOM elements
  sources/web/src/ui/moderations/OrganizationsByUser/OrganizationsByUser.tsx
  sources/web/src/ui/moderations/UsersByOrganization/UsersByOrganization.tsx
Labels: scope: moderations, scope: ui

🚥 test(moderations): add e2e tests for moderation list page
  .github/workflows/e2e.yml
  e2e/features/moderations/moderation_list.feature
Labels: :construction_worker: CI, :traffic_light: e2e

🚥 test(moderations): add e2e tests for individual moderation page
  .github/workflows/e2e.yml
  e2e/features/moderations/moderation_detail.feature
Labels: :construction_worker: CI, :traffic_light: e2e

🚥 test(moderations): fix e2e tests for search and ignore htmx errors
  e2e/cypress.config.ts
  e2e/cypress/support/e2e.ts
  e2e/features/moderations/moderation_list.feature
Labels: :traffic_light: e2e

🐛 remove htmx is not defined error sources
  .release-it-changeset/1772107902-fix-htmx-extensions-loading.md
  bun.lock
  e2e/cypress/support/e2e.ts
  package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
Labels: :memo: documentation, :traffic_light: e2e

Revise security policy and add reporting guidelines
  SECURITY.md
Labels: :memo: documentation

fix(htmx): remove hx-include for non-existent DOM elements (#1431)
  .github/workflows/e2e.yml
  .release-it-changeset/1772107902-fix-htmx-extensions-loading.md
  bun.lock
  e2e/cypress.config.ts
  e2e/features/moderations/moderation_detail.feature
  e2e/features/moderations/moderation_list.feature
  package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
  sources/web/src/ui/moderations/OrganizationsByUser/OrganizationsByUser.tsx
  sources/web/src/ui/moderations/UsersByOrganization/UsersByOrganization.tsx
Labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, scope: moderations, scope: ui

:bookmark: release 2026.2.10
  .release-it-changeset/000482789-ix-htmx-load-debug-script-in-non-production-environments.md
  .release-it-changeset/1772107902-fix-htmx-extensions-loading.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ Automate domain verification when adding authorized domains
  .release-it-changeset/1772129120-fix-domain-verification-members.md
  e2e/features/moderations/manage_internal_domain.feature
  sources/web/src/lib/organizations/usecase/AddAuthorizedDomain.test.ts
  sources/web/src/lib/organizations/usecase/AddAuthorizedDomain.ts
  sources/web/src/lib/organizations/usecase/index.ts
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/src/ui/moderations/DomainsByOrganization/DomainsByOrganization.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui

✨ Automate domain verification when adding authorized domains (#1433)
  .release-it-changeset/1772129120-fix-domain-verification-members.md
  e2e/features/moderations/manage_internal_domain.feature
  sources/web/src/lib/organizations/usecase/AddAuthorizedDomain.test.ts
  sources/web/src/lib/organizations/usecase/AddAuthorizedDomain.ts
  sources/web/src/lib/organizations/usecase/index.ts
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/organizations/:id/domains/Table.tsx
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/src/ui/moderations/DomainsByOrganization/DomainsByOrganization.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui

:bookmark: release 2026.2.11
  .release-it-changeset/1772129120-fix-domain-verification-members.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ Refactor member and domain picker into unified island component
  .release-it-changeset/1772122878-fix-duplicate-add-domain.md
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/validate_similar_moderations.feature
  e2e/features/moderations/verify_domain.feature
  sources/web/src/lib/create-island/factory.test.tsx
  sources/web/src/lib/create-island/factory.tsx
  sources/web/src/lib/create-island/index.ts
  sources/web/src/routes/moderations/ProcessedCheckboxIsland.tsx
  sources/web/src/routes/moderations/SearchEmailIsland.tsx
  sources/web/src/routes/moderations/SearchModeratedByIsland.tsx
  sources/web/src/routes/moderations/SearchSiretIsland.tsx
  sources/web/src/ui/button/components/CopyButtonIsland.tsx
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/AddDomain.tsx
  sources/web/src/ui/moderations/Actions/MemberAndDomainPicker.client.test.tsx
  sources/web/src/ui/moderations/Actions/MemberAndDomainPicker.client.tsx
  sources/web/src/ui/moderations/Actions/MemberAndDomainPickerIsland.tsx
  sources/web/src/ui/notifications/NotificationIsland.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

✨ Refactor member and domain picker into unified island component (#1432)
  .release-it-changeset/1772122878-fix-duplicate-add-domain.md
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/validate_similar_moderations.feature
  e2e/features/moderations/verify_domain.feature
  sources/web/src/lib/create-island/factory.test.tsx
  sources/web/src/lib/create-island/factory.tsx
  sources/web/src/lib/create-island/index.ts
  sources/web/src/routes/moderations/ProcessedCheckboxIsland.tsx
  sources/web/src/routes/moderations/SearchEmailIsland.tsx
  sources/web/src/routes/moderations/SearchModeratedByIsland.tsx
  sources/web/src/routes/moderations/SearchSiretIsland.tsx
  sources/web/src/ui/button/components/CopyButtonIsland.tsx
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/AddDomain.tsx
  sources/web/src/ui/moderations/Actions/MemberAndDomainPicker.client.test.tsx
  sources/web/src/ui/moderations/Actions/MemberAndDomainPicker.client.tsx
  sources/web/src/ui/moderations/Actions/MemberAndDomainPickerIsland.tsx
  sources/web/src/ui/notifications/NotificationIsland.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

💄 simplify moderations filter
  .release-it-changeset/1772188480-simplify-moderation-filters.md
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
Labels: :memo: documentation, scope: moderations, scope: routes

💄 simplify moderations filter (#1434)
  .release-it-changeset/1772188480-simplify-moderation-filters.md
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
Labels: :memo: documentation, scope: moderations, scope: routes

:bookmark: release 2026.2.12
  .release-it-changeset/1772122878-fix-duplicate-add-domain.md
  .release-it-changeset/1772188480-simplify-moderation-filters.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 moderations: set status to reopened when reprocessing
  .release-it-changeset/1772193853-reprocess-moderation-statut-reopened.md
  sources/web/src/routes/moderations/:id/reprocess/index.test.ts
  sources/web/src/routes/moderations/:id/reprocess/index.ts
Labels: :memo: documentation, scope: moderations, scope: routes
