Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

✨ add { role, name } locator to buncept (#1875)
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
Labels: none

♻️ use the role locator for the copy button
  sources/web/src/routes/organizations/__features__/domains_copy_button_after_refresh.feature.test.ts
Labels: scope: organizations, scope: routes

✨ port domains_copy_button_after_refresh feature test to buncept (#1874)
  e2e/features/organizations/domains_copy_button_after_refresh.feature
  sources/web/src/routes/organizations/__features__/domains_copy_button_after_refresh.feature.test.ts
Labels: :traffic_light: e2e, scope: organizations, scope: routes

🐛 read the htmx config meta
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
Labels: none

✨ port organizations table_pagination feature test to buncept
  e2e/features/organizations/table_pagination.feature
  sources/web/src/routes/organizations/__features__/table_pagination.feature.test.ts
Labels: :traffic_light: e2e, scope: organizations, scope: routes

✨ port yes_we_hack_domain_verification feature test to buncept
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  sources/web/src/routes/organizations/__features__/yes_we_hack_domain_verification.feature.test.ts
Labels: :traffic_light: e2e, scope: organizations, scope: routes

👷 cache the WebKit apt install in feature tests
  .github/workflows/ci.yml
Labels: :construction_worker: CI

👷 cache the WebKit apt install in feature tests (#1880)
  .github/workflows/ci.yml
Labels: :construction_worker: CI

✨ port organizations table_pagination feature test to buncept (#1879)
  e2e/features/organizations/table_pagination.feature
  sources/web/src/routes/organizations/__features__/table_pagination.feature.test.ts
Labels: :traffic_light: e2e, scope: organizations, scope: routes

✨ port yes_we_hack_domain_verification feature test to buncept (#1878)
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  sources/web/src/routes/organizations/__features__/yes_we_hack_domain_verification.feature.test.ts
Labels: :traffic_light: e2e, scope: organizations, scope: routes

⚡ shard feature tests across 3 runners
  .github/workflows/ci.yml
Labels: :construction_worker: CI

⚡ shard feature tests across 3 runners (#1881)
  .github/workflows/ci.yml
Labels: :construction_worker: CI

🎨 format member_actions feature test
  sources/web/src/routes/organizations/__features__/member_actions.feature.test.ts
Labels: scope: organizations, scope: routes

✨ port member_actions feature test to buncept
  e2e/features/organizations/member_actions.feature
  sources/web/src/routes/organizations/__features__/member_actions.feature.test.ts
Labels: :traffic_light: e2e, scope: organizations, scope: routes

✨ add amAcceptingPopups to buncept
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
Labels: none

✨ port response-templates/list feature test to buncept
  .github/workflows/e2e.yml
  e2e/features/response-templates/list.feature
  sources/web/src/routes/response-templates/__features__/list.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: routes

✨ port users/raphael_beta feature test to buncept
  e2e/features/users/raphael_beta.feature
  sources/web/src/routes/users/__features__/raphael_beta.feature.test.ts
Labels: :traffic_light: e2e, scope: routes, scope: users

✨ port users/jean_bon feature test to buncept
  e2e/features/users/jean_bon.feature
  sources/web/src/routes/users/__features__/jean_bon.feature.test.ts
Labels: :traffic_light: e2e, scope: routes, scope: users

✨ port users/raphael_alpha feature test to buncept
  e2e/features/users/raphael_alpha.feature
  sources/web/src/routes/users/__features__/raphael_alpha.feature.test.ts
Labels: :traffic_light: e2e, scope: routes, scope: users

✨ port users/table_pagination feature test to buncept
  e2e/features/users/table_pagination.feature
  sources/web/src/routes/users/__features__/table_pagination.feature.test.ts
Labels: :traffic_light: e2e, scope: routes, scope: users

✨ port delivrability-email-domain feature test to buncept
  .github/workflows/e2e.yml
  e2e/features/delivrability-domain/delivrability-email-domain.feature
  sources/web/src/routes/domains-deliverability/__features__/delivrability_email_domain.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: routes

✨ port response-templates/list feature test to buncept (#1883)
  .github/workflows/e2e.yml
  e2e/features/response-templates/list.feature
  sources/web/src/routes/response-templates/__features__/list.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: routes

✨ port users/raphael_alpha feature test to buncept (#1886)
  e2e/features/users/raphael_alpha.feature
  sources/web/src/routes/users/__features__/raphael_alpha.feature.test.ts
Labels: :traffic_light: e2e, scope: routes, scope: users

✨ port delivrability-email-domain feature test to buncept (#1888)
  .github/workflows/e2e.yml
  e2e/features/delivrability-domain/delivrability-email-domain.feature
  sources/web/src/routes/domains-deliverability/__features__/delivrability_email_domain.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: routes

✨ add amAcceptingPopups to buncept (#1882)
  .github/workflows/e2e.yml
  e2e/features/delivrability-domain/delivrability-email-domain.feature
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  sources/web/src/routes/domains-deliverability/__features__/delivrability_email_domain.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: routes

🐛 keep view transitions off
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
Labels: none

👷 drop the organizations Cypress job
  .github/workflows/e2e.yml
Labels: :construction_worker: CI

🐛 read the htmx config meta (#1876)
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
Labels: none

✨ port member_actions feature test to buncept (#1877)
  .github/workflows/e2e.yml
  e2e/features/organizations/member_actions.feature
  sources/web/src/routes/organizations/__features__/member_actions.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: organizations, scope: routes

✨ port users/raphael_beta feature test to buncept (#1884)
  e2e/features/users/raphael_beta.feature
  sources/web/src/routes/users/__features__/raphael_beta.feature.test.ts
Labels: :traffic_light: e2e, scope: routes, scope: users

👷 drop the users Cypress job
  .github/workflows/e2e.yml
Labels: :construction_worker: CI

✨ port users/jean_bon feature test to buncept (#1885)
  e2e/features/users/jean_bon.feature
  sources/web/src/routes/users/__features__/jean_bon.feature.test.ts
Labels: :traffic_light: e2e, scope: routes, scope: users

✨ port users/table_pagination feature test to buncept (#1887)
  .github/workflows/e2e.yml
  e2e/features/users/table_pagination.feature
  sources/web/src/routes/users/__features__/table_pagination.feature.test.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: routes, scope: users

🐛 boot pglite only in test files that use it
  sources/hyyyperbase/src/testing/index.ts
  sources/identite-proconnect/src/database/testing/index.ts
  test-teardown.preload.ts
Labels: none

🐛 Remove hardcoded signature duplicated by Crisp
  sources/web/src/lib/users/templates/index.ts
Labels: none

🔖 Add release it changeset
  .release-it-changeset/1791493649-feature.md
Labels: :memo: documentation

♻️ explicit feature test setup, no test preload
  bunfig.toml
  packages/buncept/src/index.ts
  sources/web/src/routes/domains-deliverability/__features__/delivrability_email_domain.feature.test.ts
  sources/web/src/routes/moderations/__features__/accept_blocking_moderation.feature.test.ts
  sources/web/src/routes/moderations/__features__/add_external_member.feature.test.ts
  sources/web/src/routes/moderations/__features__/add_internal_member.feature.test.ts
  sources/web/src/routes/moderations/__features__/filter_by_moderator.feature.test.ts
  sources/web/src/routes/moderations/__features__/filter_by_service_provider.feature.test.ts
  sources/web/src/routes/moderations/__features__/handle_big_organization.feature.test.ts
  sources/web/src/routes/moderations/__features__/handle_duplicate_requests.feature.test.ts
  sources/web/src/routes/moderations/__features__/manage_external_domain.feature.test.ts
  sources/web/src/routes/moderations/__features__/manage_internal_domain.feature.test.ts
  sources/web/src/routes/moderations/__features__/moderation_detail.feature.test.ts
  sources/web/src/routes/moderations/__features__/moderation_list.feature.test.ts
  sources/web/src/routes/moderations/__features__/reject_blocking_moderation.feature.test.ts
  sources/web/src/routes/moderations/__features__/reprocess_completed_moderation.feature.test.ts
  sources/web/src/routes/moderations/__features__/select_verification_type.feature.test.ts
  sources/web/src/routes/moderations/__features__/tab_navigation.feature.test.ts
  sources/web/src/routes/moderations/__features__/validate_similar_moderations.feature.test.ts
  sources/web/src/routes/moderations/__features__/verify_domain.feature.test.ts
  sources/web/src/routes/organizations/__features__/dinum.feature.test.ts
  sources/web/src/routes/organizations/__features__/domains_copy_button_after_refresh.feature.test.ts
  sources/web/src/routes/organizations/__features__/member_actions.feature.test.ts
  sources/web/src/routes/organizations/__features__/table_pagination.feature.test.ts
  sources/web/src/routes/organizations/__features__/yes_we_hack_domain_verification.feature.test.ts
  sources/web/src/routes/response-templates/__features__/list.feature.test.ts
  sources/web/src/routes/users/__features__/jean_bon.feature.test.ts
  sources/web/src/routes/users/__features__/raphael_alpha.feature.test.ts
  sources/web/src/routes/users/__features__/raphael_beta.feature.test.ts
  sources/web/src/routes/users/__features__/table_pagination.feature.test.ts
  sources/web/src/testing/feature.ts
  test-teardown.preload.ts
Labels: scope: moderations, scope: organizations, scope: routes, scope: users

♻️ explicit feature test setup, no test preload (#1890)
  bunfig.toml
  packages/buncept/src/index.ts
  sources/web/src/routes/domains-deliverability/__features__/delivrability_email_domain.feature.test.ts
  sources/web/src/routes/moderations/__features__/accept_blocking_moderation.feature.test.ts
  sources/web/src/routes/moderations/__features__/add_external_member.feature.test.ts
  sources/web/src/routes/moderations/__features__/add_internal_member.feature.test.ts
  sources/web/src/routes/moderations/__features__/filter_by_moderator.feature.test.ts
  sources/web/src/routes/moderations/__features__/filter_by_service_provider.feature.test.ts
  sources/web/src/routes/moderations/__features__/handle_big_organization.feature.test.ts
  sources/web/src/routes/moderations/__features__/handle_duplicate_requests.feature.test.ts
  sources/web/src/routes/moderations/__features__/manage_external_domain.feature.test.ts
  sources/web/src/routes/moderations/__features__/manage_internal_domain.feature.test.ts
  sources/web/src/routes/moderations/__features__/moderation_detail.feature.test.ts
  sources/web/src/routes/moderations/__features__/moderation_list.feature.test.ts
  sources/web/src/routes/moderations/__features__/reject_blocking_moderation.feature.test.ts
  sources/web/src/routes/moderations/__features__/reprocess_completed_moderation.feature.test.ts
  sources/web/src/routes/moderations/__features__/select_verification_type.feature.test.ts
  sources/web/src/routes/moderations/__features__/tab_navigation.feature.test.ts
  sources/web/src/routes/moderations/__features__/validate_similar_moderations.feature.test.ts
  sources/web/src/routes/moderations/__features__/verify_domain.feature.test.ts
  sources/web/src/routes/organizations/__features__/dinum.feature.test.ts
  sources/web/src/routes/organizations/__features__/domains_copy_button_after_refresh.feature.test.ts
  sources/web/src/routes/organizations/__features__/member_actions.feature.test.ts
  sources/web/src/routes/organizations/__features__/table_pagination.feature.test.ts
  sources/web/src/routes/organizations/__features__/yes_we_hack_domain_verification.feature.test.ts
  sources/web/src/routes/response-templates/__features__/list.feature.test.ts
  sources/web/src/routes/users/__features__/jean_bon.feature.test.ts
  sources/web/src/routes/users/__features__/raphael_alpha.feature.test.ts
  sources/web/src/routes/users/__features__/raphael_beta.feature.test.ts
  sources/web/src/routes/users/__features__/table_pagination.feature.test.ts
  sources/web/src/testing/feature.ts
  test-teardown.preload.ts
Labels: scope: moderations, scope: organizations, scope: routes, scope: users

🔥 drop comments that landed without review
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  sources/web/src/routes/moderations/__features__/select_verification_type.feature.test.ts
Labels: scope: moderations, scope: routes

🐛 Remove hardcoded signature duplicated by Crisp (#1891)
  .release-it-changeset/1791493649-feature.md
  sources/web/src/lib/users/templates/index.ts
Labels: :memo: documentation
