Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

chore: make typescript happy
  bun.lock
  sources/hyyyperbase/package.json
  sources/web/package.json
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/not-found.tsx
  sources/web/src/routes/organizations/leaders/index.tsx
Labels: scope: moderations, scope: organizations, scope: routes

🔥 (hyyyperbase) drop Row-Level Security
  sources/hyyyperbase/.gitignore
  sources/hyyyperbase/README.md
  sources/hyyyperbase/bin/seed.ts
  sources/hyyyperbase/migrations/0000_aberrant_namorita.sql
  sources/hyyyperbase/migrations/0000_lethal_maggott.sql
  sources/hyyyperbase/migrations/meta/0000_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
  sources/hyyyperbase/src/as_user.test.ts
  sources/hyyyperbase/src/as_user.ts
  sources/hyyyperbase/src/index.ts
  sources/hyyyperbase/src/migrator.test.ts
  sources/hyyyperbase/src/policies.test.ts
  sources/hyyyperbase/src/schema.ts
  sources/hyyyperbase/src/testing/index.ts
  sources/hyyyperbase/src/testing/users.ts
  sources/web/src/middleware/auth/authorized.tsx
  sources/web/src/routes/moderations/index.tsx
Labels: :memo: documentation, scope: middleware, scope: moderations, scope: routes

🔥 (hyyyperbase) drop Row-Level Security (#1475)
  sources/hyyyperbase/.gitignore
  sources/hyyyperbase/README.md
  sources/hyyyperbase/bin/seed.ts
  sources/hyyyperbase/migrations/0000_aberrant_namorita.sql
  sources/hyyyperbase/migrations/0000_lethal_maggott.sql
  sources/hyyyperbase/migrations/meta/0000_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
  sources/hyyyperbase/src/as_user.test.ts
  sources/hyyyperbase/src/as_user.ts
  sources/hyyyperbase/src/index.ts
  sources/hyyyperbase/src/migrator.test.ts
  sources/hyyyperbase/src/policies.test.ts
  sources/hyyyperbase/src/schema.ts
  sources/hyyyperbase/src/testing/index.ts
  sources/hyyyperbase/src/testing/users.ts
  sources/web/src/middleware/auth/authorized.tsx
  sources/web/src/routes/moderations/index.tsx
Labels: :memo: documentation, scope: middleware, scope: moderations, scope: routes

🔧 rename DATABASE_URL to PROCONNECT_IDENTITE_DATABASE_URL
  .env
  sources/identite-proconnect/bin/migrate.ts
  sources/identite-proconnect/bin/seed.ts
  sources/web/src/config/env.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/readyz/index.ts
Labels: scope: routes

🔧 rename DATABASE_URL to PROCONNECT_IDENTITE_DATABASE_URL (#1476)
  .env
  sources/identite-proconnect/bin/migrate.ts
  sources/identite-proconnect/bin/seed.ts
  sources/web/src/config/env.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/readyz/index.ts
Labels: scope: routes

Delete .eslintrc
  .eslintrc
Labels: none

Delete .eslintrc
  .eslintrc
Labels: none

🔥 Delete .eslintrc (#1478)
  .eslintrc
Labels: none

✨ Add sub column to users table for ProConnect integration
  sources/hyyyperbase/migrations/0001_abandoned_apocalypse.sql
  sources/hyyyperbase/migrations/meta/0001_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
  sources/hyyyperbase/src/schema.ts
Labels: none

✨ Use OIDC sub for user lookup with email sync and sub backfill
  sources/hyyyperbase/src/testing/users.ts
  sources/web/src/middleware/auth/authorized.test.ts
  sources/web/src/middleware/auth/authorized.tsx
Labels: scope: middleware

🔧 Format authorized middleware and migration files
  sources/hyyyperbase/migrations/meta/0001_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
  sources/web/src/middleware/auth/authorized.test.ts
  sources/web/src/middleware/auth/authorized.tsx
Labels: scope: middleware

🧪 Add tests for disabled user rejection, sub backfill edge cases, and hyyyyper_user population
  sources/web/src/middleware/auth/authorized.test.ts
Labels: scope: middleware

chore: make prettier happy
  sources/web/src/middleware/auth/authorized.test.ts
Labels: scope: middleware

:bookmark: release 2026.3.3
  .release-it-changeset/1772469440-suppression-zammad.md
  .release-it-changeset/1772706124-feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

update the lock
  bun.lock
  packages/hono-slotify/package.json
  sources/config/typescript/package.json
  sources/identite-proconnect/package.json
  sources/web/package.json
Labels: none

🛂 auth: guarantee hyyyper_user is always set after authorized()
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/main.test.tsx
  sources/web/src/layouts/main.tsx
  sources/web/src/middleware/auth/authorized.test.ts
  sources/web/src/middleware/auth/authorized.tsx
  sources/web/src/middleware/auth/index.ts
  sources/web/src/middleware/context/context.ts
  sources/web/src/routes/admin/index.ts
  sources/web/src/routes/domains-deliverability/index.test.ts
  sources/web/src/routes/moderations/:id/index.test.ts
  sources/web/src/routes/moderations/index.test.ts
  sources/web/src/routes/organizations/:id/index.test.ts
  sources/web/src/routes/organizations/domains/index.test.ts
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/index.test.ts
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: users

🛂 auth: guarantee hyyyper_user is always set after authorized() (#1483)
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/main.test.tsx
  sources/web/src/layouts/main.tsx
  sources/web/src/middleware/auth/authorized.test.ts
  sources/web/src/middleware/auth/authorized.tsx
  sources/web/src/middleware/auth/index.ts
  sources/web/src/middleware/context/context.ts
  sources/web/src/routes/admin/index.ts
  sources/web/src/routes/domains-deliverability/index.test.ts
  sources/web/src/routes/moderations/:id/index.test.ts
  sources/web/src/routes/moderations/index.test.ts
  sources/web/src/routes/organizations/:id/index.test.ts
  sources/web/src/routes/organizations/domains/index.test.ts
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/index.test.ts
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: users

🛂 auth: guard find_active_user with isNull(sub) to prevent OIDC account takeover
  sources/web/src/middleware/auth/authorized.test.ts
  sources/web/src/middleware/auth/authorized.tsx
Labels: scope: middleware

🔧 auth: fix e2e dev auth mock sub claims to match database seeds
  sources/web/src/routes/___dev___/auth.agentconnect.gouv.fr/index.tsx
Labels: scope: routes

🛂 Guard find_active_user with isNull(sub) (#1484)
  sources/web/src/middleware/auth/authorized.test.ts
  sources/web/src/middleware/auth/authorized.tsx
  sources/web/src/routes/___dev___/auth.agentconnect.gouv.fr/index.tsx
Labels: scope: middleware, scope: routes

💼 update workspace
  .env
  hyyypertool.code-workspace
Labels: none

migrate to youch 4
  sources/web/src/routes/error.tsx
Labels: scope: routes

migrate the code
  sources/web/src/queries/moderations/GetModerationWithDetails.test.ts
  sources/web/src/queries/moderations/UpdateModerationById.test.ts
  sources/web/src/queries/moderations/UpdateModerationById.ts
  sources/web/src/routes/moderations/:id/reprocess/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.test.ts
Labels: scope: moderations, scope: routes, scope: users

✨ add a filter to exclude service by name
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/filter_by_service_provider.feature
  e2e/features/moderations/tab_navigation.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/lib/create-island/factory.tsx
  sources/web/src/lib/moderations/usecase/GetModerationHeader.ts
  sources/web/src/routes/moderations/ExcludeSpNamesIsland.tsx
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/moderations/exclude-sp-names.client.tsx
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/get_sp_names_list.query.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/moderations/Header/Header.test.tsx
  sources/web/src/ui/moderations/MessageInfo/MessageInfo.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui

✨ add a filter to exclude service by name (#1496)
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/features/moderations/filter_by_service_provider.feature
  e2e/features/moderations/tab_navigation.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/lib/create-island/factory.tsx
  sources/web/src/lib/moderations/usecase/GetModerationHeader.ts
  sources/web/src/routes/moderations/ExcludeSpNamesIsland.tsx
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/moderations/exclude-sp-names.client.tsx
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/get_sp_names_list.query.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/moderations/Header/Header.test.tsx
  sources/web/src/ui/moderations/MessageInfo/MessageInfo.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui

🔧 make moderations poll interval configurable via POLL_INTERVAL env var
  sources/web/src/config/env.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/domains/index.tsx
  sources/web/src/routes/organizations/domains/page.tsx
Labels: scope: moderations, scope: organizations, scope: routes

🔧 make moderations poll interval configurable via POLL_INTERVAL env var (#1498)
  sources/web/src/config/env.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/domains/index.tsx
  sources/web/src/routes/organizations/domains/page.tsx
Labels: scope: moderations, scope: organizations, scope: routes

✨ refresh tables on browser back navigation
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/team/page.tsx
  sources/web/src/routes/users/page.tsx
Labels: scope: moderations, scope: organizations, scope: routes, scope: users

✨ refresh tables on browser back navigation (#1499)
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/team/page.tsx
  sources/web/src/routes/users/page.tsx
Labels: scope: moderations, scope: organizations, scope: routes, scope: users

🚥 Add step definition for clicking text input by placeholder
  e2e/cypress/support/step_definitions/uvv.ts
  sources/web/src/routes/moderations/context.test.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes

✨ The Hyyyper input filter
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/moderations/filter_by_moderator.feature
  e2e/features/moderations/filter_by_service_provider.feature
  e2e/features/moderations/moderation_list.feature
  e2e/features/moderations/reject_blocking_moderation.feature
  e2e/features/moderations/reprocess_completed_moderation.feature
  e2e/features/moderations/select_verification_type.feature
  e2e/features/moderations/tab_navigation.feature
  e2e/features/moderations/validate_similar_moderations.feature
  e2e/features/moderations/verify_domain.feature
  sources/web/src/routes/moderations/ExcludeSpNamesIsland.tsx
  sources/web/src/routes/moderations/ProcessedCheckboxIsland.tsx
  sources/web/src/routes/moderations/SearchBarIsland.tsx
  sources/web/src/routes/moderations/SearchEmailIsland.tsx
  sources/web/src/routes/moderations/SearchModeratedByIsland.tsx
  sources/web/src/routes/moderations/SearchSiretIsland.tsx
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/moderations/exclude-sp-names.client.tsx
  sources/web/src/routes/moderations/filter-signals.client.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/index.test.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/parse_q.test.ts
  sources/web/src/routes/moderations/parse_q.ts
  sources/web/src/routes/moderations/processed-checkbox.client.tsx
  sources/web/src/routes/moderations/search-bar.client.tsx
  sources/web/src/routes/moderations/search-email.client.tsx
  sources/web/src/routes/moderations/search-moderated-by.client.tsx
  sources/web/src/routes/moderations/search-siret.client.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: routes

🏗️ Extract moderation filter islands to ui/moderations/Filter
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/users/page.tsx
  sources/web/src/ui/moderations/Filter/HideTypeCheckboxIsland.tsx
  sources/web/src/ui/moderations/Filter/ProcessedCheckboxIsland.tsx
  sources/web/src/ui/moderations/Filter/SearchBarIsland.tsx
  sources/web/src/ui/moderations/Filter/SearchDateIsland.tsx
  sources/web/src/ui/moderations/Filter/SearchEmailIsland.tsx
  sources/web/src/ui/moderations/Filter/SearchModeratedByIsland.tsx
  sources/web/src/ui/moderations/Filter/SearchSiretIsland.tsx
  sources/web/src/ui/moderations/Filter/hide-type-checkbox.client.test.tsx
  sources/web/src/ui/moderations/Filter/hide-type-checkbox.client.tsx
  sources/web/src/ui/moderations/Filter/index.ts
  sources/web/src/ui/moderations/Filter/processed-checkbox.client.test.tsx
  sources/web/src/ui/moderations/Filter/processed-checkbox.client.tsx
  sources/web/src/ui/moderations/Filter/q-signal.client.test.tsx
  sources/web/src/ui/moderations/Filter/q-signal.client.ts
  sources/web/src/ui/moderations/Filter/search-bar.client.tsx
  sources/web/src/ui/moderations/Filter/search-date.client.test.tsx
  sources/web/src/ui/moderations/Filter/search-date.client.tsx
  sources/web/src/ui/moderations/Filter/search-email.client.tsx
  sources/web/src/ui/moderations/Filter/search-moderated-by.client.tsx
  sources/web/src/ui/moderations/Filter/search-siret.client.tsx
Labels: scope: moderations, scope: routes, scope: ui, scope: users

🥦 update the e2e tests
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/moderations/moderation_list.feature
  e2e/features/moderations/tab_navigation.feature
  e2e/features/moderations/verify_domain.feature
Labels: :traffic_light: e2e

✨ better hyyyper search bar ux
  e2e/features/moderations/filter_by_moderator.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/lib/moderations/build_moderation_update.test.ts
  sources/web/src/lib/moderations/build_moderation_update.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/index.test.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/parse_q.test.ts
  sources/web/src/routes/moderations/parse_q.ts
  sources/web/src/ui/moderations/Filter/hide-type-checkbox.client.tsx
  sources/web/src/ui/moderations/Filter/q-signal.client.test.tsx
  sources/web/src/ui/moderations/Filter/q-signal.client.ts
  sources/web/src/ui/moderations/Filter/search-bar.client.test.tsx
  sources/web/src/ui/moderations/Filter/search-bar.client.tsx
  sources/web/src/ui/moderations/Filter/search-bar.test.ts
  sources/web/src/ui/moderations/Filter/search-bar.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

✨ better hyyyper search bar ux (#1500)
  e2e/features/moderations/filter_by_moderator.feature
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/lib/moderations/build_moderation_update.test.ts
  sources/web/src/lib/moderations/build_moderation_update.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/index.test.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/moderations/parse_q.test.ts
  sources/web/src/routes/moderations/parse_q.ts
  sources/web/src/ui/moderations/Filter/hide-type-checkbox.client.tsx
  sources/web/src/ui/moderations/Filter/q-signal.client.test.tsx
  sources/web/src/ui/moderations/Filter/q-signal.client.ts
  sources/web/src/ui/moderations/Filter/search-bar.client.test.tsx
  sources/web/src/ui/moderations/Filter/search-bar.client.tsx
  sources/web/src/ui/moderations/Filter/search-bar.test.ts
  sources/web/src/ui/moderations/Filter/search-bar.ts
Labels: :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

:bookmark: release 2026.3.4
  CHANGELOG.md
  package.json
Labels: :memo: documentation

♻️ ui(icons): refactor icon system for universal usage
  sources/web/src/layouts/main.tsx
  sources/web/src/routes/domains-deliverability/Table.tsx
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/button/components/copy.client.tsx
  sources/web/src/ui/icons/components/icon.tsx
  sources/web/src/ui/icons/components/index.ts
  sources/web/src/ui/icons/icons.tsx
  sources/web/src/ui/icons/index.ts
  sources/web/src/ui/icons/paths.ts
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/tailwind.css
Labels: scope: moderations, scope: routes, scope: ui

💄 ui(theme): refine tailwind typography and header styles
  sources/web/src/layouts/root.ts
  sources/web/src/routes/___dev___/design-system.tsx
  sources/web/src/ui/header/index.ts
  sources/web/src/ui/tailwind.dsfr.css
Labels: scope: routes, scope: ui

💄 [ui/button] add icon variant for DSFR-compliant spacing
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/ui/button/components/CopyButtonIsland.tsx
  sources/web/src/ui/button/components/copy.client.tsx
  sources/web/src/ui/button/index.ts
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
Labels: scope: moderations, scope: routes, scope: ui

💄 [ui/badge] update colors and add icon support
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/badge/index.ts
  sources/web/src/ui/icons/index.ts
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/ui/tailwind.css
  sources/web/src/ui/tailwind.dsfr.css
Labels: scope: moderations, scope: routes, scope: ui

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"
