Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

⚡️ Replace flat idle grace with htmx-aware settling
  packages/bun-webview-dsl/src/index.ts
Labels: none

♻️ Make request settling framework-agnostic
  packages/bun-webview-dsl/src/index.ts
Labels: none

✨ Add verification type column to organizations table
  .release-it-changeset/1783419337-verification-type-column.md
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/organizations/index.test.ts
Labels: :memo: documentation, scope: routes, scope: users

✨ Add verification type column to organizations table (#1713)
  .release-it-changeset/1783419337-verification-type-column.md
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/organizations/index.test.ts
Labels: :memo: documentation, scope: routes, scope: users

♻️ Extract MemberRowActions to shared ui component
  .release-it-changeset/1783421182-extraction-actions-membres-composant-partage.md
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.ts
  sources/web/src/routes/users/:id/organizations/index.test.ts
  sources/web/src/routes/users/:id/organizations/index.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/ui/member-row-actions/MemberRowActions.tsx
  sources/web/src/ui/member-row-actions/index.ts
Labels: :memo: documentation, scope: organizations, scope: routes, scope: ui, scope: users

♻️ Extract MemberRowActions to shared ui component (#1714)
  .release-it-changeset/1783421182-extraction-actions-membres-composant-partage.md
  sources/web/src/routes/organizations/:id/members/Table.tsx
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.ts
  sources/web/src/routes/users/:id/organizations/index.test.ts
  sources/web/src/routes/users/:id/organizations/index.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/ui/member-row-actions/MemberRowActions.tsx
  sources/web/src/ui/member-row-actions/index.ts
Labels: :memo: documentation, scope: organizations, scope: routes, scope: ui, scope: users

💄 Wrap user table sections in collapsible details/summary
  .release-it-changeset/1783423805-refactor-extrait-composants-repliable.md
  sources/web/src/routes/users/:id/page.tsx
Labels: :memo: documentation, scope: routes, scope: users

💄 Wrap user table sections in collapsible details/summary (#1715)
  .release-it-changeset/1783423805-refactor-extrait-composants-repliable.md
  sources/web/src/routes/users/:id/page.tsx
Labels: :memo: documentation, scope: routes, scope: users

✨ Add count badges with emojis to user table sections
  .release-it-changeset/1783426926-badgesdecomptageavecemojisdanslessectionsutilisateur.md
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael_alpha.feature
  e2e/features/users/raphael_beta.feature
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/moderations/count_moderations_by_user_id.query.ts
  sources/web/src/routes/users/:id/oidc_clients/count_oidc_clients_by_user_id.query.ts
  sources/web/src/routes/users/:id/page.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: routes, scope: users

✨ Add count badges with emojis to user table sections
  .release-it-changeset/1783426926-badgesdecomptageavecemojisdanslessectionsutilisateur.md
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael_alpha.feature
  e2e/features/users/raphael_beta.feature
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/moderations/count_moderations_by_user_id.query.ts
  sources/web/src/routes/users/:id/oidc_clients/count_oidc_clients_by_user_id.query.ts
  sources/web/src/routes/users/:id/page.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: routes, scope: users

✨ Add count badges with emojis to user table sections (#1716)
  .release-it-changeset/1783426926-badgesdecomptageavecemojisdanslessectionsutilisateur.md
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael_alpha.feature
  e2e/features/users/raphael_beta.feature
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/routes/users/:id/moderations/count_moderations_by_user_id.query.ts
  sources/web/src/routes/users/:id/oidc_clients/count_oidc_clients_by_user_id.query.ts
  sources/web/src/routes/users/:id/page.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: routes, scope: users

:bookmark: release 2026.7.0
  .release-it-changeset/1783419337-verification-type-column.md
  .release-it-changeset/1783421182-extraction-actions-membres-composant-partage.md
  .release-it-changeset/1783423805-refactor-extrait-composants-repliable.md
  .release-it-changeset/1783426926-badgesdecomptageavecemojisdanslessectionsutilisateur.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

💄 Add Interne column to user organizations table
  .release-it-changeset/1783430113-colonne-externedansletableaudesorganisations.md
  e2e/features/users/raphael_beta.feature
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/organizations/index.test.ts
Labels: :memo: documentation, :traffic_light: e2e, scope: routes, scope: users

💄 Add Interne column to user organizations table (#1717)
  .release-it-changeset/1783430113-colonne-externedansletableaudesorganisations.md
  e2e/features/users/raphael_beta.feature
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/organizations/index.test.ts
Labels: :memo: documentation, :traffic_light: e2e, scope: routes, scope: users

:bookmark: release 2026.7.1
  .release-it-changeset/1783430113-colonne-externedansletableaudesorganisations.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ Add editable input end_user_reason in refusal modal
  sources/web/src/ui/moderations/Actions/RefusalForm.client.tsx
Labels: scope: moderations, scope: ui

🧪 Add test
  e2e/features/moderations/reject_blocking_moderation.feature
Labels: :traffic_light: e2e

✨ Add editable input end_user_reason in refusal modal (#1718)
  e2e/features/moderations/reject_blocking_moderation.feature
  sources/web/src/ui/moderations/Actions/RefusalForm.client.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: ui

📝
  .release-it-changeset/367523261_bug.md
Labels: :memo: documentation

:bookmark: release 2026.7.2
  .release-it-changeset/367523261_bug.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

💬 Reword revoke identity button
  e2e/features/security/visitor_read_only.feature
  sources/web/src/routes/users/:id/page.tsx
Labels: :traffic_light: e2e, scope: routes, scope: users

Revert "💬 Reword revoke identity button"
  e2e/features/security/visitor_read_only.feature
  sources/web/src/routes/users/:id/page.tsx
Labels: :traffic_light: e2e, scope: routes, scope: users

💬 Rewording "revoke identity" button
  e2e/features/security/visitor_read_only.feature
  sources/web/src/routes/users/:id/page.tsx
Labels: :traffic_light: e2e, scope: routes, scope: users

🔖 Add release it changeset
  .release-it-changeset/1784809596-ui.md
Labels: :memo: documentation

🔒 update lock file
  bun.lock
Labels: none

💄 prettify
  CONTRIBUTING.md
  bin/dev.ts
  package.json
  packages/hono-slotify/src/index.tsx
  sources/web/src/layouts/root.ts
  sources/web/src/lib/moderations/types.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/moderations/parse_q.ts
  sources/web/src/urls/urls.ts
Labels: :memo: documentation, scope: moderations, scope: routes

👷 package script update
  .github/workflows/ci.yml
  package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
Labels: :construction_worker: CI

💬 Reword revoke identity button (#1737)
  .release-it-changeset/1784809596-ui.md
  e2e/features/security/visitor_read_only.feature
  sources/web/src/routes/users/:id/page.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: routes, scope: users

:bookmark: release 2026.7.3
  .release-it-changeset/1784809596-ui.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

fix(organizations): open association leaders PDF inline in a new tab
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/routes/organizations/leaders/index.tsx
Labels: scope: organizations, scope: routes

fix(organizations): open association leaders PDF inline in a new tab (#1746)
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/routes/organizations/leaders/index.tsx
Labels: scope: organizations, scope: routes

📝 Add release note for association leaders PDF inline fix
  .release-it-changeset/1785315967-ouverturedu-p-d-fdesdirigeantsdassociationdansunnouvelonglet.md
Labels: :memo: documentation

:bookmark: release 2026.7.4
  .release-it-changeset/1785315967-ouverturedu-p-d-fdesdirigeantsdassociationdansunnouvelonglet.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

⬆️ update to node 24.18.0
  package.json
Labels: none

✨ Add search btn whoIs
  sources/web/src/ui/users/Investigation/Investigation.tsx
Labels: scope: ui, scope: users

🔖 Add release it changeset
  .release-it-changeset/1786012497-feature.md
Labels: :memo: documentation

✨ Add who is button (#1757)
  .release-it-changeset/1786012497-feature.md
  sources/web/src/ui/users/Investigation/Investigation.tsx
Labels: :memo: documentation, scope: ui, scope: users

:bookmark: release 2026.8.0
  .release-it-changeset/1786012497-feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

⬆️ update to node 24.18.0 (#1747)
  package.json
Labels: none

↗️ update to hono 4.12.34
  bin/package.json
  bun.lock
  package.json
  packages/hono-slotify/package.json
  sources/config/typescript/package.json
  sources/identite-proconnect/package.json
  sources/web/package.json
  sources/web/src/routes.d.ts
Labels: none

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"
