Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

✨ port tab_navigation.feature to bunwright (#1814)
  .github/workflows/e2e.yml
  e2e/features/moderations/tab_navigation.feature
  sources/web/src/routes/moderations/tab_navigation.feature.test.ts
  sources/web/src/testing/feature.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes

✨ add buncept, a CodeceptJS-style e2e actor over Bun.WebView
  packages/buncept/package.json
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  packages/buncept/tsconfig.json
Labels: none

✨ port moderation_list feature test to buncept
  bun.lock
  sources/web/package.json
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
  sources/web/src/testing/feature.ts
  sources/web/tsconfig.json
Labels: scope: moderations, scope: routes

✨ Add buncept, a CodeceptJS-style e2e actor, and port moderation_list (#1827)
  bun.lock
  packages/buncept/package.json
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  packages/buncept/tsconfig.json
  sources/web/package.json
  sources/web/src/routes/moderations/moderation_list.feature.test.ts
  sources/web/src/testing/feature.ts
  sources/web/tsconfig.json
Labels: scope: moderations, scope: routes

✨ port accept_blocking_moderation feature test to buncept
  sources/web/src/routes/moderations/accept_blocking_moderation.feature.test.ts
Labels: scope: moderations, scope: routes

✨ port accept_blocking_moderation feature test to buncept (#1828)
  sources/web/src/routes/moderations/accept_blocking_moderation.feature.test.ts
Labels: scope: moderations, scope: routes

✨ port add_external_member feature test to buncept
  README.md
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  sources/web/src/routes/moderations/add_external_member.feature.test.ts
Labels: :memo: documentation, scope: moderations, scope: routes

✨ port add_external_member feature test to buncept (#1829)
  README.md
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  sources/web/src/routes/moderations/add_external_member.feature.test.ts
Labels: :memo: documentation, scope: moderations, scope: routes

✨ port add_internal_member feature test to buncept
  sources/web/src/routes/moderations/add_internal_member.feature.test.ts
Labels: scope: moderations, scope: routes

✨ port add_internal_member feature test to buncept (#1830)
  sources/web/src/routes/moderations/add_internal_member.feature.test.ts
Labels: scope: moderations, scope: routes

✨ port filter_by_service_provider feature test to buncept
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  sources/web/src/routes/moderations/filter_by_service_provider.feature.test.ts
Labels: scope: moderations, scope: routes

✨ port filter_by_service_provider feature test to buncept (#1831)
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  sources/web/src/routes/moderations/filter_by_service_provider.feature.test.ts
Labels: scope: moderations, scope: routes

✨ port handle_duplicate_requests feature test to buncept
  sources/web/src/routes/moderations/handle_duplicate_requests.feature.test.ts
Labels: scope: moderations, scope: routes

✨ port handle_duplicate_requests feature test to buncept (#1832)
  sources/web/src/routes/moderations/handle_duplicate_requests.feature.test.ts
Labels: scope: moderations, scope: routes

✨ port manage_internal_domain feature test to buncept
  sources/web/src/routes/moderations/manage_internal_domain.feature.test.ts
Labels: scope: moderations, scope: routes

✨ port manage_internal_domain feature test to buncept (#1833)
  sources/web/src/routes/moderations/manage_internal_domain.feature.test.ts
Labels: scope: moderations, scope: routes

🐛 wait for the current page to load before every buncept action
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
Labels: none

✨ port reprocess_completed_moderation feature test to buncept
  sources/web/src/routes/moderations/reprocess_completed_moderation.feature.test.ts
Labels: scope: moderations, scope: routes

🐛 Wait for page load before buncept actions, port reprocess_completed_moderation (#1834)
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  sources/web/src/routes/moderations/reprocess_completed_moderation.feature.test.ts
Labels: scope: moderations, scope: routes

✨ port tab_navigation feature test to buncept
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  sources/web/src/routes/moderations/tab_navigation.feature.test.ts
  sources/web/src/testing/feature.ts
Labels: scope: moderations, scope: routes

✨ port tab_navigation feature test to buncept (#1835)
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  sources/web/src/routes/moderations/tab_navigation.feature.test.ts
  sources/web/src/testing/feature.ts
Labels: scope: moderations, scope: routes

🚚 move buncept feature tests into __features__
  README.md
  sources/web/src/routes/moderations/__features__/accept_blocking_moderation.feature.test.ts
  sources/web/src/routes/moderations/__features__/add_external_member.feature.test.ts
  sources/web/src/routes/moderations/__features__/add_internal_member.feature.test.ts
  sources/web/src/routes/moderations/__features__/filter_by_service_provider.feature.test.ts
  sources/web/src/routes/moderations/__features__/handle_duplicate_requests.feature.test.ts
  sources/web/src/routes/moderations/__features__/manage_internal_domain.feature.test.ts
  sources/web/src/routes/moderations/__features__/moderation_list.feature.test.ts
  sources/web/src/routes/moderations/__features__/reprocess_completed_moderation.feature.test.ts
  sources/web/src/routes/moderations/__features__/tab_navigation.feature.test.ts
Labels: :memo: documentation, scope: moderations, scope: routes

✨ port verify_domain feature test to buncept
  sources/web/src/routes/moderations/__features__/verify_domain.feature.test.ts
  sources/web/src/routes/moderations/verify_domain.feature.test.ts
Labels: scope: moderations, scope: routes

🚚 move buncept feature tests into __features__ (#1836)
  README.md
  sources/web/src/routes/moderations/__features__/accept_blocking_moderation.feature.test.ts
  sources/web/src/routes/moderations/__features__/add_external_member.feature.test.ts
  sources/web/src/routes/moderations/__features__/add_internal_member.feature.test.ts
  sources/web/src/routes/moderations/__features__/filter_by_service_provider.feature.test.ts
  sources/web/src/routes/moderations/__features__/handle_duplicate_requests.feature.test.ts
  sources/web/src/routes/moderations/__features__/manage_internal_domain.feature.test.ts
  sources/web/src/routes/moderations/__features__/moderation_list.feature.test.ts
  sources/web/src/routes/moderations/__features__/reprocess_completed_moderation.feature.test.ts
  sources/web/src/routes/moderations/__features__/tab_navigation.feature.test.ts
Labels: :memo: documentation, scope: moderations, scope: routes

✨ port verify_domain feature test to buncept (#1837)
  sources/web/src/routes/moderations/__features__/verify_domain.feature.test.ts
  sources/web/src/routes/moderations/verify_domain.feature.test.ts
Labels: scope: moderations, scope: routes

🔥 drop bunwright
  README.md
  bun.lock
  package.json
  packages/buncept/src/index.ts
  patches/bunwright@0.3.2.patch
  sources/web/package.json
  sources/web/src/testing/feature.ts
Labels: :memo: documentation

🔥 drop bunwright (#1838)
  README.md
  bun.lock
  package.json
  packages/buncept/src/index.ts
  patches/bunwright@0.3.2.patch
  sources/web/package.json
  sources/web/src/testing/feature.ts
Labels: :memo: documentation

♻️ buncept: Scenario is a describe.serial, each step a test
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  packages/buncept/src/skipped.fixture.ts
  sources/web/src/testing/feature.ts
Labels: none

♻️ buncept: Scenario is a describe.serial, each step a test (#1839)
  packages/buncept/src/index.feature.test.ts
  packages/buncept/src/index.ts
  packages/buncept/src/skipped.fixture.ts
  sources/web/src/testing/feature.ts
Labels: none

✨ Notify user via Crisp on identity revocation
  sources/web/src/lib/users/templates/index.ts
  sources/web/src/lib/users/usecase/RevokeIdentity.test.ts
  sources/web/src/lib/users/usecase/RevokeIdentity.ts
  sources/web/src/lib/users/usecase/index.ts
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/:id/index.tsx
Labels: scope: routes, scope: users

✨ Notify user via Crisp on account deletion
  sources/web/src/lib/users/usecase/DeleteUser.test.ts
  sources/web/src/lib/users/usecase/DeleteUser.ts
  sources/web/src/lib/users/usecase/index.ts
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/:id/index.tsx
Labels: scope: routes, scope: users

✨ Notify user via Crisp on organization removal
  sources/web/src/lib/users/templates/index.ts
  sources/web/src/lib/users/usecase/RemoveMemberFromOrganization.test.ts
  sources/web/src/lib/users/usecase/RemoveMemberFromOrganization.ts
  sources/web/src/lib/users/usecase/index.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
Labels: scope: organizations, scope: routes

🔖 Add release it changeset
  .release-it-changeset/1791215191-feature.md
Labels: :memo: documentation

♻️ Gather user data before mutation in support usecases
  sources/web/src/lib/users/usecase/DeleteUser.ts
  sources/web/src/lib/users/usecase/RemoveMemberFromOrganization.ts
  sources/web/src/lib/users/usecase/RevokeIdentity.ts
Labels: none

⬆️ bump @proconnect-gouv/proconnect.identite to 10.3.0
  bun.lock
  sources/identite-proconnect/package.json
  sources/web/package.json
  sources/web/src/lib/organizations/usecase/GetOrganizationInfo.ts
Labels: none

⬆️ bump @proconnect-gouv/proconnect.identite.database to 1.8.1
  .release-it-changeset/1791379657-ajout-organisation.md
  bun.lock
  sources/identite-proconnect/package.json
Labels: :memo: documentation

✨ Add crisp email on support actions (#1846)
  .release-it-changeset/1791215191-feature.md
  sources/web/src/lib/users/templates/index.ts
  sources/web/src/lib/users/usecase/DeleteUser.test.ts
  sources/web/src/lib/users/usecase/DeleteUser.ts
  sources/web/src/lib/users/usecase/RemoveMemberFromOrganization.test.ts
  sources/web/src/lib/users/usecase/RemoveMemberFromOrganization.ts
  sources/web/src/lib/users/usecase/RevokeIdentity.test.ts
  sources/web/src/lib/users/usecase/RevokeIdentity.ts
  sources/web/src/lib/users/usecase/index.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.ts
  sources/web/src/routes/users/:id/index.test.ts
  sources/web/src/routes/users/:id/index.tsx
Labels: :memo: documentation, scope: organizations, scope: routes, scope: users

🐛 Fix hyperscript.org 0.9.93 breaking changes
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/root.ts
  sources/web/src/ui/button/scripts/disable_until_htmx:afterOnLoad.client.test.tsx
  sources/web/src/ui/menu/components/scripts/hide_on_click_elsewere.client.test.tsx
Labels: scope: ui

🐛 Fix @sentry v11 breaking changes (profiling, segment-name attribute)
  bin/src/node/instrument.ts
  bun.lock
  sources/web/package.json
  sources/web/src/middleware/sentry/index.ts
Labels: scope: middleware

🐛 fix lien vers la liste des dirigeants sur annuaire-entreprises
  .release-it-changeset/1759868400-fix-lien-dirigeants.md
  sources/web/src/ui/users/About/About.tsx
Labels: :memo: documentation, scope: ui, scope: users
