Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

🔖 Add release it changeset
  .release-it-changeset/1775050737-feature.md
Labels: :memo: documentation

SAVE
  sources/hyyyperbase/bin/seed/0000_response_types/lib.test.ts
  sources/hyyyperbase/migrations/0002_careless_mimic.sql
  sources/hyyyperbase/migrations/0002_clammy_dakota_north.sql
  sources/hyyyperbase/migrations/meta/0002_snapshot.json
  sources/hyyyperbase/migrations/meta/0003_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
  sources/hyyyperbase/src/schema.ts
  sources/web/src/routes/moderations/:id/rejected/index.test.ts
Labels: scope: moderations, scope: routes

✨ Add libelle for tranche effectif unite legale (#1520)
  .release-it-changeset/1775050737-feature.md
  bun.lock
  e2e/features/organizations/dinum.feature
  sources/identite-proconnect/package.json
  sources/web/package.json
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: organizations, scope: ui

:bookmark: release 2026.4.3
  .release-it-changeset/1775050737-feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 fix expired API token silently showing "no leaders list"
  .release-it-changeset/1776264974-bug.md
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/routes/organizations/leaders/index.tsx
Labels: :memo: documentation, scope: organizations, scope: routes

chore(lock): update lockfile
  bin/package.json
  bun.lock
  package.json
  packages/hono-slotify/package.json
  sources/config/typescript/package.json
  sources/identite-proconnect/package.json
Labels: none

chore(lock): update lockfile
  bun.lock
  sources/web/src/routes.d.ts
Labels: none

update tests
  hyyypertool.code-workspace
  sources/web/src/queries/moderations/GetModerationById.test.ts
  sources/web/src/queries/moderations/GetModerationWithDetails.test.ts
  sources/web/src/queries/moderations/UpdateModerationById.test.ts
  sources/web/src/queries/organizations/update_domain_by_id.test.ts
  sources/web/src/queries/users/GetUsersList.test.ts
  sources/web/src/queries/users/UpdateUserByIdInOrganization.test.ts
  sources/web/src/queries/users/get_authenticators_by_user_id.test.ts
  sources/web/src/routes/domains-deliverability/index.test.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/get_duplicate_moderations.query.test.ts
  sources/web/src/routes/moderations/:id/reprocess/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/organizations/:id/domains/index.test.ts
  sources/web/src/routes/organizations/:id/members/:user_id/index.test.ts
  sources/web/src/routes/organizations/domains/get_unverified_domains.query.test.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.test.ts
  sources/web/src/routes/users/:id/organizations/get_organizations_by_user_id.query.test.ts
Labels: scope: moderations, scope: organizations, scope: routes, scope: users

🐛 fix expired API token silently showing "no leaders list" (#1548)
  .release-it-changeset/1776264974-bug.md
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/routes/organizations/leaders/index.tsx
Labels: :memo: documentation, scope: organizations, scope: routes

💄 Open the three-dot menu from the top
  sources/web/src/ui/menu/components/Popover.tsx
Labels: scope: ui

💄 UI improvements following the removal of DSFR
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/moderations/verify_domain.feature
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael_alpha.feature
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/lib/moderations/moderation_type.mapper.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/header/index.ts
  sources/web/src/ui/hx_table/Foot.tsx
  sources/web/src/ui/moderations/Filter/hide-type-checkbox.client.test.tsx
  sources/web/src/ui/moderations/Filter/hide-type-checkbox.client.tsx
  sources/web/src/ui/moderations/Filter/processed-checkbox.client.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

🔖 Add release it changeset
  .release-it-changeset/1776698337-feature.md
Labels: :memo: documentation

💄 UI improvements following the removal of DSFR (#1560)
  .release-it-changeset/1776698337-feature.md
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/moderations/verify_domain.feature
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael_alpha.feature
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/lib/moderations/moderation_type.mapper.ts
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/header/index.ts
  sources/web/src/ui/hx_table/Foot.tsx
  sources/web/src/ui/moderations/Filter/hide-type-checkbox.client.test.tsx
  sources/web/src/ui/moderations/Filter/hide-type-checkbox.client.tsx
  sources/web/src/ui/moderations/Filter/processed-checkbox.client.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

💄 Add spacing between buttons
  sources/web/src/ui/organizations/info/Investigation.tsx
  sources/web/src/ui/organizations/info/__snapshots__/Investigation.test.tsx.snap
Labels: scope: organizations, scope: ui

🔖 Add release it changeset
  .release-it-changeset/1776698153-feature.md
Labels: :memo: documentation

💄 Open the three-dot menu from the top (#1561)
  .release-it-changeset/1776698153-feature.md
  sources/web/src/ui/menu/components/Popover.tsx
  sources/web/src/ui/organizations/info/Investigation.tsx
  sources/web/src/ui/organizations/info/__snapshots__/Investigation.test.tsx.snap
Labels: :memo: documentation, scope: organizations, scope: ui

:bookmark: release 2026.4.4
  .release-it-changeset/1776264974-bug.md
  .release-it-changeset/1776698153-feature.md
  .release-it-changeset/1776698337-feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

💄 Add dark mode
  e2e/features/team/gestion_equipe.feature
  sources/web/src/layouts/main.tsx
  sources/web/src/layouts/root.ts
  sources/web/src/routes/organizations/:id/Fiche.tsx
  sources/web/src/routes/organizations/:id/page.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/team/page.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/ui/button/index.ts
  sources/web/src/ui/card/index.ts
  sources/web/src/ui/crisp/Message/index.tsx
  sources/web/src/ui/form/index.ts
  sources/web/src/ui/header/index.ts
  sources/web/src/ui/menu/components/Popover.tsx
  sources/web/src/ui/menu/index.ts
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/Toolbar.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/organizations/info/Investigation.tsx
  sources/web/src/ui/quote/index.ts
  sources/web/src/ui/table/index.ts
  sources/web/src/ui/tailwind.dsfr.css
  sources/web/src/ui/users/About/About.tsx
  sources/web/src/ui/users/Investigation/Investigation.tsx
Labels: :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

🧪 Generate new snapshots
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/ui/moderations/Header/__snapshots__/Header.test.tsx.snap
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/__snapshots__/Investigation.test.tsx.snap
Labels: scope: moderations, scope: organizations, scope: routes, scope: ui

🔖 Add release it changeset
  .release-it-changeset/1777466355-ui.md
Labels: :memo: documentation

✨ Delete first name and surname from rejection emails
  sources/web/src/routes/moderations/:id/rejected/index.test.ts
  sources/web/src/routes/moderations/:id/rejected/index.ts
Labels: scope: moderations, scope: routes

🔖 Add release it changeset
  .release-it-changeset/1777926674-feature.md
Labels: :memo: documentation

✨ Delete first name and surname from rejection emails (#1576)
  .release-it-changeset/1777926674-feature.md
  sources/web/src/routes/moderations/:id/rejected/index.test.ts
  sources/web/src/routes/moderations/:id/rejected/index.ts
Labels: :memo: documentation, scope: moderations, scope: routes

💄 Add dark mode (#1569)
  .release-it-changeset/1777466355-ui.md
  e2e/features/team/gestion_equipe.feature
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/main.tsx
  sources/web/src/layouts/root.ts
  sources/web/src/routes/organizations/:id/Fiche.tsx
  sources/web/src/routes/organizations/:id/page.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/routes/team/page.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/ui/button/index.ts
  sources/web/src/ui/card/index.ts
  sources/web/src/ui/crisp/Message/index.tsx
  sources/web/src/ui/form/index.ts
  sources/web/src/ui/header/index.ts
  sources/web/src/ui/menu/components/Popover.tsx
  sources/web/src/ui/menu/index.ts
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/Toolbar.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/ui/moderations/Header/__snapshots__/Header.test.tsx.snap
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
  sources/web/src/ui/organizations/info/Investigation.tsx
  sources/web/src/ui/organizations/info/__snapshots__/Investigation.test.tsx.snap
  sources/web/src/ui/quote/index.ts
  sources/web/src/ui/table/index.ts
  sources/web/src/ui/tailwind.dsfr.css
  sources/web/src/ui/users/About/About.tsx
  sources/web/src/ui/users/Investigation/Investigation.tsx
Labels: :memo: documentation, :traffic_light: e2e, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

:bookmark: release 2026.5.0
  .release-it-changeset/1777466355-ui.md
  .release-it-changeset/1777926674-feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

💄 improve dark mode contrast and readability
  sources/web/src/routes/___dev___/auth.agentconnect.gouv.fr/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/not-found.tsx
  sources/web/src/ui/callout/index.ts
  sources/web/src/ui/connect/index.ts
  sources/web/src/ui/moderations/Header/__snapshots__/Header.test.tsx.snap
  sources/web/src/ui/moderations/MessageInfo/MessageInfo.tsx
  sources/web/src/ui/tailwind.dsfr.css
Labels: scope: moderations, scope: routes, scope: ui

🔖 Add release it changeset
  .release-it-changeset/1777993294-feature.md
Labels: :memo: documentation

💄 Improve dark mode contrast and readability (#1577)
  .release-it-changeset/1777993294-feature.md
  sources/web/src/routes/___dev___/auth.agentconnect.gouv.fr/index.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/not-found.tsx
  sources/web/src/ui/callout/index.ts
  sources/web/src/ui/connect/index.ts
  sources/web/src/ui/moderations/Header/__snapshots__/Header.test.tsx.snap
  sources/web/src/ui/moderations/MessageInfo/MessageInfo.tsx
  sources/web/src/ui/tailwind.dsfr.css
Labels: :memo: documentation, scope: moderations, scope: routes, scope: ui

:bookmark: release 2026.5.1
  .release-it-changeset/1777993294-feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

💄 Minor UX improvment + copy button repair
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/main.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/ui/callout/index.ts
  sources/web/src/ui/moderations/AutoGoBack/AutoGoBack.tsx
  sources/web/src/ui/notifications/notifications.client.tsx
Labels: scope: moderations, scope: organizations, scope: routes, scope: ui

🔖 Add release it changeset
  .release-it-changeset/1778146211-feature.md
Labels: :memo: documentation

💄 Minor UX improvment + copy button repair (#1589)
  .release-it-changeset/1778146211-feature.md
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/main.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/ui/callout/index.ts
  sources/web/src/ui/moderations/AutoGoBack/AutoGoBack.tsx
  sources/web/src/ui/notifications/notifications.client.tsx
Labels: :memo: documentation, scope: moderations, scope: organizations, scope: routes, scope: ui

💄 Fix hover on dark mode
  sources/web/src/routes/___dev___/auth.agentconnect.gouv.fr/index.tsx
  sources/web/src/routes/users/:id/moderations/Table.tsx
  sources/web/src/routes/users/:id/organizations/Table.tsx
Labels: scope: routes, scope: users

🔖 Add release it changeset
  .release-it-changeset/1778147282-feature.md
Labels: :memo: documentation

💄 Fix hover on dark mode (#1578)
  .release-it-changeset/1778147282-feature.md
  sources/web/src/routes/users/:id/moderations/Table.tsx
  sources/web/src/routes/users/:id/organizations/Table.tsx
Labels: :memo: documentation, scope: routes, scope: users

🔧 (web): move dark mode to client file script
  e2e/package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/dark.client.ts
  sources/web/src/layouts/main.tsx
  sources/web/src/layouts/root.ts
Labels: :traffic_light: e2e

🔧 (web): move dark mode to client file script (#1588)
  e2e/package.json
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/__snapshots__/root.test.tsx.snap
  sources/web/src/layouts/dark.client.ts
  sources/web/src/layouts/main.tsx
  sources/web/src/layouts/root.ts
Labels: :traffic_light: e2e

update to 4.12.18
  bin/package.json
  bun.lock
  package.json
  packages/hono-slotify/package.json
  sources/config/typescript/package.json
  sources/identite-proconnect/package.json
  sources/web/package.json
Labels: none

:bookmark: release 2026.5.2
  .release-it-changeset/1778146211-feature.md
  .release-it-changeset/1778147282-feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ filter moderations by decision status (is:validated/rejected/reopened)
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/index.test.ts
  sources/web/src/routes/moderations/parse_q.test.ts
  sources/web/src/routes/moderations/parse_q.ts
  sources/web/src/ui/moderations/Filter/search-bar.test.ts
  sources/web/src/ui/moderations/Filter/search-bar.ts
Labels: scope: moderations, scope: routes, scope: ui

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"
