Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

SAVE
  sources/web/src/ui/header/index.ts
Labels: scope: ui

remove the @mcp-b/global
  sources/web/src/layouts/root.ts
Labels: none

🐛 dev(reload): trigger live-reload on CSS changes
  bin/dev.ts
  sources/web/src/layouts/main.tsx
  sources/web/src/routes/___dev___/index.ts
  sources/web/src/routes/___dev___/live-reload.client.ts
  sources/web/src/routes/___dev___/reload.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/users/page.tsx
Labels: scope: moderations, scope: organizations, scope: routes, scope: users

🧹 many more adaptation
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/middleware/auth/NotAuthorized.tsx
  sources/web/src/routes/___dev___/dsfr.page.tsx
  sources/web/src/routes/___dev___/tailwind.page.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/index.test.ts
  sources/web/src/routes/moderations/:id/not-found.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/not-found.tsx
  sources/web/src/routes/organizations/:id/Fiche.tsx
  sources/web/src/routes/organizations/:id/not-found.tsx
  sources/web/src/routes/organizations/:id/page.tsx
  sources/web/src/routes/organizations/domains/page.tsx
  sources/web/src/routes/team/page.tsx
  sources/web/src/routes/users/:id/not-found.tsx
  sources/web/src/routes/users/:id/organizations/Table.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/routes/users/page.tsx
  sources/web/src/routes/welcome/hyyypertitle.client.ts
  sources/web/src/ui/badge/index.ts
  sources/web/src/ui/button/components/CopyButtonIsland.tsx
  sources/web/src/ui/crisp/Message/index.tsx
  sources/web/src/ui/form/index.ts
  sources/web/src/ui/header/index.ts
  sources/web/src/ui/icons/index.ts
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/MemberAndDomainPicker.client.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/Toolbar.tsx
  sources/web/src/ui/moderations/Filter/hide-type-checkbox.client.tsx
  sources/web/src/ui/moderations/Filter/processed-checkbox.client.tsx
  sources/web/src/ui/moderations/Header/__snapshots__/Header.test.tsx.snap
  sources/web/src/ui/notice/index.ts
  sources/web/src/ui/organizations/info/__snapshots__/InactiveWarning.test.tsx.snap
  sources/web/src/ui/tailwind.dsfr.css
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

🧹 many many more adaptation
  bin/dev.ts
  bin/public/assets/favicon/manifest.webmanifest
  sources/web/src/routes/___dev___/dsfr.page.tsx
  sources/web/src/routes/___dev___/tailwind.page.tsx
  sources/web/src/routes/organizations/:id/Fiche.tsx
  sources/web/src/ui/badge/index.ts
  sources/web/src/ui/callout/index.ts
  sources/web/src/ui/crisp/Message/index.tsx
  sources/web/src/ui/form/components/SearchBar.tsx
  sources/web/src/ui/form/index.ts
  sources/web/src/ui/header/index.ts
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/MemberAndDomainPicker.client.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/Toolbar.tsx
  sources/web/src/ui/moderations/Filter/hide-type-checkbox.client.tsx
  sources/web/src/ui/moderations/Filter/processed-checkbox.client.tsx
  sources/web/src/ui/moderations/Filter/search-bar.client.tsx
  sources/web/src/ui/notice/index.ts
  sources/web/src/ui/notifications/notifications.client.tsx
  sources/web/src/ui/quote/index.ts
  sources/web/src/ui/table/index.ts
  sources/web/src/ui/tag/index.ts
  sources/web/src/ui/tailwind.css
  sources/web/src/ui/tailwind.dsfr.css
Labels: scope: moderations, scope: organizations, scope: routes, scope: ui

Potential fix for pull request finding 'Unused variable, import, function or class'
  sources/web/src/routes/team/page.tsx
Labels: scope: routes

🧹 many many many more adaptation
  bin/dev.ts
  package.json
  sources/web/src/routes/domains-deliverability/page.tsx
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/routes/organizations/:id/Fiche.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/routes/welcome/hyyypertitle.client.ts
  sources/web/src/ui/button/index.ts
  sources/web/src/ui/card/index.ts
  sources/web/src/ui/connect/index.ts
  sources/web/src/ui/form/components/SearchBar.tsx
  sources/web/src/ui/form/index.ts
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
  sources/web/src/ui/moderations/Actions/AddAsMemberExternal.tsx
  sources/web/src/ui/moderations/Actions/AddDomain.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/SendNotification.tsx
  sources/web/src/ui/moderations/Filter/hide-type-checkbox.client.tsx
  sources/web/src/ui/moderations/Filter/processed-checkbox.client.tsx
  sources/web/src/ui/moderations/Filter/search-bar.client.tsx
  sources/web/src/ui/moderations/Header/Header.tsx
  sources/web/src/ui/notice/index.ts
  sources/web/src/ui/notifications/notifications.client.tsx
  sources/web/src/ui/tag/index.ts
  sources/web/src/ui/tailwind.dsfr.css
Labels: scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

🧹 many many many many more adaptation
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/routes/moderations/:id/duplicate_warning/index.test.ts
  sources/web/src/ui/moderations/Header/__snapshots__/Header.test.tsx.snap
  sources/web/src/ui/notifications/notifications.client.test.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/__snapshots__/InactiveWarning.test.tsx.snap
Labels: scope: moderations, scope: organizations, scope: routes, scope: ui

📝 add a release changeset [skip ci]
  .release-it-changeset/1774007586-migration-dsfr-tailwind-composants.md
Labels: :memo: documentation

🐛 wrong radio_group style use in moderation action
  sources/web/src/ui/moderations/Actions/AddAsMemberInternal.tsx
Labels: scope: moderations, scope: ui

💄 Button disabled feedback and AcceptModal form disabling
  sources/web/src/ui/button/index.ts
  sources/web/src/ui/moderations/Actions/AcceptModal.tsx
Labels: scope: moderations, scope: ui

🐛 wrong to avoid extension autocomplete on email inputs
  .release-it-changeset/1774007586-migration-dsfr-tailwind-composants.md
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/routes/domains-deliverability/AddDomain.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/index.test.ts
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/routes/team/page.tsx
  sources/web/src/ui/button/index.ts
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/__snapshots__/Investigation.test.tsx.snap
Labels: :memo: documentation, scope: moderations, scope: organizations, scope: routes, scope: ui

✨ Add response type "Demande de précisions sur l’usage du compte"
  sources/web/src/ui/moderations/Actions/responses/__snapshots__/request_clarification_use_account.test.tsx.snap
  sources/web/src/ui/moderations/Actions/responses/request_clarification_use_account.test.tsx
  sources/web/src/ui/moderations/Actions/responses/request_clarification_use_account.tsx
Labels: scope: moderations, scope: ui

✨ Add response type "Demande de rattachement à la Fondation « Institut Français »"
  sources/web/src/ui/moderations/Actions/responses/__snapshots__/affiliation_institut_francais.test.tsx.snap
  sources/web/src/ui/moderations/Actions/responses/affiliation_institut_francais.test.tsx
  sources/web/src/ui/moderations/Actions/responses/affiliation_institut_francais.tsx
Labels: scope: moderations, scope: ui

✨ Add response type "Demande de justification du lien entre organisation choisie & organisation du domaine e-mail"
  sources/web/src/ui/moderations/Actions/responses/__snapshots__/evidence_between_chosen_org_and_domain_email_org.test.tsx.snap
  sources/web/src/ui/moderations/Actions/responses/evidence_between_chosen_org_and_domain_email_org.test.tsx
  sources/web/src/ui/moderations/Actions/responses/evidence_between_chosen_org_and_domain_email_org.tsx
Labels: scope: moderations, scope: ui

✨ Add new RT: "Affiliation à l'institut français", "Preuve entre l'organisation choisie et l'organisation du domaine e-mail", & "Demande de clarification sur l'usage du compte"
  sources/web/src/ui/moderations/Actions/responses/index.ts
Labels: scope: moderations, scope: ui

🔖 Add release it changeset
  .release-it-changeset/1774359130-feature.md
Labels: :memo: documentation

✨ Add new response type (#1509)
  .release-it-changeset/1774359130-feature.md
  sources/web/src/ui/moderations/Actions/responses/__snapshots__/affiliation_institut_francais.test.tsx.snap
  sources/web/src/ui/moderations/Actions/responses/__snapshots__/evidence_between_chosen_org_and_domain_email_org.test.tsx.snap
  sources/web/src/ui/moderations/Actions/responses/__snapshots__/request_clarification_use_account.test.tsx.snap
  sources/web/src/ui/moderations/Actions/responses/affiliation_institut_francais.test.tsx
  sources/web/src/ui/moderations/Actions/responses/affiliation_institut_francais.tsx
  sources/web/src/ui/moderations/Actions/responses/evidence_between_chosen_org_and_domain_email_org.test.tsx
  sources/web/src/ui/moderations/Actions/responses/evidence_between_chosen_org_and_domain_email_org.tsx
  sources/web/src/ui/moderations/Actions/responses/index.ts
  sources/web/src/ui/moderations/Actions/responses/request_clarification_use_account.test.tsx
  sources/web/src/ui/moderations/Actions/responses/request_clarification_use_account.tsx
Labels: :memo: documentation, scope: moderations, scope: ui

:bookmark: release 2026.3.5
  .release-it-changeset/1774359130-feature.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ inapp editable response template
  .github/workflows/e2e.yml
  e2e/features/response-templates/list.feature
  sources/hyyyperbase/migrations/0002_careless_mimic.sql
  sources/hyyyperbase/migrations/meta/0002_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
  sources/hyyyperbase/src/schema.ts
  sources/hyyyperbase/src/testing/index.ts
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/layouts/main.test.tsx
  sources/web/src/layouts/main.tsx
  sources/web/src/routes.d.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/get_response_template.query.ts
  sources/web/src/routes/response-templates/get_response_templates.query.ts
  sources/web/src/routes/response-templates/index.test.ts
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/routes/response-templates/page.tsx
  sources/web/src/ui/accordion/index.ts
  sources/web/src/ui/moderations/TemplateEditor/TemplateEditorIsland.tsx
  sources/web/src/ui/moderations/TemplateEditor/index.ts
  sources/web/src/ui/moderations/TemplateEditor/render.test.ts
  sources/web/src/ui/moderations/TemplateEditor/render.ts
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.test.tsx
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.tsx
  sources/web/src/ui/moderations/TemplateEditor/templates-loader.tsx
  sources/web/src/ui/tabs/index.ts
Labels: :construction_worker: CI, :traffic_light: e2e, scope: moderations, scope: routes, scope: ui

👷 add the team routes tests
  .github/workflows/e2e.yml
Labels: :construction_worker: CI

👷 add the team routes tests (#1518)
  .github/workflows/e2e.yml
Labels: :construction_worker: CI

🐛 Fix pagination buttons broken by hx-trigger leak
  e2e/features/organizations/table_pagination.feature
  e2e/features/users/table_pagination.feature
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/team/page.tsx
  sources/web/src/routes/users/page.tsx
Labels: :traffic_light: e2e, scope: organizations, scope: routes, scope: users

✨ Add libelle for tranche effectif unite legale
  e2e/features/organizations/dinum.feature
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
Labels: :traffic_light: e2e, scope: organizations, scope: ui

🔖 Add release it changeset
  .release-it-changeset/1775050737-feature.md
Labels: :memo: documentation

:bookmark: release 2026.4.0
  .release-it-changeset/1774007586-migration-dsfr-tailwind-composants.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ filter: clear is/type tags when using dedicated search fields
  sources/web/src/ui/moderations/Filter/search-email.client.tsx
  sources/web/src/ui/moderations/Filter/search-moderated-by.client.tsx
  sources/web/src/ui/moderations/Filter/search-siret.client.tsx
Labels: scope: moderations, scope: ui

📝 add a release changeset [skip ci]
  .release-it-changeset/1775634077-filter-clear-is-type-on-field-input.md
Labels: :memo: documentation

✨ filter: clear is/type tags when using dedicated search fields (#1536)
  .release-it-changeset/1775634077-filter-clear-is-type-on-field-input.md
  sources/web/src/ui/moderations/Filter/search-email.client.tsx
  sources/web/src/ui/moderations/Filter/search-moderated-by.client.tsx
  sources/web/src/ui/moderations/Filter/search-siret.client.tsx
Labels: :memo: documentation, scope: moderations, scope: ui

:bookmark: release 2026.4.1
  .release-it-changeset/1775634077-filter-clear-is-type-on-field-input.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🐛 fix: filtre service: positif ignoré dans la liste des modérations
  .release-it-changeset/1775637761-fix-filtre-service-positif.md
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/get_moderators_list.query.test.ts
  sources/web/src/routes/moderations/get_moderators_list.query.ts
  sources/web/src/ui/moderations/Filter/search-bar.test.ts
Labels: :memo: documentation, scope: moderations, scope: routes, scope: ui

🐛 positif ignoré dans la liste des modérations (#1538)
  .release-it-changeset/1775637761-fix-filtre-service-positif.md
  sources/web/src/routes/moderations/get_moderations_list.query.test.ts
  sources/web/src/routes/moderations/get_moderations_list.query.ts
  sources/web/src/routes/moderations/get_moderators_list.query.test.ts
  sources/web/src/routes/moderations/get_moderators_list.query.ts
  sources/web/src/ui/moderations/Filter/search-bar.test.ts
Labels: :memo: documentation, scope: moderations, scope: routes, scope: ui

🐛 Fix pagination buttons broken by hx-trigger leak
  e2e/features/organizations/table_pagination.feature
  e2e/features/users/table_pagination.feature
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/page.tsx
  sources/web/src/ui/hx_table/Foot.tsx
Labels: :traffic_light: e2e, scope: organizations, scope: routes, scope: ui, scope: users

🐛 Fix pagination buttons broken by hx-trigger leak (#1519)
  e2e/features/organizations/table_pagination.feature
  e2e/features/users/table_pagination.feature
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/page.tsx
  sources/web/src/ui/hx_table/Foot.tsx
Labels: :traffic_light: e2e, scope: organizations, scope: routes, scope: ui, scope: users

:bookmark: release 2026.4.2
  .release-it-changeset/1775637761-fix-filtre-service-positif.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

⬆ Bump @proconnect-gouv
  bin/tsconfig.json
  bun.lock
  package.json
  sources/hyyyperbase/package.json
  sources/identite-proconnect/package.json
  sources/identite-proconnect/src/sdk/index.ts
  sources/web/package.json
  sources/web/src/routes/moderations/:id/validate/index.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/tsconfig.json
  tsconfig.json
Labels: scope: moderations, scope: organizations, scope: routes

↗️ [patch](deps): Bump @proconnect-gouv/*
  bin/tsconfig.json
  bun.lock
  package.json
  sources/hyyyperbase/package.json
  sources/identite-proconnect/package.json
  sources/identite-proconnect/src/sdk/index.ts
  sources/web/package.json
  sources/web/src/routes/moderations/:id/validate/index.ts
  sources/web/src/routes/organizations/:id/domains/index.tsx
  sources/web/tsconfig.json
  tsconfig.json
Labels: scope: moderations, scope: organizations, scope: routes

↗️ (deps): Bump typescript 6.0.2
  .github/workflows/buildpack.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  bin/tsconfig.json
  bun.lock
  e2e/bun.lock
  e2e/cypress/global.d.ts
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/package.json
  e2e/tsconfig.json
  hyyypertool.code-workspace
  package.json
  sources/config/typescript/base/tsconfig.json
Labels: :construction_worker: CI, :traffic_light: e2e

↗️ (deps): Bump typescript 6.0.2 (#1547)
  .github/workflows/buildpack.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  bin/tsconfig.json
  bun.lock
  e2e/bun.lock
  e2e/cypress/global.d.ts
  e2e/cypress/support/step_definitions/uvv.ts
  e2e/package.json
  e2e/tsconfig.json
  hyyypertool.code-workspace
  package.json
  sources/config/typescript/base/tsconfig.json
Labels: :construction_worker: CI, :traffic_light: e2e

✨ Add libelle for tranche effectif unite legale
  bun.lock
  e2e/features/organizations/dinum.feature
  sources/identite-proconnect/package.json
  sources/web/package.json
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/About.tsx
Labels: :traffic_light: e2e, scope: organizations, scope: ui
