Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

🔄 migrate proconnect package scope
  bun.lock
  sources/infra/crisp/lib/package.json
  sources/infra/crisp/lib/src/api.ts
  sources/infra/crisp/lib/src/index.ts
  sources/infra/crisp/lib/src/links.ts
  sources/infra/crisp/lib/src/types.ts
  sources/infra/identite-proconnect/lib/package.json
  sources/infra/identite-proconnect/lib/src/index.ts
  sources/infra/identite-proconnect/lib/src/sdk.ts
  sources/infra/identite-proconnect/lib/src/verification_type.ts
  sources/organizations/repository/package.json
  sources/organizations/repository/src/GetUnverifiedDomains.ts
  sources/web/package.json
Labels: :file_cabinet: database, :building_construction: infra, :books: lib, scope: infra, scope: organizations

chore(deps): upgrade zod to v4 and fix type compatibility issues
  bun.lock
  package.json
  sources/core/package.json
  sources/core/src/config/env.ts
  sources/core/src/schema/index.ts
  sources/infra/identite-proconnect/lib/package.json
  sources/moderations/lib/src/schema/validate.form.ts
  sources/organizations/repository/src/AddMemberToOrganization.ts
  sources/web/src/config/env.ts
  sources/web/src/middleware/config/set_config.test.ts
  sources/web/src/middleware/config/set_config.ts
  sources/web/src/routes/moderations/:id/context.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/context.ts
  sources/web/src/routes/moderations/:id/validate.ts
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/organizations/:id/members/index.tsx
  sources/web/src/routes/organizations/domaines/Page.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/:id/organizations/index.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/routes/users/page.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/SendNotification.tsx
  sources/web/src/ui/users/About/About.tsx
  sources/web/src/ui/users/Investigation/Investigation.tsx
Labels: :file_cabinet: database, :building_construction: infra, :books: lib, scope: core, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

🔄 migrate proconnect package scope (#1140)
  bun.lock
  package.json
  sources/core/package.json
  sources/core/src/config/env.ts
  sources/core/src/schema/index.ts
  sources/infra/crisp/lib/package.json
  sources/infra/crisp/lib/src/api.ts
  sources/infra/crisp/lib/src/index.ts
  sources/infra/crisp/lib/src/links.ts
  sources/infra/crisp/lib/src/types.ts
  sources/infra/identite-proconnect/lib/package.json
  sources/infra/identite-proconnect/lib/src/index.ts
  sources/infra/identite-proconnect/lib/src/sdk.ts
  sources/infra/identite-proconnect/lib/src/verification_type.ts
  sources/moderations/lib/src/schema/validate.form.ts
  sources/organizations/repository/package.json
  sources/organizations/repository/src/AddMemberToOrganization.ts
  sources/organizations/repository/src/GetUnverifiedDomains.ts
  sources/web/package.json
  sources/web/src/config/env.ts
  sources/web/src/middleware/config/set_config.test.ts
  sources/web/src/middleware/config/set_config.ts
  sources/web/src/routes/moderations/:id/context.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/context.ts
  sources/web/src/routes/moderations/:id/validate.ts
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/organizations/:id/members/index.tsx
  sources/web/src/routes/organizations/domaines/Page.tsx
  sources/web/src/routes/organizations/page.tsx
  sources/web/src/routes/users/:id/organizations/index.tsx
  sources/web/src/routes/users/:id/page.tsx
  sources/web/src/routes/users/page.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/SendNotification.tsx
  sources/web/src/ui/users/About/About.tsx
  sources/web/src/ui/users/Investigation/Investigation.tsx
Labels: :file_cabinet: database, :building_construction: infra, :books: lib, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

feat(database): use @proconnect-gouv/proconnect.identite.database
  bun.lock
  sources/infra/identite-proconnect/database/drizzle.config.ts
  sources/infra/identite-proconnect/database/package.json
  sources/infra/identite-proconnect/database/src/drizzle.schema.ts
  sources/infra/identite-proconnect/database/src/drizzle/0000_yielding_bruce_banner.sql
  sources/infra/identite-proconnect/database/src/drizzle/meta/0000_snapshot.json
  sources/infra/identite-proconnect/database/src/drizzle/meta/_journal.json
  sources/infra/identite-proconnect/database/src/drizzle/relations.ts
  sources/infra/identite-proconnect/database/src/drizzle/schema.ts
  sources/infra/identite-proconnect/database/src/orm/columes/bytea.ts
  sources/infra/identite-proconnect/database/src/testing/index.ts
  sources/moderations/repository/src/GetDuplicateModerations.test.ts
  sources/users/repository/src/CountGmailMembers.test.ts
  sources/users/repository/src/get_authenticators_by_user_id.test.ts
  sources/web/package.json
Labels: :file_cabinet: database, :building_construction: infra, scope: infra, scope: moderations, scope: users

⬆️ deps: fix drizzle-orm version conflict with overrides
  bun.lock
  package.json
  sources/infra/identite-proconnect/database/bin/migration.ts
  sources/infra/identite-proconnect/database/package.json
  sources/users/repository/src/get_authenticators_by_user_id.test.ts
Labels: :file_cabinet: database, :building_construction: infra, scope: users

⬆️ deps: fix drizzle-orm version conflict with overrides
  bun.lock
  package.json
  sources/infra/identite-proconnect/database/bin/migration.ts
  sources/infra/identite-proconnect/database/package.json
  sources/users/repository/src/get_authenticators_by_user_id.test.ts
Labels: :file_cabinet: database, :building_construction: infra, scope: users

🔧 bun: add drizzle-orm and pg to publicHoistPattern
  bun.lock
  bunfig.toml
  package.json
  sources/infra/identite-proconnect/database/package.json
Labels: :file_cabinet: database, :building_construction: infra

🔧 use same package for e2e tests
  e2e/bun.lock
  e2e/cypress.config.ts
  e2e/package.json
Labels: :traffic_light: e2e

feat(database): use @proconnect-gouv/proconnect.identite.database (#1116)
  bun.lock
  bunfig.toml
  e2e/bun.lock
  e2e/cypress.config.ts
  e2e/package.json
  package.json
  sources/infra/identite-proconnect/database/bin/migration.ts
  sources/infra/identite-proconnect/database/drizzle.config.ts
  sources/infra/identite-proconnect/database/package.json
  sources/infra/identite-proconnect/database/src/drizzle.schema.ts
  sources/infra/identite-proconnect/database/src/drizzle/0000_yielding_bruce_banner.sql
  sources/infra/identite-proconnect/database/src/drizzle/meta/0000_snapshot.json
  sources/infra/identite-proconnect/database/src/drizzle/meta/_journal.json
  sources/infra/identite-proconnect/database/src/drizzle/relations.ts
  sources/infra/identite-proconnect/database/src/drizzle/schema.ts
  sources/infra/identite-proconnect/database/src/orm/columes/bytea.ts
  sources/infra/identite-proconnect/database/src/testing/index.ts
  sources/moderations/repository/src/GetDuplicateModerations.test.ts
  sources/users/repository/src/CountGmailMembers.test.ts
  sources/users/repository/src/get_authenticators_by_user_id.test.ts
  sources/web/package.json
Labels: :traffic_light: e2e, :file_cabinet: database, :building_construction: infra, scope: infra, scope: moderations, scope: users

:bookmark: release 2025.10.0
  CHANGELOG.md
  package.json
Labels: :memo: documentation

:bookmark: release 2025.10.1
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ organization: add needs_official_contact_email_verification
  sources/users/repository/src/GetUsersByOrganizationId.ts
  sources/web/src/routes/organizations/:id/members/Table.tsx
Labels: :file_cabinet: database, scope: organizations, scope: routes, scope: users

✨ organization: add needs_official_contact_email_verification (#1161)
  sources/users/repository/src/GetUsersByOrganizationId.ts
  sources/web/src/routes/organizations/:id/members/Table.tsx
Labels: :file_cabinet: database, scope: organizations, scope: routes, scope: users

:bookmark: release 2025.11.0
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🔄 refactor: update web layer configuration and routing infrastructure
  sources/web/src/config/index.ts
  sources/web/src/layouts/main.test.tsx
  sources/web/src/layouts/main.tsx
  sources/web/src/layouts/root.test.tsx
  sources/web/src/middleware/auth/authorized.test.ts
  sources/web/src/middleware/auth/authorized.ts
  sources/web/src/middleware/auth/index.ts
  sources/web/src/middleware/config/set_config.ts
  sources/web/src/middleware/context/context.ts
  sources/web/src/middleware/crisp/index.ts
  sources/web/src/middleware/session/SessionContext.ts
  sources/web/src/middleware/session/index.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/assets/index.ts
  sources/web/src/routes/auth/index.test.ts
  sources/web/src/routes/auth/index.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.e2e.test.ts
  sources/web/src/routes/moderations/:id/email/index.e2e.test.ts
  sources/web/src/routes/moderations/:id/processed.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/organizations/:id/members/:user_id/index.tsx
  sources/web/src/routes/organizations/domaines/index.e2e.test.ts
  sources/web/src/routes/organizations/index.tsx
  sources/web/src/routes/readyz/index.ts
  sources/web/src/routes/users/index.e2e.test.ts
  sources/web/src/routes/users/index.tsx
  sources/web/tsconfig.json
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: users

🔄 refactor: update web layer configuration and routing infrastructure (#1162)
  sources/web/src/config/index.ts
  sources/web/src/layouts/main.test.tsx
  sources/web/src/layouts/main.tsx
  sources/web/src/layouts/root.test.tsx
  sources/web/src/middleware/auth/authorized.test.ts
  sources/web/src/middleware/auth/authorized.ts
  sources/web/src/middleware/auth/index.ts
  sources/web/src/middleware/config/set_config.ts
  sources/web/src/middleware/context/context.ts
  sources/web/src/middleware/crisp/index.ts
  sources/web/src/middleware/session/SessionContext.ts
  sources/web/src/middleware/session/index.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/assets/index.ts
  sources/web/src/routes/auth/index.test.ts
  sources/web/src/routes/auth/index.ts
  sources/web/src/routes/index.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/index.e2e.test.ts
  sources/web/src/routes/moderations/:id/email/index.e2e.test.ts
  sources/web/src/routes/moderations/:id/processed.ts
  sources/web/src/routes/moderations/index.tsx
  sources/web/src/routes/organizations/:id/members/:user_id/index.tsx
  sources/web/src/routes/organizations/domaines/index.e2e.test.ts
  sources/web/src/routes/organizations/index.tsx
  sources/web/src/routes/readyz/index.ts
  sources/web/src/routes/users/index.e2e.test.ts
  sources/web/src/routes/users/index.tsx
  sources/web/tsconfig.json
Labels: scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: users

add timeout handling to HTTP client functions
  sources/infra/identite-proconnect/lib/src/fetch.ts
  sources/infra/zammad/lib/src/fetch.ts
  sources/web/src/routes/organizations/leaders/index.tsx
Labels: :building_construction: infra, :books: lib, scope: infra, scope: organizations, scope: routes

🕰 use 10s timeout
  sources/infra/identite-proconnect/lib/src/fetch.ts
  sources/infra/zammad/lib/src/fetch.ts
Labels: :building_construction: infra, :books: lib, scope: infra

fix: add timeout handling to HTTP client functions (#1163)
  sources/infra/identite-proconnect/lib/src/fetch.ts
  sources/infra/zammad/lib/src/fetch.ts
  sources/web/src/routes/organizations/leaders/index.tsx
Labels: :building_construction: infra, :books: lib, scope: infra, scope: organizations, scope: routes

🐛 make the nodejs version work
  bin/src/node/index.ts
  bun.lock
  package.json
  sources/web/package.json
  sources/web/src/routes/assets/index.ts
  tsconfig.json
Labels: scope: routes

🐛 make the nodejs version work (#1164)
  bin/src/node/index.ts
  bun.lock
  package.json
  sources/web/package.json
  sources/web/src/routes/assets/index.ts
  tsconfig.json
Labels: scope: routes

fix: wrong tsconfig at start
  package.json
Labels: none

fix: wrong tsconfig at start (2)
  bun.lock
  package.json
  packages/hono-slotify/package.json
Labels: none

chore: remove the app folder from workspaces
  package.json
Labels: none

:bookmark: release 2025.11.1
  CHANGELOG.md
  package.json
Labels: :memo: documentation

chore: remove the app folder from workspaces (#1165)
  package.json
Labels: none

✨ update to bun@1.3.2
  bun.lock
  bunfig.toml
Labels: none

✨ update to bun@1.3.2 (#1167)
  bun.lock
  bunfig.toml
Labels: none

🔧 fix: bun test needs hono as root devdep
  bun.lock
  package.json
Labels: none

🔧 fix: bun test needs hono as root devdep (#1169)
  bun.lock
  package.json
Labels: none

♻️ refactor(web): migrate @~/crisp.lib → #src/lib/crisp
  bun.lock
  sources/infra/crisp/lib/package.json
  sources/infra/crisp/lib/src/api#mock.ts
  sources/infra/crisp/lib/tsconfig.json
  sources/web/package.json
  sources/web/src/lib/crisp/api.ts
  sources/web/src/lib/crisp/index.ts
  sources/web/src/lib/crisp/links.ts
  sources/web/src/lib/crisp/types.ts
  sources/web/src/lib/moderations/context/rejected.ts
  sources/web/src/lib/moderations/usecase/GetCripsFromSessionId.ts
  sources/web/src/lib/moderations/usecase/RespondToTicket.ts
  sources/web/src/lib/users/usecase/ResetMFA.test.ts
  sources/web/src/lib/users/usecase/ResetMFA.ts
  sources/web/src/lib/users/usecase/ResetPassword.test.ts
  sources/web/src/lib/users/usecase/ResetPassword.ts
  sources/web/src/middleware/crisp/index.ts
  sources/web/src/routes/moderations/:id/email/page/context.ts
  sources/web/src/routes/moderations/:id/rejected.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/ui/crisp/Message/index.tsx
  sources/web/src/ui/moderations/Crisp/Crisp.tsx
  sources/web/tsconfig.json
Labels: :building_construction: infra, :books: lib, scope: infra, scope: middleware, scope: moderations, scope: routes, scope: ui, scope: users

♻️ refactor(web): migrate @~/crisp.lib → #src/lib/crisp (#1173)
  bun.lock
  sources/infra/crisp/lib/package.json
  sources/infra/crisp/lib/src/api#mock.ts
  sources/infra/crisp/lib/tsconfig.json
  sources/web/package.json
  sources/web/src/lib/crisp/api.ts
  sources/web/src/lib/crisp/index.ts
  sources/web/src/lib/crisp/links.ts
  sources/web/src/lib/crisp/types.ts
  sources/web/src/lib/moderations/context/rejected.ts
  sources/web/src/lib/moderations/usecase/GetCripsFromSessionId.ts
  sources/web/src/lib/moderations/usecase/RespondToTicket.ts
  sources/web/src/lib/users/usecase/ResetMFA.test.ts
  sources/web/src/lib/users/usecase/ResetMFA.ts
  sources/web/src/lib/users/usecase/ResetPassword.test.ts
  sources/web/src/lib/users/usecase/ResetPassword.ts
  sources/web/src/middleware/crisp/index.ts
  sources/web/src/routes/moderations/:id/email/page/context.ts
  sources/web/src/routes/moderations/:id/rejected.ts
  sources/web/src/routes/users/:id/index.tsx
  sources/web/src/ui/crisp/Message/index.tsx
  sources/web/src/ui/moderations/Crisp/Crisp.tsx
  sources/web/tsconfig.json
Labels: :building_construction: infra, :books: lib, scope: infra, scope: middleware, scope: moderations, scope: routes, scope: ui, scope: users

♻️ refactor(web): migrate @~/zammad.lib → #src/lib/zammad
  bun.lock
  sources/infra/zammad/lib/package.json
  sources/infra/zammad/lib/tsconfig.json
  sources/web/package.json
  sources/web/src/lib/moderations/usecase/GetZammadFromTicketId.ts
  sources/web/src/lib/moderations/usecase/RespondToTicket.ts
  sources/web/src/lib/zammad/const.ts
  sources/web/src/lib/zammad/fetch.ts
  sources/web/src/lib/zammad/get_zammad_attachment.ts
  sources/web/src/lib/zammad/get_zammad_mail.ts
  sources/web/src/lib/zammad/index.ts
  sources/web/src/lib/zammad/is_zammad_ticket.ts
  sources/web/src/lib/zammad/types.ts
  sources/web/src/routes/assets/zammad/index.test.ts
  sources/web/src/routes/assets/zammad/index.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/email/page/Message.tsx
  sources/web/src/routes/moderations/:id/email/page/context.ts
  sources/web/src/routes/readyz/index.ts
  sources/web/tsconfig.json
Labels: :building_construction: infra, :books: lib, scope: moderations, scope: routes

♻️ refactor(web): migrate @~/zammad.lib → #src/lib/zammad (#1174)
  bun.lock
  sources/infra/zammad/lib/package.json
  sources/infra/zammad/lib/tsconfig.json
  sources/web/package.json
  sources/web/src/lib/moderations/usecase/GetZammadFromTicketId.ts
  sources/web/src/lib/moderations/usecase/RespondToTicket.ts
  sources/web/src/lib/zammad/const.ts
  sources/web/src/lib/zammad/fetch.ts
  sources/web/src/lib/zammad/get_zammad_attachment.ts
  sources/web/src/lib/zammad/get_zammad_mail.ts
  sources/web/src/lib/zammad/index.ts
  sources/web/src/lib/zammad/is_zammad_ticket.ts
  sources/web/src/lib/zammad/types.ts
  sources/web/src/routes/assets/zammad/index.test.ts
  sources/web/src/routes/assets/zammad/index.ts
  sources/web/src/routes/moderations/:id/duplicate_warning/DuplicateWarning.tsx
  sources/web/src/routes/moderations/:id/email/page/Message.tsx
  sources/web/src/routes/moderations/:id/email/page/context.ts
  sources/web/src/routes/readyz/index.ts
  sources/web/tsconfig.json
Labels: :building_construction: infra, :books: lib, scope: moderations, scope: routes

✅ test(moderations): add route test for reprocess
  sources/web/src/routes/moderations/:id/reprocess.test.ts
Labels: scope: moderations, scope: routes

♻️ refactor(moderations): extract reprocess logic to thin wrapper
  sources/web/src/routes/moderations/:id/mark_as_reprocessed.ts
  sources/web/src/routes/moderations/:id/reprocess.ts
Labels: scope: moderations, scope: routes

✅ test(moderations): add route test for validate
  sources/web/src/routes/moderations/:id/validate.test.ts
Labels: scope: moderations, scope: routes

♻️ refactor(moderations): extract validation logic to thin wrapper
  sources/web/src/routes/moderations/:id/mark_as_validated.ts
  sources/web/src/routes/moderations/:id/validate.ts
Labels: scope: moderations, scope: routes

♻️ refactor(moderations): extract rejection logic to thin wrapper
  sources/web/src/routes/moderations/:id/mark_as_rejected.ts
  sources/web/src/routes/moderations/:id/rejected.ts
Labels: scope: moderations, scope: routes

refactor(moderations): extract processed logic to thin wrapper
  sources/web/src/routes/moderations/:id/mark_as_processed.ts
  sources/web/src/routes/moderations/:id/processed.ts
Labels: scope: moderations, scope: routes
