Repository proconnect-gouv/hyyypertool, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :memo: documentation, :traffic_light: e2e, :test_tube: unit test, :globe_with_meridians: api, :file_cabinet: database, :building_construction: infra, :books: lib, :lipstick: ui, scope: devtool config, scope: core, scope: infra, scope: middleware, scope: moderations, scope: organizations, scope: routes, scope: ui, scope: users

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":traffic_light: e2e":
  - changed-files:
      - any-glob-to-any-file: "e2e/**/*"
      - any-glob-to-any-file: "**/*.e2e.test"
":test_tube: unit test":
  - changed-files:
      - any-glob-to-any-file: "**/*.test"

#

":globe_with_meridians: api":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/api/**/*"
          - "sources/*/api/**/*"
":file_cabinet: database":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/database/**/*"
          - "sources/*/repository/**/*"
":building_construction: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/*"
":books: lib":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/infra/*/lib/**/*"
          - "sources/*/lib/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/app/ui/**/*"
          - "sources/*/ui/**/*"

#

"scope: devtool config":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/config/src/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "sources/core/src/**/*"
"scope: infra":
  - changed-files:
      - any-glob-to-any-file: "sources/infra/**/src/**/*"
"scope: middleware":
  - changed-files:
      - any-glob-to-any-file: "sources/web/src/middleware/**/*"
"scope: moderations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/moderations/**/src/**/*"
          - "sources/web/src/routes/moderations/**/*"
          - "sources/web/src/ui/moderations/**/*"
"scope: organizations":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/organizations/**/src/**/*"
          - "sources/web/src/routes/organizations/**/*"
          - "sources/web/src/ui/organizations/**/*"
"scope: routes":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/routes/**/*"
"scope: ui":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/web/src/ui/**/*"
          - "sources/*/ui/src/**/*"
"scope: users":
  - changed-files:
      - any-glob-to-any-file:
          - "sources/users/**/src/**/*"
          - "sources/web/src/routes/users/**/*"
          - "sources/web/src/ui/users/**/*"

🐛 api.crisp.chat: track relative path for mockserver/verify
  sources/web/src/routes/___dev___/api.crisp.chat/index.ts
Labels: scope: routes

🧹 mock: replace api.crisp.chat MockServer with ___dev___ Hono route (#1609)
  .env
  e2e/cypress.config.ts
  e2e/cypress/support/step_definitions/mockserver.ts
  e2e/features/moderations/accept_blocking_moderation.feature
  mocks/api.crisp.chat/mockserverInitialization.json
  mocks/docker-compose.mocks.yaml
  sources/identite-proconnect/src/database/seed/insert.ts
  sources/web/src/routes.d.ts
  sources/web/src/routes/___dev___/api.crisp.chat/index.ts
  sources/web/src/routes/___dev___/index.ts
Labels: :traffic_light: e2e, scope: routes

🧹 mock: replace entreprise.api.gouv.fr MockServer with ___dev___ Hono route
  .env
  .github/workflows/e2e.yml
  docker-compose.yaml
  mocks/docker-compose.mocks.yaml
  mocks/entreprise.api.gouv.fr/mockserverInitialization.json
  sources/web/src/routes/___dev___/entreprise.api.gouv.fr/index.ts
  sources/web/src/routes/___dev___/index.ts
Labels: :construction_worker: CI, scope: routes

🧹 mock: replace entreprise.api.gouv.fr MockServer with ___dev___ Hono route (#1610)
  .env
  .github/workflows/e2e.yml
  docker-compose.yaml
  mocks/docker-compose.mocks.yaml
  mocks/entreprise.api.gouv.fr/mockserverInitialization.json
  sources/web/src/routes/___dev___/entreprise.api.gouv.fr/index.ts
  sources/web/src/routes/___dev___/index.ts
Labels: :construction_worker: CI, scope: routes

:bookmark: release 2026.5.6
  .release-it-changeset/1778667336-moderations-tri-colonnes.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ moderations: make default sort order explicit
  .release-it-changeset/1779100107-default-sort-created-asc.md
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
Labels: :memo: documentation, scope: moderations, scope: routes

✨ moderations: make default sort order explicit (#1620)
  .release-it-changeset/1779100107-default-sort-created-asc.md
  sources/web/src/routes/moderations/context.test.ts
  sources/web/src/routes/moderations/context.ts
Labels: :memo: documentation, scope: moderations, scope: routes

:bookmark: release 2026.5.7
  .release-it-changeset/1779100107-default-sort-created-asc.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

🔒️ rate-limit: add IP-based rate limiting via RateLimiterPostgres
  .env
  .env.production
  .release-it-changeset/1779104363-rate-limiting-par-ip.md
  bun.lock
  sources/hyyyperbase/migrations/0003_rate_limiter.sql
  sources/hyyyperbase/migrations/meta/0003_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
  sources/hyyyperbase/src/migrator.test.ts
  sources/hyyyperbase/src/schema.ts
  sources/hyyyperbase/src/testing/index.ts
  sources/web/package.json
  sources/web/src/config/env.ts
  sources/web/src/middleware/rate-limit/index.test.ts
  sources/web/src/middleware/rate-limit/index.ts
  sources/web/src/routes/index.ts
Labels: :memo: documentation, scope: middleware, scope: routes

🔒️ rate-limit: add IP-based rate limiting via RateLimiterPostgres (#1621)
  .env
  .env.production
  .release-it-changeset/1779104363-rate-limiting-par-ip.md
  bun.lock
  sources/hyyyperbase/migrations/0003_rate_limiter.sql
  sources/hyyyperbase/migrations/meta/0003_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
  sources/hyyyperbase/src/migrator.test.ts
  sources/hyyyperbase/src/schema.ts
  sources/hyyyperbase/src/testing/index.ts
  sources/web/package.json
  sources/web/src/config/env.ts
  sources/web/src/middleware/rate-limit/index.test.ts
  sources/web/src/middleware/rate-limit/index.ts
  sources/web/src/routes/index.ts
Labels: :memo: documentation, scope: middleware, scope: routes

:bookmark: release 2026.5.8
  .release-it-changeset/1779104363-rate-limiting-par-ip.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

💄 button: add dark mode support and extract dropdown component
  .release-it-changeset/1779109919-button-dark-mode.md
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/routes/error.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/index.test.ts
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/ui/button/index.ts
  sources/web/src/ui/dropdown/index.ts
  sources/web/src/ui/moderations/Filter/search-bar.client.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/__snapshots__/Investigation.test.tsx.snap
Labels: :memo: documentation, scope: moderations, scope: organizations, scope: routes, scope: ui

💄 button: add dark mode support and extract dropdown component (#1622)
  .release-it-changeset/1779109919-button-dark-mode.md
  sources/web/src/layouts/__snapshots__/main.test.tsx.snap
  sources/web/src/routes/error.tsx
  sources/web/src/routes/moderations/:id/duplicate_warning/index.test.ts
  sources/web/src/routes/organizations/leaders/index.test.ts
  sources/web/src/ui/button/index.ts
  sources/web/src/ui/dropdown/index.ts
  sources/web/src/ui/moderations/Filter/search-bar.client.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
  sources/web/src/ui/organizations/info/__snapshots__/Investigation.test.tsx.snap
Labels: :memo: documentation, scope: moderations, scope: organizations, scope: routes, scope: ui

:bookmark: release 2026.5.9
  .release-it-changeset/1779109919-button-dark-mode.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ Add input "reason refusal for user"
  sources/hyyyperbase/migrations/0003_silky_the_hood.sql
  sources/hyyyperbase/migrations/meta/0003_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
  sources/hyyyperbase/src/schema.ts
  sources/hyyyperbase/src/testing/response_templates.ts
  sources/web/src/lib/moderations/schema/rejected.form.ts
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/:id/rejected/get_response_template.query.ts
  sources/web/src/routes/moderations/:id/rejected/index.tsx
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/get_response_template.query.ts
  sources/web/src/routes/response-templates/get_response_templates.query.ts
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/ResponseMessageSelector.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.tsx
Labels: scope: moderations, scope: routes, scope: ui

🔧 rate-limit: add RATE_LIMIT_POINTS env var with 120 default
  .release-it-changeset/1779350815-rate-limit-points-env-var.md
  sources/web/src/config/env.ts
  sources/web/src/routes/index.ts
Labels: :memo: documentation, scope: routes

🔧 rate-limit: add RATE_LIMIT_POINTS env var with 120 default (#1626)
  .release-it-changeset/1779350815-rate-limit-points-env-var.md
  sources/web/src/config/env.ts
  sources/web/src/routes/index.ts
Labels: :memo: documentation, scope: routes

:bookmark: release 2026.5.10
  .release-it-changeset/1779350815-rate-limit-points-env-var.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ Add input "reason refusal for user"
  sources/hyyyperbase/migrations/0003_silky_the_hood.sql
  sources/hyyyperbase/src/schema.ts
  sources/hyyyperbase/src/testing/response_templates.ts
  sources/web/src/lib/moderations/build_moderation_update.test.ts
  sources/web/src/lib/moderations/build_moderation_update.ts
  sources/web/src/lib/moderations/schema/rejected.form.ts
  sources/web/src/lib/moderations/usecase/ValidateSimilarModerations.ts
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/:id/processed/index.ts
  sources/web/src/routes/moderations/:id/rejected/get_response_template.query.ts
  sources/web/src/routes/moderations/:id/rejected/index.test.ts
  sources/web/src/routes/moderations/:id/rejected/index.tsx
  sources/web/src/routes/moderations/:id/validate/index.ts
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/get_response_template.query.ts
  sources/web/src/routes/response-templates/get_response_templates.query.ts
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/ResponseMessageSelector.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.test.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.tsx
Labels: scope: moderations, scope: routes, scope: ui

✨ Add toggle "allow_editing"
  sources/hyyyperbase/migrations/0004_acoustic_morph.sql
  sources/hyyyperbase/migrations/meta/0004_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
  sources/hyyyperbase/src/schema.ts
  sources/hyyyperbase/src/testing/response_templates.ts
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/get_response_template.query.ts
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.test.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.tsx
Labels: scope: moderations, scope: routes, scope: ui

📝 Add release note for reason refusal and allow_editing toggle
  .release-it-changeset/1779871911-ajout-raison-refus-et-toggle-modification.md
Labels: :memo: documentation

✨ Add input "reason refusal for user" (#1628)
  .release-it-changeset/1779871911-ajout-raison-refus-et-toggle-modification.md
  sources/hyyyperbase/migrations/0003_silky_the_hood.sql
  sources/hyyyperbase/migrations/0004_acoustic_morph.sql
  sources/hyyyperbase/migrations/meta/0004_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
  sources/hyyyperbase/src/schema.ts
  sources/hyyyperbase/src/testing/response_templates.ts
  sources/web/src/lib/moderations/build_moderation_update.test.ts
  sources/web/src/lib/moderations/build_moderation_update.ts
  sources/web/src/lib/moderations/schema/rejected.form.ts
  sources/web/src/lib/moderations/usecase/ValidateSimilarModerations.ts
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/:id/processed/index.ts
  sources/web/src/routes/moderations/:id/rejected/get_response_template.query.ts
  sources/web/src/routes/moderations/:id/rejected/index.test.ts
  sources/web/src/routes/moderations/:id/rejected/index.tsx
  sources/web/src/routes/moderations/:id/validate/index.ts
  sources/web/src/routes/response-templates/detail.page.tsx
  sources/web/src/routes/response-templates/get_response_template.query.ts
  sources/web/src/routes/response-templates/get_response_templates.query.ts
  sources/web/src/routes/response-templates/index.tsx
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/ResponseMessageSelector.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.test.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
  sources/web/src/ui/moderations/TemplateEditor/template-editor.client.tsx
Labels: :memo: documentation, scope: moderations, scope: routes, scope: ui

:bookmark: release 2026.5.11
  .release-it-changeset/1779871911-ajout-raison-refus-et-toggle-modification.md
  CHANGELOG.md
  package.json
Labels: :memo: documentation

feat(hyyyperbase): add end_user_reason column to response_templates
  sources/hyyyperbase/migrations/0005_known_mathemanic.sql
  sources/hyyyperbase/migrations/meta/0005_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
Labels: none

feat(hyyyperbase): add end_user_reason column to response_templates (#1632)
  sources/hyyyperbase/migrations/0005_known_mathemanic.sql
  sources/hyyyperbase/migrations/meta/0005_snapshot.json
  sources/hyyyperbase/migrations/meta/_journal.json
Labels: none

:bookmark: release 2026.5.12
  CHANGELOG.md
  package.json
Labels: :memo: documentation

chore(lock): update lockfile
  bun.lock
Labels: none

✨ create-island: add children support
  sources/web/src/lib/create-island/factory.test.tsx
  sources/web/src/lib/create-island/factory.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/moderations/Filter/sort-header.client.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
Labels: scope: moderations, scope: organizations, scope: routes, scope: ui

🔒️ create-island: escape HTML chars in serialized props
  sources/web/src/lib/create-island/factory.test.tsx
  sources/web/src/lib/create-island/factory.tsx
Labels: none

✅ create-island: test nested island content chain
  sources/web/src/lib/create-island/factory.test.tsx
Labels: none

✨ create-island: add children support
  sources/web/src/lib/create-island/factory.test.tsx
  sources/web/src/lib/create-island/factory.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/moderations/Filter/sort-header.client.tsx
Labels: scope: moderations, scope: routes, scope: ui

Revert "✨ create-island: add children support"
  sources/web/src/lib/create-island/factory.test.tsx
  sources/web/src/lib/create-island/factory.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/moderations/Filter/sort-header.client.tsx
Labels: scope: moderations, scope: routes, scope: ui

✨ create-island: add children support (#1641)
  sources/web/src/lib/create-island/factory.test.tsx
  sources/web/src/lib/create-island/factory.tsx
  sources/web/src/routes/moderations/page.tsx
  sources/web/src/ui/moderations/Filter/sort-header.client.tsx
  sources/web/src/ui/organizations/info/About.test.tsx
Labels: scope: moderations, scope: organizations, scope: routes, scope: ui

📦️ Upgrade @proconnect-gouv/proconnect.identite
  bun.lock
  package.json
Labels: none

📦️ Upgrade @proconnect-gouv/proconnect.identite
  bun.lock
  sources/identite-proconnect/package.json
  sources/web/src/lib/moderations/build_moderation_update.ts
  sources/web/src/queries/moderations/GetModeration.test.ts
  sources/web/src/queries/moderations/GetModerationWithDetails.test.ts
  sources/web/src/queries/moderations/GetModerationWithUser.ts
  sources/web/src/queries/moderations/UpdateModerationById.test.ts
  sources/web/src/queries/moderations/UpdateModerationById.ts
  sources/web/src/routes/moderations/:id/reprocess/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.test.ts
Labels: scope: moderations, scope: routes, scope: users

📦️ Upgrade @proconnect-gouv/proconnect.identite (#1651)
  bun.lock
  sources/identite-proconnect/package.json
  sources/web/src/lib/moderations/build_moderation_update.ts
  sources/web/src/queries/moderations/GetModeration.test.ts
  sources/web/src/queries/moderations/GetModerationWithDetails.test.ts
  sources/web/src/queries/moderations/GetModerationWithUser.ts
  sources/web/src/queries/moderations/UpdateModerationById.test.ts
  sources/web/src/queries/moderations/UpdateModerationById.ts
  sources/web/src/routes/moderations/:id/reprocess/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.test.ts
  sources/web/src/routes/moderations/:id/validate/index.ts
  sources/web/src/routes/users/:id/moderations/get_moderations_by_user_id.query.test.ts
Labels: scope: moderations, scope: routes, scope: users

:bookmark: release 2026.6.0
  CHANGELOG.md
  package.json
Labels: :memo: documentation

✨ add end_user_reason and allow_editing fields to moderation
  sources/web/src/lib/moderations/build_moderation_update.ts
  sources/web/src/lib/moderations/schema/rejected.form.ts
  sources/web/src/routes/moderations/:id/page.tsx
  sources/web/src/routes/moderations/:id/rejected/index.test.ts
  sources/web/src/routes/moderations/:id/rejected/index.tsx
  sources/web/src/routes/response-templates/get_response_templates.query.ts
  sources/web/src/ui/moderations/Actions/Actions.tsx
  sources/web/src/ui/moderations/Actions/ResponseMessageSelector.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.test.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
Labels: scope: moderations, scope: routes, scope: ui

💄 show warning when response template allows editing
  sources/web/src/ui/moderations/Actions/RefusalModal.tsx
  sources/web/src/ui/moderations/Actions/response-message-selector.client.tsx
Labels: scope: moderations, scope: ui

✨ Make member email a link to user profile
  sources/web/src/routes/organizations/:id/members/Table.tsx
Labels: scope: organizations, scope: routes
