Repository proconnect-gouv/hyyypertool, pull requests merged in 2024-11, with the labels that each got.

#631 chore(config): add bun types in the base tsconfig
  packages/~/config/typescript/base/tsconfig.json
Labels: bug, scope: config

#632 fix(moderations): bold needs spaces
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/enseignement_agricole.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/enseignement_agricole.tsx
Labels: bug, scope: moderations, :lipstick: ui

#635 feat(moderation): add first name & last name reversed response
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/first_and_last_name_inversion.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/first_and_last_name_inversion.test.tsx
  packages/~/moderations/ui/src/Actions/responses/first_and_last_name_inversion.tsx
  packages/~/moderations/ui/src/Actions/responses/index.ts
Labels: scope: moderations, :lipstick: ui

#637 feat(moderation): add occupation incorrectly entered response
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/occupation_incorrectly_entered.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/occupation_incorrectly_entered.test.tsx
  packages/~/moderations/ui/src/Actions/responses/occupation_incorrectly_entered.tsx
Labels: scope: moderations, :lipstick: ui

#638 feat(moderation): add occupation incorrectly entered not blocking re…
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/name_incorrectly_entered.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/occupation_incorrectly_entered_not_blocking.test.tsx
  packages/~/moderations/ui/src/Actions/responses/occupation_incorrectly_entered_not_blocking.tsx
Labels: scope: moderations, :lipstick: ui

#640 feat(moderation): add bad email admin centrale response
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/admin_centrale.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/admin_centrale.test.tsx
  packages/~/moderations/ui/src/Actions/responses/admin_centrale.tsx
  packages/~/moderations/ui/src/Actions/responses/index.ts
Labels: scope: moderations, :lipstick: ui

#641 chore(deps): update to hono@4.6.10
  bun.lockb
  package.json
  packages/hono-slotify/package.json
  packages/~/app/api/package.json
  packages/~/app/layout/package.json
  packages/~/app/middleware/package.json
  packages/~/app/sentry/package.json
  packages/~/app/ui/package.json
  packages/~/app/urls/package.json
  packages/~/app/urls/src/hx_urls.ts
  packages/~/app/urls/src/pattern.d.ts
  packages/~/auth/api/package.json
  packages/~/config/typescript/package.json
  packages/~/infra/crisp/middleware/package.json
  packages/~/infra/moncomptepro/database/package.json
  packages/~/infra/zammad/api/package.json
  packages/~/moderations/api/package.json
  packages/~/moderations/ui/package.json
  packages/~/organizations/api/package.json
  packages/~/organizations/ui/package.json
  packages/~/proxy/api/package.json
  packages/~/users/api/package.json
  packages/~/users/ui/package.json
  packages/~/welcome/api/package.json
Labels: enhancement, :globe_with_meridians: api, scope: moderations, scope: users, scope: organizations, :lipstick: ui, scope: app, :file_cabinet: database, :building_construction: infra, scope: welcome, scope: auth, scope: config, scope: proxy

#642 feat(moderation): add public or private orga response
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/public_or_private_organization.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/public_or_private_organization.test.tsx
  packages/~/moderations/ui/src/Actions/responses/public_or_private_organization.tsx
Labels: scope: moderations, :lipstick: ui

#644 feat(moderation): add link with chosen orga response
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/link_with_chosen_organization.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/link_with_chosen_organization.test.tsx
  packages/~/moderations/ui/src/Actions/responses/link_with_chosen_organization.tsx
Labels: scope: moderations, :lipstick: ui

#648 feat(moderation): add min armee terre marine musee response
  packages/~/moderations/ui/src/Actions/context.ts
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/min_armees_terre_marine_musee.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/already_signed.test.tsx
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/min_armees_terre_marine_musee.test.tsx
  packages/~/moderations/ui/src/Actions/responses/min_armees_terre_marine_musee.tsx
Labels: scope: moderations, :lipstick: ui

#646 feat(moderation): add refusal france travail response
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/refusal_france_travail.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/refusal_france_travail.test.tsx
  packages/~/moderations/ui/src/Actions/responses/refusal_france_travail.tsx
Labels: scope: moderations, :lipstick: ui

#647 feat(moderation): add non teaching agent response
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/non_teaching_agent.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/non_teaching_agent.test.tsx
  packages/~/moderations/ui/src/Actions/responses/non_teaching_agent.tsx
Labels: scope: moderations, :lipstick: ui

#655 test(moderation): update snapshot
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/non_teaching_agent.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/non_teaching_agent.test.tsx
  packages/~/moderations/ui/src/Actions/responses/non_teaching_agent.tsx
Labels: scope: moderations, :lipstick: ui

#649 feat(moderation): add min armee pec response
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/min_armee_pec.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/min_armee_pec.test.tsx
  packages/~/moderations/ui/src/Actions/responses/min_armees_pec.tsx
Labels: scope: moderations, :lipstick: ui

#657 refactor(ui): extract hide on click elsewere script
  packages/~/app/ui/src/button/scripts/copy_text_content_to_clipboard.test.tsx
  packages/~/app/ui/src/button/scripts/copy_value_to_clipboard.test.tsx
  packages/~/app/ui/src/button/scripts/disable_until_htmx:afterOnLoad.test.tsx
  packages/~/app/ui/src/menu/components/Trigger.tsx
  packages/~/app/ui/src/menu/components/scripts/hide_on_click_elsewere.test.tsx
  packages/~/app/ui/src/menu/components/scripts/hide_on_click_elsewere.ts
Labels: :lipstick: ui, scope: app

#659 test(moderation): update snapshot
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/occupation_incorrectly_entered_not_blocking.test.tsx.snap
Labels: scope: moderations, :lipstick: ui

#660 feat(moderation): update deprecated @conseiller-numerique.fr
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/deprecated_conseiller_numerique_email.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/deprecated_conseiller_numerique_email.tsx
Labels: enhancement, scope: moderations, :lipstick: ui

#661 feat(organization): remove free email domains from the table
  bun.lockb
  packages/~/organizations/api/package.json
  packages/~/organizations/repository/src/get_unverified_domains.test.ts
  packages/~/organizations/repository/src/get_unverified_domains.ts
Labels: enhancement, :globe_with_meridians: api, scope: organizations, :file_cabinet: database
