Repository proconnect-gouv/hyyypertool, pull requests merged in 2024-10, with the labels that each got.

#553 feat(domains): add refused verification type
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  hyyypertool.code-workspace
  packages/~/app/urls/src/pattern.d.ts
  packages/~/infra/moncomptepro/lib/src/email_domain.ts
  packages/~/organizations/api/src/:id/domains/Table.tsx
  packages/~/organizations/api/src/:id/domains/index.tsx
Labels: enhancement, :jar: api, scope: organizations, :test_tube: e2e

#561 feat(users): gmail gouv users kpi
  hyyypertool.code-workspace
  packages/~/users/repository/src/count_gmail_members.test.ts
  packages/~/users/repository/src/count_gmail_members.ts
Labels: enhancement, scope: users

#563 feat(moderation): hide exchanges by default
  packages/~/app/core/src/schema/index.ts
  packages/~/app/urls/src/pattern.d.ts
  packages/~/moderations/api/src/:id/Moderation_Exchanges.tsx
  packages/~/moderations/api/src/:id/email/index.e2e.test.ts
  packages/~/moderations/api/src/:id/email/index.tsx
  packages/~/moderations/api/src/:id/email/page/Crisp.tsx
  packages/~/moderations/api/src/:id/email/page/FindCorrespondingEmail.tsx
  packages/~/moderations/api/src/:id/email/page/Zammad.tsx
  packages/~/moderations/api/src/:id/email/page/context.ts
  packages/~/organizations/api/src/:id/domains/index.tsx
  packages/~/organizations/api/src/:id/members/index.tsx
Labels: enhancement, :jar: api, scope: moderations, scope: organizations

#564 feat(moderation): hide domaines by default
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  e2e/features/organizations/dinum.feature
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  packages/~/moderations/api/src/:id/Domain_Organization.tsx
  packages/~/moderations/api/src/:id/context.ts
  packages/~/moderations/api/src/:id/index.tsx
  packages/~/organizations/api/src/:id/page.tsx
  packages/~/organizations/repository/src/get_domain_count.test.ts
  packages/~/organizations/repository/src/get_domain_count.ts
Labels: enhancement, :jar: api, scope: moderations, scope: organizations, :test_tube: e2e

#565 feat(welcome): proconnect button ish
  e2e/features/auth/connexion.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/jean_bon_join_dinum.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  e2e/features/moderations/pierre_bon_join_aldp.feature
  e2e/features/moderations/richard_bon_join_dengi.feature
  e2e/features/organizations/dinum.feature
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael.feature
  packages/~/welcome/api/src/index.tsx
Labels: enhancement, :jar: api, :test_tube: e2e

#566 feat(welcome): proconnect button
  packages/~/app/ui/tailwind.css
  packages/~/welcome/api/src/index.tsx
Labels: enhancement, :jar: api, :lipstick: ui

#567 refactor(moderation): extract email component to ui folder
  .env
  bun.lockb
  hyyypertool.code-workspace
  mocks/api.crisp.chat/mockserverInitialization.json
  mocks/docker-compose.mocks.yaml
  mocks/support.etalab.gouv.fr/mockserverInitialization.json
  packages/~/infra/moncomptepro/database/src/seed/insert.ts
  packages/~/moderations/api/package.json
  packages/~/moderations/api/src/:id/email/index.tsx
  packages/~/moderations/api/src/:id/email/page/context.ts
  packages/~/moderations/api/src/:id/email/page/index.tsx
  packages/~/moderations/lib/package.json
  packages/~/moderations/lib/src/usecase/GetCripsFromSessionId.ts
  packages/~/moderations/lib/src/usecase/GetZammadFromTicketId.ts
  packages/~/moderations/ui/package.json
  packages/~/moderations/ui/src/Crisp.tsx
  packages/~/moderations/ui/src/FindCorrespondingEmail.tsx
  packages/~/moderations/ui/tsconfig.json
Labels: enhancement, :jar: api, scope: moderations, :lipstick: ui

#570 test(ui): add render html utils
  packages/~/app/ui/package.json
  packages/~/app/ui/src/testing/index.ts
  packages/~/organizations/ui/src/info/About.test.tsx
  packages/~/organizations/ui/src/info/__snapshots__/About.test.tsx.snap
Labels: test case, scope: organizations, :lipstick: ui

#571 refactor(moderation): merge context setter
  packages/~/moderations/api/src/:id/context.ts
  packages/~/moderations/api/src/:id/index.tsx
  packages/~/moderations/api/src/:id/page.tsx
Labels: enhancement, :jar: api, scope: moderations

#572 test(ui): add render html utils (2)
  .github/labeler.yml
  .github/workflows/ci.yml
  packages/~/organizations/ui/src/info/About.test.tsx
Labels: test case, scope: organizations, :lipstick: ui, :construction_worker: CI

#573 feat(ui): active page indicator
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/main.tsx
Labels: enhancement, scope: app

#574 refactor(ui): move moderation header to ui layeur
  bun.lockb
  packages/~/moderations/api/package.json
  packages/~/moderations/api/src/:id/Actions.tsx
  packages/~/moderations/api/src/:id/MessageInfo.tsx
  packages/~/moderations/api/src/:id/email/page/index.tsx
  packages/~/moderations/api/src/:id/page.tsx
  packages/~/moderations/lib/src/moderation_type.mapper.ts
  packages/~/moderations/lib/src/usecase/GetModerationHeader.ts
  packages/~/moderations/ui/package.json
  packages/~/moderations/ui/src/Crisp/Crisp.tsx
  packages/~/moderations/ui/src/Crisp/index.ts
  packages/~/moderations/ui/src/FindCorrespondingEmail/FindCorrespondingEmail.tsx
  packages/~/moderations/ui/src/FindCorrespondingEmail/index.ts
  packages/~/moderations/ui/src/Header/Header.test.tsx
  packages/~/moderations/ui/src/Header/Header.tsx
  packages/~/moderations/ui/src/Header/__snapshots__/Header.test.tsx.snap
  packages/~/moderations/ui/src/Header/index.ts
  packages/~/moderations/ui/src/MessageInfo/MessageInfo.tsx
  packages/~/moderations/ui/src/MessageInfo/index.ts
  packages/~/users/lib/package.json
  packages/~/users/lib/src/entities/User.ts
  packages/~/users/lib/tsconfig.json
Labels: technical debt, :globe_with_meridians: api, scope: moderations, scope: users, :lipstick: ui, :books: lib

#576 feat(moderation): reduce spacing size
  packages/~/moderations/api/src/:id/duplicate_warning/index.tsx
  packages/~/moderations/api/src/:id/page.tsx
  packages/~/moderations/ui/src/Header/Header.tsx
  packages/~/moderations/ui/src/Header/__snapshots__/Header.test.tsx.snap
Labels: :globe_with_meridians: api, scope: moderations, :lipstick: ui

#577 feat(moderation): remove member when reproessing a moderation
  e2e/features/moderations/jean_bon_join_dinum.feature
  e2e/features/moderations/reprocess_marie_bon_bosch.feature
  e2e/features/moderations/richard_bon_join_dengi.feature
  packages/~/infra/moncomptepro/database/src/seed/insert.ts
  packages/~/moderations/api/src/:id/$procedures/reprocess.ts
  packages/~/moderations/lib/src/usecase/IsUserExternalMember.ts
  packages/~/moderations/lib/src/usecase/ReprocessModerationById.test.ts
  packages/~/moderations/lib/src/usecase/ReprocessModerationById.ts
  packages/~/moderations/lib/src/usecase/create_and_send_email_to_user.ts
  packages/~/moderations/lib/src/usecase/mark_moderatio_as_rejected.ts
  packages/~/moderations/lib/src/usecase/mark_moderation_as.ts
  packages/~/moderations/repository/src/RemoveUserFromOrganization.test.ts
  packages/~/moderations/repository/src/RemoveUserFromOrganization.ts
  packages/~/moderations/repository/src/UpdateModerationById.test.ts
  packages/~/moderations/repository/src/UpdateModerationById.ts
  packages/~/moderations/repository/src/index.ts
  packages/~/moderations/repository/src/update_moderation_by_id.ts
  packages/~/organizations/api/src/:id/members/:user_id/index.tsx
  packages/~/organizations/lib/src/entities/Organization.ts
Labels: enhancement, :globe_with_meridians: api, scope: moderations, scope: organizations, :traffic_light: e2e, :books: lib, :file_cabinet: database, :building_construction: infra

#586 chore(deps): update to drizzle-orm@0.34.1
  bun.lockb
  packages/~/app/api/package.json
  packages/~/infra/moncomptepro/database/package.json
  packages/~/moderations/api/package.json
  packages/~/moderations/lib/package.json
  packages/~/moderations/repository/package.json
  packages/~/organizations/repository/package.json
  packages/~/users/repository/package.json
Labels: dependencies, :globe_with_meridians: api, scope: moderations, scope: users, scope: organizations, scope: app, :books: lib, :file_cabinet: database, :building_construction: infra

#587 chore(deps): update to @sentry/*@8.32.0
  bun.lockb
  packages/~/app/sentry/package.json
Labels: dependencies, scope: app

#588 fix(moderation): validate user as internal by default
  packages/~/moderations/lib/src/usecase/IsUserExternalMember.ts
Labels: bug, scope: moderations, :books: lib

#596 chore(docker): update to postgres 15.8
  docker-compose.yaml
Labels: dependencies

#597 feat(users): allow search on family and given name too
  packages/~/users/api/src/context.ts
Labels: enhancement, :globe_with_meridians: api, scope: users

#598 feat(organization): remove domain email
  packages/~/app/urls/src/pattern.d.ts
  packages/~/organizations/api/src/:id/domains/Table.tsx
  packages/~/organizations/api/src/:id/domains/index.tsx
  packages/~/organizations/lib/package.json
  packages/~/organizations/lib/src/usecase/RemoveDomainEmailById.test.ts
  packages/~/organizations/lib/src/usecase/RemoveDomainEmailById.ts
  packages/~/organizations/lib/src/usecase/index.ts
Labels: enhancement, :globe_with_meridians: api, scope: organizations, scope: app, :books: lib

#601 style(icon): add copy/past icon from dsfr
  packages/~/app/ui/src/icon/Copy.tsx
  packages/~/organizations/api/src/domaines/Page.tsx
Labels: :globe_with_meridians: api, scope: organizations, :lipstick: ui, scope: app

#609 fix(organization): do not allow domains with @ char
  packages/~/app/core/src/error/index.ts
  packages/~/organizations/api/src/:id/domains/index.tsx
  packages/~/organizations/lib/src/usecase/AddAuthorizedDomain.test.ts
  packages/~/organizations/lib/src/usecase/AddAuthorizedDomain.ts
  packages/~/organizations/lib/src/usecase/index.ts
  packages/~/organizations/repository/src/add_authorized_domain.test.ts
  packages/~/organizations/repository/src/add_authorized_domain.ts
  packages/~/organizations/repository/src/index.ts
Labels: bug, :globe_with_meridians: api, scope: organizations, scope: app, :books: lib, :file_cabinet: database

#618 fix(moderations): rename MonComptePro to ProConnect in responses
  mocks/support.etalab.gouv.fr/mockserverInitialization.json
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/already_signed.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/already_signed.tsx
  packages/~/moderations/ui/src/Actions/responses/first_last_name.tsx
  packages/~/moderations/ui/src/Actions/responses/invalid_name_job.tsx
  packages/~/moderations/ui/src/Actions/responses/link_with_eduction_gouv_fr.tsx
  packages/~/moderations/ui/src/Actions/responses/link_with_organization.tsx
  packages/~/moderations/ui/src/Actions/responses/mobilic.tsx
  packages/~/moderations/ui/src/Actions/responses/use_official_email.tsx
  packages/~/moderations/ui/src/Actions/responses/use_pro_email.tsx
Labels: bug, scope: moderations, :lipstick: ui
