Repository proconnect-gouv/hyyypertool, pull requests merged in 2024-12, with the labels that each got.

#671 chore(deps): update to bun-types@1.1.38
  bun.lockb
  package.json
  packages/~/app/core/package.json
  packages/~/config/typescript/package.json
  packages/~/infra/crisp/middleware/package.json
  packages/~/infra/zammad/api/package.json
  packages/~/welcome/api/package.json
Labels: dependencies, :globe_with_meridians: api, scope: app, :building_construction: infra, scope: welcome, scope: config

#676 chore(deps): update to drizzle-orm
  bun.lockb
  packages/~/app/api/package.json
  packages/~/infra/moncomptepro/database/package.json
  packages/~/moderations/api/package.json
  packages/~/moderations/lib/package.json
  packages/~/moderations/repository/package.json
  packages/~/organizations/repository/package.json
  packages/~/users/repository/package.json
Labels: dependencies, :globe_with_meridians: api, scope: moderations, scope: users, scope: organizations, scope: app, :books: lib, :file_cabinet: database, :building_construction: infra

#683 feat(infra): update moncomptepro schema
  packages/~/infra/moncomptepro/database/drizzle.config.ts
  packages/~/infra/moncomptepro/database/src/drizzle.schema.ts
  packages/~/infra/moncomptepro/database/src/drizzle/0000_bitter_moondragon.sql
  packages/~/infra/moncomptepro/database/src/drizzle/meta/0000_snapshot.json
  packages/~/infra/moncomptepro/database/src/drizzle/meta/_journal.json
  packages/~/infra/moncomptepro/database/src/drizzle/relations.ts
  packages/~/infra/moncomptepro/database/src/drizzle/schema.ts
  packages/~/infra/moncomptepro/database/src/index.ts
  packages/~/infra/moncomptepro/database/src/types.ts
  packages/~/moderations/api/src/:id/$procedures/validate.e2e.test.ts
  packages/~/organizations/api/src/domaines/Page.tsx
Labels: :globe_with_meridians: api, scope: moderations, scope: organizations, :file_cabinet: database, :building_construction: infra

#684 feat(users): update user page
  bun.lockb
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael.feature
  packages/~/app/ui/package.json
  packages/~/app/ui/src/badge/index.ts
  packages/~/app/ui/src/list/index.ts
  packages/~/app/urls/src/pattern.d.ts
  packages/~/infra/moncomptepro/database/src/seed/delete.ts
  packages/~/moderations/api/src/:id/page.tsx
  packages/~/organizations/api/package.json
  packages/~/users/api/package.json
  packages/~/users/api/src/:id/index.tsx
  packages/~/users/api/src/:id/page.tsx
  packages/~/users/api/tailwind.config.ts
  packages/~/users/lib/package.json
  packages/~/users/lib/src/usecase/ResetMFA.test.ts
  packages/~/users/lib/src/usecase/ResetMFA.ts
  packages/~/users/lib/src/usecase/index.ts
  tailwind.config.ts
Labels: enhancement, :globe_with_meridians: api, scope: moderations, scope: users, scope: organizations, :traffic_light: e2e, :lipstick: ui, scope: app, :books: lib, :file_cabinet: database, :building_construction: infra

#685 feat(organization): display verificated at date
  packages/~/infra/moncomptepro/database/src/seed/insert.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/bosch_france.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/bosch_rexroth.ts
  packages/~/infra/moncomptepro/database/src/seed/users/mariebon.ts
  packages/~/organizations/api/src/:id/domains/Table.tsx
  packages/~/organizations/repository/src/get_orginization_domains.ts
Labels: enhancement, :globe_with_meridians: api, scope: organizations, :file_cabinet: database, :building_construction: infra

#687 fix(users): auto close conversation after notification
  packages/~/infra/crisp/lib/src/api#mock.ts
  packages/~/infra/crisp/lib/src/api.ts
  packages/~/infra/crisp/lib/src/index.ts
  packages/~/moderations/lib/src/usecase/respond_to_ticket.ts
  packages/~/users/lib/src/usecase/ResetMFA.test.ts
  packages/~/users/lib/src/usecase/ResetMFA.ts
Labels: bug, scope: moderations, scope: users, :books: lib, :building_construction: infra

#688 fix(organization): add domain count in the title
  e2e/features/organizations/dinum.feature
  packages/~/organizations/api/src/:id/context.ts
  packages/~/organizations/api/src/:id/index.tsx
  packages/~/organizations/api/src/:id/page.tsx
Labels: bug, :globe_with_meridians: api, scope: organizations, :traffic_light: e2e

#689 feat: add card in about pages
  e2e/features/organizations/dinum.feature
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael.feature
  packages/~/organizations/api/src/:id/Fiche.tsx
  packages/~/organizations/api/src/:id/page.tsx
  packages/~/users/api/src/:id/page.tsx
Labels: enhancement, :globe_with_meridians: api, scope: users, scope: organizations, :traffic_light: e2e

#690 ci(release): remove old release branches
  .github/workflows/release_cron.yaml
Labels: :construction_worker: CI

#691 ci(release): remove old release branches (2)
  .github/workflows/release_cron.yaml
Labels: :construction_worker: CI

#692 test(organization): list the organization
  packages/~/infra/moncomptepro/database/src/testing/index.ts
  packages/~/organizations/repository/src/__snapshots__/get_organizations_list.test.ts.snap
  packages/~/organizations/repository/src/get_organizations_list.test.ts
Labels: enhancement, test case, scope: organizations, :file_cabinet: database, :building_construction: infra

#694 feat(users): reset user password
  packages/~/app/urls/src/pattern.d.ts
  packages/~/users/api/src/:id/index.tsx
  packages/~/users/api/src/:id/page.tsx
Labels: enhancement, :globe_with_meridians: api, scope: users, scope: app

#700 fix(organization): always see verified_by_coop_mediation_numerique
  packages/~/organizations/api/src/:id/members/Table.tsx
Labels: bug, :globe_with_meridians: api, scope: organizations

#701 fix(organization): correct verified_by_coop_mediation_numerique label
  packages/~/organizations/api/src/:id/members/Table.tsx
Labels: bug, :globe_with_meridians: api, scope: organizations

#707 fix(organization): eol after domain creation date
  packages/~/organizations/api/src/:id/domains/Table.tsx
Labels: bug, :globe_with_meridians: api, scope: organizations

#709 chore: workspace dependencies update
  bun.lockb
  package.json
  packages/~/app/api/package.json
  packages/~/app/core/package.json
  packages/~/app/sentry/package.json
  packages/~/app/urls/package.json
  packages/~/config/tailwindcss/package.json
  packages/~/config/typescript/package.json
  packages/~/infra/crisp/lib/package.json
  packages/~/infra/crisp/middleware/package.json
  packages/~/infra/moncomptepro/database/package.json
  packages/~/infra/moncomptepro/lib/package.json
  packages/~/infra/zammad/api/package.json
  packages/~/infra/zammad/lib/package.json
  packages/~/welcome/api/package.json
Labels: :globe_with_meridians: api, scope: app, :books: lib, :file_cabinet: database, :building_construction: infra, scope: welcome, scope: config

#710 chore(deps): update to sentry
  bun.lockb
  packages/~/app/sentry/package.json
Labels: scope: app

#708 Update index.ts
  packages/~/users/lib/src/usecase/ResetMFA.test.ts
  packages/~/users/lib/src/usecase/ResetPassword.test.ts
  packages/~/users/ui/src/templates/index.ts
Labels: scope: users, :lipstick: ui, :books: lib
