Repository proconnect-gouv/hyyypertool, pull requests merged in 2025-04, with the labels that each got.

#846 feat(moderations): add why its rejected
  packages/~/moderations/api/src/:id/$procedures/processed.ts
  packages/~/moderations/api/src/:id/$procedures/rejected.ts
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/lib/src/comment_message.ts
  packages/~/moderations/lib/src/context/rejected.ts
  packages/~/moderations/lib/src/usecase/mark_moderatio_as_rejected.ts
  packages/~/moderations/lib/src/usecase/mark_moderation_as.ts
Labels: :globe_with_meridians: api, scope: moderations, :books: lib

#859 chore(sentry): use sentry_trace_meta_tags
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/__snapshots__/root.test.tsx.snap
  packages/~/app/layout/src/root.ts
  packages/~/app/sentry/src/index.ts
Labels: scope: app

#832 chore(moderation): design flow 2 💥
  e2e/features/moderations/pierre_bon_join_aldp.feature
  e2e/features/organizations/dinum.feature
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  hyyypertool.code-workspace
  packages/~/app/ui/src/button/components/copy.tsx
  packages/~/app/ui/src/button/components/search.tsx
  packages/~/app/ui/src/list/index.ts
  packages/~/moderations/api/src/:id/page.tsx
  packages/~/moderations/ui/src/OrganizationsByUser/OrganizationsByUser.tsx
  packages/~/organizations/api/src/leaders/index.tsx
  packages/~/organizations/ui/src/info/About.tsx
  packages/~/organizations/ui/src/info/Investigation.tsx
  packages/~/organizations/ui/src/info/__snapshots__/About.test.tsx.snap
  packages/~/organizations/ui/src/info/__snapshots__/Investigation.test.tsx.snap
  packages/~/users/api/src/:id/page.tsx
  packages/~/users/ui/src/About/About.tsx
  packages/~/users/ui/src/Investigation/Investigation.tsx
Labels: :globe_with_meridians: api, scope: moderations, scope: users, scope: organizations, :traffic_light: e2e, :lipstick: ui, scope: app

#863 chore: rename MonComptePro to ProConnect
  hyyypertool.code-workspace
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/ui/src/Actions/MemberInvalid.tsx
Labels: :globe_with_meridians: api, scope: moderations, :lipstick: ui

#864 fix(moderation): replace subject by raison in comments
  e2e/bun.lock
  e2e/cypress/support/step_definitions/general.ts
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_dinum.feature
  e2e/features/moderations/reprocess_marie_bon_bosch.feature
  e2e/package.json
  e2e/tsconfig.json
  hyyypertool.code-workspace
  packages/~/app/urls/src/pattern.d.ts
  packages/~/moderations/api/src/:id/$procedures/processed.ts
  packages/~/moderations/api/src/:id/$procedures/rejected.ts
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/lib/src/comment_message.ts
  packages/~/moderations/lib/src/context/rejected.ts
  packages/~/moderations/lib/src/schema/rejected.form.ts
  packages/~/moderations/lib/src/usecase/create_and_send_email_to_user.ts
  packages/~/moderations/lib/src/usecase/mark_moderatio_as_rejected.ts
  packages/~/moderations/lib/src/usecase/mark_moderation_as.ts
  packages/~/moderations/lib/src/usecase/respond_to_ticket.ts
  packages/~/moderations/lib/src/usecase/send_rejected_message_to_user.ts
  packages/~/moderations/ui/src/Actions/MemberInvalid.tsx
  packages/~/moderations/ui/src/Actions/ResponseMessageSelector.tsx
  packages/~/moderations/ui/src/Header/Header.tsx
Labels: :globe_with_meridians: api, scope: moderations, :traffic_light: e2e, :lipstick: ui, scope: app, :books: lib

#828 chore(moderation): create toolbar to manage moderation faster
  e2e/cypress/support/step_definitions/general.ts
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  packages/~/app/ui/package.json
  packages/~/app/ui/src/tag/index.ts
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/api/src/:id/Moderation_Exchanges.tsx
  packages/~/moderations/api/src/:id/page.tsx
  packages/~/moderations/lib/src/schema/validate.form.ts
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/Actions.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberExternal.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberInternal.tsx
  packages/~/moderations/ui/src/Actions/AddDomain.tsx
  packages/~/moderations/ui/src/Actions/MemberInvalid.tsx
  packages/~/moderations/ui/src/Actions/MemberValid.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/ResponseMessageSelector.tsx
  packages/~/moderations/ui/src/Actions/TagInput.tsx
  packages/~/moderations/ui/src/Actions/Toolbar.tsx
  packages/~/moderations/ui/src/Actions/context.ts
  packages/~/moderations/ui/src/Header/__snapshots__/Header.test.tsx.snap
  packages/~/moderations/ui/src/MessageInfo/MessageInfo.tsx
Labels: :globe_with_meridians: api, scope: moderations, scope: organizations, :traffic_light: e2e, :lipstick: ui, scope: app, :books: lib

#875 fix(button): add type="button" on button to close modal and not submit
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
Labels: scope: moderations, :lipstick: ui

#868 Refactor(toolbar): Delete the Actions section to have only the toolbar
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  packages/~/moderations/api/src/:id/email/page/Zammad.tsx
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/Actions.tsx
  packages/~/moderations/ui/src/Actions/Desicison.tsx
  packages/~/moderations/ui/src/Actions/MemberInvalid.tsx
  packages/~/moderations/ui/src/Actions/MemberValid.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/context.ts
  packages/~/moderations/ui/src/Crisp/Crisp.tsx
  packages/~/moderations/ui/src/Header/Header.tsx
  packages/~/moderations/ui/src/Header/__snapshots__/Header.test.tsx.snap
Labels: :globe_with_meridians: api, scope: moderations, :traffic_light: e2e, :lipstick: ui

#877 feat(ui): add toasters
  packages/~/app/layout/package.json
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/__snapshots__/root.test.tsx.snap
  packages/~/app/layout/src/main.tsx
  packages/~/app/layout/src/root.ts
  packages/~/app/ui/src/toast/components/ToasterContainer.tsx
  packages/~/app/ui/src/toast/components/index.ts
  packages/~/app/ui/src/toast/index.ts
  packages/~/moderations/api/src/:id/duplicate_warning/Duplicate_Warning.tsx
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/context.ts
Labels: enhancement, :globe_with_meridians: api, scope: moderations, :lipstick: ui, scope: app

#878 fix(moderation): use keydow and change to detect input changes
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/ResponseMessageSelector.tsx
Labels: scope: moderations, :lipstick: ui
