Repository proconnect-gouv/hyyypertool, pull requests merged in 2025-09, with the labels that each got.

#1065 chore(vscode): update sources folder name
  hyyypertool.code-workspace
Labels: enhancement

#1062 :bug: fix copy button into domains check page
  sources/organizations/api/src/domaines/Page.tsx
Labels: :globe_with_meridians: api, scope: organizations, :lipstick: ui, scope: app

#1108 test(e2e): try ci stabilisation
  e2e/features/moderations/select_verification_type.feature
Labels: :traffic_light: e2e
