Repository proconnect-gouv/hyyypertool, pull requests merged in 2025-05, with the labels that each got.

#890 Update refusal_france_travail.tsx
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/refusal_france_travail.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/refusal_france_travail.tsx
Labels: scope: moderations, :lipstick: ui

#891 Update enseignement_agricole.tsx
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/enseignement_agricole.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/enseignement_agricole.tsx
Labels: scope: moderations, :lipstick: ui

#897 fix(ui): improvement following PR flow 3
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  packages/~/app/ui/src/button/components/copy.tsx
  packages/~/moderations/api/src/:id/page.tsx
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/Actions.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/TagInput.tsx
  packages/~/moderations/ui/src/Actions/Toolbar.tsx
  packages/~/organizations/ui/src/info/About.tsx
  packages/~/organizations/ui/src/info/Investigation.tsx
  packages/~/organizations/ui/src/info/__snapshots__/About.test.tsx.snap
  packages/~/organizations/ui/src/info/__snapshots__/Investigation.test.tsx.snap
  packages/~/users/ui/src/About/About.tsx
Labels: :globe_with_meridians: api, scope: moderations, scope: users, scope: organizations, :traffic_light: e2e, :lipstick: ui, scope: app, :books: lib, :building_construction: infra

#906 wording(moderations): update informations into acceptal & refusal modals
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
Labels: scope: moderations, :traffic_light: e2e, :lipstick: ui

#907 chore(organization): remove dead code
  packages/~/app/urls/src/pattern.d.ts
  packages/~/infra/moncomptepro/lib/src/fetch.ts
  packages/~/infra/moncomptepro/lib/src/index.ts
  packages/~/organizations/api/src/:id/$procedures/index.ts
  packages/~/organizations/api/src/:id/$procedures/verify_domain.ts
  packages/~/organizations/api/src/:id/index.tsx
Labels: :globe_with_meridians: api, scope: organizations, scope: app, :books: lib, :building_construction: infra

#908 doc(readme): update readme with deployment process
  README.md
Labels: :memo: documentation
