Repository proconnect-gouv/hyyypertool, pull requests merged in 2025-01, with the labels that each got.

#731 refactor(crisp): move to @gouvfr-lasuite/proconnect.crisp
  bun.lock
  packages/~/infra/crisp/lib/package.json
Labels: dependencies, :books: lib, :building_construction: infra

#730 feat(moderation): add university email cnrs response
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/university_email_cnrs.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/university_email_cnrs.test.tsx
  packages/~/moderations/ui/src/Actions/responses/university_email_cnrs.tsx
Labels: scope: moderations, :lipstick: ui

#729 feat(moderation): add user with existing account moderation
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/user_with_existing_pc_account.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/user_with_existing_pc_account.test.tsx
  packages/~/moderations/ui/src/Actions/responses/user_with_existing_pc_account.tsx
Labels: scope: moderations, :lipstick: ui

#733 feat(moderation): add more precise existing establishment CNRS response
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/more_precise_existing_establishement_cnrs.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/more_precise_existing_establishement_cnrs.test.tsx
  packages/~/moderations/ui/src/Actions/responses/more_precise_existing_establishement_cnrs.tsx
Labels: scope: moderations, :lipstick: ui

#734 feat(moderation): existing domain name response
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/existing_domain_name.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/existing_domain_name.test.tsx
  packages/~/moderations/ui/src/Actions/responses/existing_domain_name.tsx
  packages/~/moderations/ui/src/Actions/responses/index.ts
Labels: scope: moderations, :lipstick: ui

#735 feat(moderation): association with staff but no domain name
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/association_with_staff_but_no_domain_name.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/association_with_staff_but_no_domain_name.test.tsx
  packages/~/moderations/ui/src/Actions/responses/association_with_staff_but_no_domain_name.tsx
  packages/~/moderations/ui/src/Actions/responses/index.ts
Labels: scope: moderations, :lipstick: ui

#736 feat(moderation): association with staff but no domain name : ordinary person
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/association_ordinary_person.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/association_ordinary_person.test.tsx
  packages/~/moderations/ui/src/Actions/responses/association_ordinary_person.tsx
  packages/~/moderations/ui/src/Actions/responses/index.ts
Labels: scope: moderations, :lipstick: ui

#739 feat(moderation): Seconded agent diplomatie.gouv -> Ministry of the interior
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/seconded_agent_min_interior.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/seconded_agent_min_interior.test.tsx
  packages/~/moderations/ui/src/Actions/responses/seconded_agent_min_interior.tsx
Labels: scope: moderations, :lipstick: ui

#741 feat(moderation): Student - Host organisation
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/student_host_organisation.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/student_host_organisation.test.tsx
  packages/~/moderations/ui/src/Actions/responses/student_host_organisation.tsx
Labels: scope: moderations, :lipstick: ui

#742 feat(moderation): Student - School or training establishment
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/student_school_training_establishment.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/student_school_training_establishment.test.tsx
  packages/~/moderations/ui/src/Actions/responses/student_school_training_establishment.tsx
Labels: scope: moderations, :lipstick: ui

#743 feat(moderation): Agent outside Min Finances -> Chorus Pro
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/agent_outside_min_finance_chorus_pro.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/agent_outside_min_finance_chorus_pro.test.tsx
  packages/~/moderations/ui/src/Actions/responses/agent_outside_min_finance_chorus_pro.tsx
  packages/~/moderations/ui/src/Actions/responses/index.ts
Labels: scope: moderations, :lipstick: ui

#744 feat(moderation): E-mail Public administration - Employing organisation
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/presta_email_admin_public.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/presta_email_admin_public.test.tsx
  packages/~/moderations/ui/src/Actions/responses/presta_email_admin_public.tsx
Labels: scope: moderations, :lipstick: ui

#745 feat(moderation): presta E-mail Employing organisation or beta.gouv
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/presta_email_orga_public_beta_gouv.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/presta_email_orga_public_beta_gouv.test.tsx
  packages/~/moderations/ui/src/Actions/responses/presta_email_orga_public_beta_gouv.tsx
Labels: scope: moderations, :lipstick: ui

#746 feat(moderation): Reservist or other - Personal e-mail
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/reservist_or_other_email_perso.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/reservist_or_other_email_perso.test.tsx
  packages/~/moderations/ui/src/Actions/responses/reservist_or_other_email_perso.tsx
Labels: scope: moderations, :lipstick: ui

#747 chore(deps): update to hono@4.6.17
  bun.lock
  package.json
  packages/hono-slotify/package.json
  packages/~/app/api/package.json
  packages/~/app/layout/package.json
  packages/~/app/middleware/package.json
  packages/~/app/sentry/package.json
  packages/~/app/ui/package.json
  packages/~/app/urls/package.json
  packages/~/auth/api/package.json
  packages/~/config/typescript/package.json
  packages/~/infra/crisp/middleware/package.json
  packages/~/infra/moncomptepro/database/package.json
  packages/~/infra/zammad/api/package.json
  packages/~/moderations/api/package.json
  packages/~/moderations/ui/package.json
  packages/~/organizations/api/package.json
  packages/~/organizations/ui/package.json
  packages/~/proxy/api/package.json
  packages/~/users/api/package.json
  packages/~/users/ui/package.json
  packages/~/welcome/api/package.json
Labels: :globe_with_meridians: api, scope: moderations, scope: users, scope: organizations, :lipstick: ui, scope: app, :file_cabinet: database, :building_construction: infra, scope: welcome, scope: auth, scope: config, scope: proxy

#748 fix(typo): replace agentConnect with ProConnect
  packages/~/welcome/api/src/index.tsx
Labels: :globe_with_meridians: api, scope: welcome

#740 feat(moderation): Agent - departmental e-mail address -> Admin centrale
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/agent_comcom_comaglo.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_comaglo.test.tsx
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_comaglo.tsx
  packages/~/moderations/ui/src/Actions/responses/index.ts
Labels: scope: moderations, :lipstick: ui

#751 fix(moderation): fix wrong label and describe test on moderation
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/agent_comcom_comaglo.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_comaglo.test.tsx
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_comaglo.tsx
Labels: scope: moderations, :lipstick: ui

#752 feat(moderation): Agent “ComCom, ComAgglo, Métropole” —> Communes
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/agent_comcom_to_commune.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_to_commune.test.tsx
  packages/~/moderations/ui/src/Actions/responses/agent_comcom_to_commune.tsx
  packages/~/moderations/ui/src/Actions/responses/index.ts
Labels: scope: moderations, :lipstick: ui

#753 feat(moderation): delete unused responses type
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/already_signed.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/deprecated_conseiller_numerique_email.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/already_signed.test.tsx
  packages/~/moderations/ui/src/Actions/responses/already_signed.tsx
  packages/~/moderations/ui/src/Actions/responses/chorus_pro_error.tsx
  packages/~/moderations/ui/src/Actions/responses/deprecated_conseiller_numerique_email.test.tsx
  packages/~/moderations/ui/src/Actions/responses/deprecated_conseiller_numerique_email.tsx
  packages/~/moderations/ui/src/Actions/responses/first_last_name.tsx
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/invalid_job.tsx
  packages/~/moderations/ui/src/Actions/responses/invalid_name_job.tsx
  packages/~/moderations/ui/src/Actions/responses/link_with_eduction_gouv_fr.tsx
  packages/~/moderations/ui/src/Actions/responses/link_with_organization.tsx
  packages/~/moderations/ui/src/Actions/responses/mobilic.tsx
  packages/~/moderations/ui/src/Actions/responses/use_pro_email.tsx
Labels: scope: moderations, :lipstick: ui

#754 update(moderation): replace url
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/missing_name.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/missing_name.tsx
Labels: scope: moderations, :lipstick: ui
