Repository proconnect-gouv/hyyypertool, pull requests merged in 2025-06, with the labels that each got.

#919 fix(moderation): add sendNotification component
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
Labels: scope: moderations, :traffic_light: e2e, :lipstick: ui

#920 chore(pkg): update to @types/bun
  bun.lock
  package.json
  packages/~/app/api/package.json
  packages/~/app/core/package.json
  packages/~/app/core/tsconfig.json
  packages/~/app/layout/package.json
  packages/~/app/layout/tsconfig.json
  packages/~/app/sentry/package.json
  packages/~/app/sentry/tsconfig.json
  packages/~/app/ui/tsconfig.json
  packages/~/app/urls/tsconfig.json
  packages/~/config/typescript/base/tsconfig.json
  packages/~/config/typescript/bun/tsconfig.json
  packages/~/config/typescript/package.json
  packages/~/infra/crisp/middleware/package.json
  packages/~/infra/moncomptepro/database/tsconfig.json
  packages/~/infra/zammad/api/package.json
  packages/~/infra/zammad/api/tsconfig.json
  packages/~/moderations/lib/package.json
  packages/~/moderations/ui/package.json
  packages/~/organizations/api/package.json
  packages/~/users/ui/package.json
  packages/~/welcome/api/package.json
  packages/~/welcome/api/tsconfig.json
  tsconfig.json
Labels: enhancement, :globe_with_meridians: api, scope: moderations, scope: users, scope: organizations, :lipstick: ui, scope: app, :books: lib, :file_cabinet: database, :building_construction: infra, scope: welcome, scope: config

#851 chore(deps): update to tailwindcss@4
  bun.lock
  package.json
  packages/~/app/api/src/error.tsx
  packages/~/app/api/src/not-found.tsx
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/__snapshots__/root.test.tsx.snap
  packages/~/app/layout/src/main.tsx
  packages/~/app/layout/src/root.test.tsx
  packages/~/app/layout/src/root.ts
  packages/~/app/middleware/src/NotAuthorized.tsx
  packages/~/app/ui/src/button/components/copy.tsx
  packages/~/app/ui/src/button/index.ts
  packages/~/app/ui/src/table/index.ts
  packages/~/app/ui/src/tag/index.ts
  packages/~/app/ui/src/visually_hidden/index.ts
  packages/~/app/ui/tailwind.css
  packages/~/config/tailwindcss/package.json
  packages/~/infra/crisp/ui/src/Message/index.tsx
  packages/~/moderations/api/src/:id/email/page/Message.tsx
  packages/~/moderations/api/src/:id/not-found.tsx
  packages/~/moderations/api/src/page.tsx
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberExternal.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberInternal.tsx
  packages/~/moderations/ui/src/Actions/AddDomain.tsx
  packages/~/moderations/ui/src/Actions/RefusalModal.tsx
  packages/~/moderations/ui/src/Actions/SendNotification.tsx
  packages/~/moderations/ui/src/Actions/Toolbar.tsx
  packages/~/organizations/api/src/:id/Fiche.tsx
  packages/~/organizations/api/src/:id/domains/Table.tsx
  packages/~/organizations/api/src/:id/members/Table.tsx
  packages/~/organizations/api/src/:id/not-found.tsx
  packages/~/organizations/api/src/:id/page.tsx
  packages/~/organizations/api/src/domaines/Page.tsx
  packages/~/organizations/api/src/page.tsx
  packages/~/organizations/ui/src/info/Investigation.tsx
  packages/~/organizations/ui/src/info/__snapshots__/About.test.tsx.snap
  packages/~/users/api/src/:id/moderations/Table.tsx
  packages/~/users/api/src/:id/not-found.tsx
  packages/~/users/api/src/:id/organizations/Table.tsx
  packages/~/users/api/src/:id/page.tsx
  packages/~/users/api/src/page.tsx
  packages/~/welcome/api/src/_client/hyyypertitle.ts
  packages/~/welcome/api/src/index.tsx
Labels: dependencies, :globe_with_meridians: api, scope: moderations, scope: users, scope: organizations, :lipstick: ui, scope: app, :building_construction: infra, scope: welcome, scope: config

#926 refacto(seed): create specific file for user & organisation
  packages/~/infra/moncomptepro/database/src/seed/insert.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/abracadabra.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/aldp.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/dengi.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/dinum.ts
  packages/~/infra/moncomptepro/database/src/seed/organizations/sak.ts
  packages/~/infra/moncomptepro/database/src/seed/users/jeanbon.ts
  packages/~/infra/moncomptepro/database/src/seed/users/pierrebon.ts
  packages/~/infra/moncomptepro/database/src/seed/users/raphael.ts
  packages/~/infra/moncomptepro/database/src/seed/users/raphael_alpha.ts
  packages/~/infra/moncomptepro/database/src/seed/users/richardbon.ts
Labels: :file_cabinet: database, :building_construction: infra

#925 chore(moderation): create checkbox to add domain as internal or external
  e2e/features/moderations/marie_bon_join_bosch.feature
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/ui/src/Actions/AcceptModal.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberExternal.tsx
  packages/~/moderations/ui/src/Actions/AddAsMemberInternal.tsx
  packages/~/moderations/ui/src/Actions/AddDomain.tsx
  packages/~/organizations/lib/src/usecase/AddVerifiedDomain.ts
Labels: :globe_with_meridians: api, scope: moderations, scope: organizations, :traffic_light: e2e, :lipstick: ui, :books: lib

#927 fix(app): redirect_uri missmatch issue
  .env
  packages/~/auth/api/src/agentconnect.ts
  packages/~/auth/api/src/index.ts
Labels: bug, :globe_with_meridians: api, scope: auth

#937 feat(moderation): add new verification type
  packages/~/moderations/ui/src/Actions/TagInput.tsx
Labels: scope: moderations, :lipstick: ui, :books: lib, :building_construction: infra

#953 Update and rename accountant.tsx to refusal_interieur_gouv.tsx
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/refusal_interieur_gouv.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/accountant.tsx
  packages/~/moderations/ui/src/Actions/responses/index.ts
  packages/~/moderations/ui/src/Actions/responses/refusal_interieur_gouv.test.tsx
  packages/~/moderations/ui/src/Actions/responses/refusal_interieur_gouv.tsx
Labels: scope: moderations, :lipstick: ui

#950 Update refusal_france_travail.tsx
  packages/~/moderations/ui/src/Actions/responses/refusal_france_travail.tsx
Labels: scope: moderations, :lipstick: ui
