Repository proconnect-gouv/hyyypertool, pull requests merged in 2025-07, with the labels that each got.

#975 🔧 improve dependabot config for bun monorepo support
  .github/dependabot.yml
Labels: :construction_worker: CI

#1006 📝 add CONTRIBUTING.md
  CONTRIBUTING.md
Labels: :memo: documentation

#1031 🚑 manually revert commit fb97892 to fix the verification type and the front
  bun.lock
  packages/~/app/api/package.json
  packages/~/app/layout/src/__snapshots__/main.test.tsx.snap
  packages/~/app/layout/src/__snapshots__/root.test.tsx.snap
  packages/~/app/layout/src/root.ts
Labels: :globe_with_meridians: api, scope: app

#1035 ✏️ improve cucumber sentences
  e2e/cypress/support/step_definitions/mockserver.ts
  e2e/features/auth/connexion.feature
  e2e/features/moderations/jean_bon_do_not_join_dinum.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  e2e/features/moderations/pierre_bon_join_aldp.feature
  e2e/features/moderations/reprocess_marie_bon_bosch.feature
  e2e/features/moderations/richard_bon_join_dengi.feature
  e2e/features/organizations/dinum.feature
  e2e/features/organizations/yes_we_hack_domain_verification.feature
  e2e/features/users/jean_bon.feature
  e2e/features/users/raphael.feature
Labels: :traffic_light: e2e

#1037 ✅ add single factor authent test
  sources/auth/api/src/index.test.ts
  sources/auth/api/src/index.ts
Labels: :globe_with_meridians: api, scope: auth

#1032 🚑 re-revert commit fb97892 to fix the verification type and the front
  bun.lock
  packages/hono-slotify/src/__snapshots__/indext.test.tsx.snap
  sources/app/api/package.json
  sources/app/layout/src/__snapshots__/main.test.tsx.snap
  sources/app/layout/src/__snapshots__/root.test.tsx.snap
  sources/app/layout/src/root.ts
  sources/moderations/ui/src/Actions/responses/__snapshots__/admin_centrale.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/agent_comcom_comaglo.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/agent_comcom_to_commune.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/agent_outside_min_finance_chorus_pro.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/association_ordinary_person.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/association_with_staff_but_no_domain_name.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/domain_name_not_found.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/enseignement_agricole.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/first_and_last_name_inversion.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/gendarmerie_agent.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/link_with_chosen_organization.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/min_armee_pec.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/min_armees.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/min_armees_terre_marine_musee.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/missing_name.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/more_precise_existing_establishement_cnrs.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/name_incorrectly_entered.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/non_teaching_agent.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/occupation_incorrectly_entered.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/occupation_incorrectly_entered_not_blocking.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/presta_email_admin_public.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/presta_email_orga_public_beta_gouv.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/public_or_private_organization.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/refusal_france_travail.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/refusal_interieur_gouv.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/reservist_or_other_email_perso.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/seconded_agent_min_interior.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/student_host_organisation.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/student_school_training_establishment.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/teacher_academic_email.test.tsx.snap
  sources/moderations/ui/src/Actions/responses/__snapshots__/university_email_cnrs.test.tsx.snap
  sources/moderations/ui/src/Header/__snapshots__/Header.test.tsx.snap
  sources/organizations/repository/src/__snapshots__/get_organizations_list.test.ts.snap
  sources/organizations/ui/src/info/__snapshots__/About.test.tsx.snap
  sources/organizations/ui/src/info/__snapshots__/InactiveWarning.test.tsx.snap
  sources/organizations/ui/src/info/__snapshots__/Investigation.test.tsx.snap
Labels: :globe_with_meridians: api, scope: moderations, scope: organizations, :lipstick: ui, scope: app, :file_cabinet: database

#1046 🚦 refactor(e2e): reorganize moderation tests by feature
  .github/workflows/e2e.yml
  README.md
  e2e/README.md
  e2e/features/moderations/accept_blocking_moderation.feature
  e2e/features/moderations/add_external_member.feature
  e2e/features/moderations/add_internal_member.feature
  e2e/features/moderations/handle_big_organization.feature
  e2e/features/moderations/handle_duplicate_requests.feature
  e2e/features/moderations/jean_bon_join_abracadabra.feature
  e2e/features/moderations/manage_external_domain.feature
  e2e/features/moderations/manage_internal_domain.feature
  e2e/features/moderations/marie_bon_join_bosch.feature
  e2e/features/moderations/reject_blocking_moderation.feature
  e2e/features/moderations/reprocess_completed_moderation.feature
  e2e/features/moderations/verify_domain.feature
  sources/moderations/ui/src/Actions/AcceptModal.tsx
Labels: scope: moderations, :traffic_light: e2e, :lipstick: ui, :construction_worker: CI, :memo: documentation
