Repository proconnect-gouv/hyyypertool, pull requests merged in 2025-02, with the labels that each got.

#768 fix(moderation): existing email response
  packages/~/moderations/ui/src/Actions/responses/__snapshots__/user_with_existing_pc_account.test.tsx.snap
  packages/~/moderations/ui/src/Actions/responses/user_with_existing_pc_account.test.tsx
  packages/~/moderations/ui/src/Actions/responses/user_with_existing_pc_account.tsx
Labels: bug, scope: moderations, :lipstick: ui

#774 fix(crips): add CRISP_RESOLVE_DELAY
  packages/~/app/core/src/config/env.ts
  packages/~/moderations/api/src/:id/$procedures/rejected.ts
  packages/~/moderations/lib/src/context/rejected.ts
  packages/~/moderations/lib/src/usecase/respond_to_ticket.ts
  packages/~/users/api/src/:id/index.tsx
  packages/~/users/lib/src/usecase/ResetMFA.test.ts
  packages/~/users/lib/src/usecase/ResetMFA.ts
  packages/~/users/lib/src/usecase/ResetPassword.test.ts
  packages/~/users/lib/src/usecase/ResetPassword.ts
Labels: bug, :globe_with_meridians: api, scope: moderations, scope: users, scope: app, :books: lib

#792 feat(infra): use @gouvfr-lasuite/proconnect.identite
  bun.lock
  packages/~/app/middleware/src/moncomptepro_pg.ts
  packages/~/app/middleware/src/set_moncomptepro_pg.ts
  packages/~/infra/moncomptepro/database/src/index.ts
  packages/~/infra/moncomptepro/database/tsconfig.json
  packages/~/infra/moncomptepro/lib/package.json
  packages/~/infra/moncomptepro/lib/src/index.ts
  packages/~/infra/moncomptepro/lib/src/sdk.ts
  packages/~/moderations/api/src/:id/$procedures/validate.e2e.test.ts
  packages/~/moderations/api/src/:id/$procedures/validate.ts
  packages/~/moderations/api/src/:id/context.ts
  packages/~/moderations/api/src/:id/index.tsx
  packages/~/moderations/lib/src/usecase/member_join_organization.ts
  packages/~/organizations/api/src/:id/context.ts
  packages/~/organizations/api/src/:id/index.tsx
  packages/~/organizations/lib/src/usecase/AddVerifiedDomain.test.ts
  packages/~/organizations/lib/src/usecase/AddVerifiedDomain.ts
  packages/~/organizations/lib/src/usecase/add_verified_domain.ts
  packages/~/organizations/lib/src/usecase/index.ts
  packages/~/organizations/ui/src/info/About.tsx
Labels: enhancement, :globe_with_meridians: api, scope: moderations, scope: organizations, :lipstick: ui, scope: app, :books: lib, :file_cabinet: database, :building_construction: infra

#793 refactor(moncomptepro): use sdk file export point
  packages/~/infra/moncomptepro/lib/src/sdk.ts
Labels: :books: lib, :building_construction: infra

#783 feat(moderation): list organisation domain in reponse type
  packages/~/moderations/api/src/:id/page.tsx
  packages/~/moderations/ui/src/Actions/context.ts
  packages/~/moderations/ui/src/Actions/responses/existing_domain_name.test.tsx
  packages/~/moderations/ui/src/Actions/responses/existing_domain_name.tsx
  packages/~/organizations/lib/src/usecase/SuggestOrganizationDomains.ts
  packages/~/organizations/lib/src/usecase/index.ts
  packages/~/organizations/repository/src/get_domains.test.ts
  packages/~/organizations/repository/src/get_domains.ts
Labels: :globe_with_meridians: api, scope: moderations, scope: organizations, :lipstick: ui, :books: lib, :file_cabinet: database

#794 refactor(moncomptepro): use sdk file export point
  bun.lock
  packages/~/infra/crisp/lib/package.json
  packages/~/infra/crisp/lib/src/api.ts
  packages/~/infra/crisp/lib/src/index.ts
  packages/~/infra/crisp/lib/src/links.ts
  packages/~/infra/crisp/lib/src/types.ts
  packages/~/infra/moncomptepro/lib/package.json
  packages/~/moderations/api/src/:id/email/page/context.ts
  packages/~/moderations/lib/src/usecase/GetCripsFromSessionId.ts
  packages/~/moderations/ui/src/Crisp/Crisp.tsx
Labels: enhancement, :globe_with_meridians: api, scope: moderations, :lipstick: ui, :books: lib, :building_construction: infra

#802 feature(searchBar): add searchbar for response type
  packages/~/moderations/ui/src/Actions/ResponseMessageSelector.tsx
  packages/~/moderations/ui/src/Actions/context.ts
Labels: scope: moderations, :lipstick: ui

#803 fix(organization): list by user id pagination
  packages/~/app/urls/src/pattern.d.ts
  packages/~/moderations/ui/src/OrganizationsByUser/OrganizationsByUser.tsx
  packages/~/moderations/ui/src/UsersByOrganization/UsersByOrganization.tsx
  packages/~/users/api/src/:id/organizations/Table.tsx
  packages/~/users/api/src/:id/organizations/context.tsx
  packages/~/users/api/src/:id/organizations/index.tsx
  packages/~/users/api/src/:id/page.tsx
Labels: bug, :globe_with_meridians: api, scope: moderations, scope: users, :lipstick: ui, scope: app
